<app-step-modal-description
  headline="{{ 'Import.YourProjects' | translate }}"
  />

<ng-container *ngIf="isLoading">
  <app-inline-loading statusText="{{ 'Loading.Projects' | translate }}" />
</ng-container>
<ng-container *ngIf="!isLoading && isError">
  <app-jira-error-page
    [error]="error"
    (reconnect)="reconnectEmitter.emit()">
  </app-jira-error-page>
</ng-container>
<div class="selection-wrapper" *ngIf="!isLoading">
  <ng-container *ngIf="isLoaded">
    <app-project-choice-button
      class="choice"
      [selected]="selected === board.id.toString()"
      [headline]="board.name"
      status=""
      *ngFor="let board of data; trackBy: identifyBoard"
      (click)="select(board)"
      />

    <ng-container *ngIf="boardsQuery.data()?.length == 0">
      {{ "Import.NoProjectsAvailable" | translate }}
    </ng-container>
  </ng-container>
</div>

