<div *kwRole="'pro'">
  <div class="badge pro">Pro</div>
</div>
<div *kwRole="'signedup'">
  <div class="badge signedup" (click)="openPlansModal()">Free</div>
</div>
<div *kwRole="'anonymous'">
  <div class="badge free" (click)="openPlansModal()">Free</div>
</div>

<app-auth-modal #authModal>
</app-auth-modal>
