:host {
  --pro-font-color: #2b3038;
  --pro-badge-color: #abb1ba;
  --free-font-color: #4183e5;
  --free-badge-color: #c6ddff;

  .badge {
    padding: var(--spacing-1) var(--spacing-2);
    font-size: var(--text-xs);
    font-weight: var(--font-semibold);
    line-height: var(--text-xs);
    border-radius: var(--spacing-1);
    text-transform: capitalize;
    user-select: none;
  }

  .badge.pro {
    color: var(--pro-font-color);
    background-color: var(--pro-badge-color);
  }

  .badge.free,
  .badge.signedup {
    cursor: pointer;
    color: var(--free-font-color);
    background-color: var(--free-badge-color);
  }
}
