<div class="bottom-area" [@blockInitialRenderAnimation]>
  <app-card-hand
    *ngIf="!isRevealed()"
    [@inOutAnimation]
    [room]="room"
    [player]="player"
    [cardValueTemp]="cardValueTemp"
    (breakCardClicked)="bubbleUpBreakCardClicked()"
    (cardClicked)="bubbleUpCardClicked($event)"
  >
  </app-card-hand>

  <app-stats-new
    *ngIf="newStatisticsEnabled && !showAverage && isRevealed()"
    [@inOutAnimation]
    [stats]="stats"
  ></app-stats-new>

  <app-statistics
    *ngIf="newStatisticsEnabled && showAverage && isRevealed()"
    [@inOutAnimation]
    [stats]="stats"
  ></app-statistics>
</div>
