:host {
  .bottom-area {
    width: 100%;
    height: 165px;
    min-height: 165px;
    border-bottom: 1px solid #47596f1f;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
