<app-user-menu-v2
  *ngIf="userFeatureEnabled && variant === 'new'"
  size="larger" placement="bottom-end" context="homepage"
  (logout)="handleLogout()"
  (login)="handleLogin()"
  ></app-user-menu-v2>
<app-user-menu
  *ngIf="userFeatureEnabled && variant === 'old'"
  (logout)="handleLogout()"
  (login)="handleLogin()"
  ></app-user-menu>

<app-password-reset-modal #resetModal>
</app-password-reset-modal>

<app-confirmation-box #signOutModal>
  {{ "Entrance.Confirm.SignOut" | translate }}
</app-confirmation-box>
