<app-tasks-session-header
  title="{{ 'Statistic' | translate}} - {{ game?.name ?? '' }}"
/>

<div class="panel">
  <div class="title">{{ 'Ressource.Allocation' | translate }}</div>

  <div class="content">
    <app-stats-ressource-allocation></app-stats-ressource-allocation>
  </div>

  <div class="buttons">
    <app-button flavor="project-management" (click)="showPlans(Feature.RessourceAllocation, 'export clicked')">
      {{ "Export" | translate }}
    </app-button>
    <app-button flavor="project-management" (click)="showPlans(Feature.RessourceAllocation, 'development clicked')">
      {{ "Development" | translate }}
    </app-button>
    <app-button flavor="project-management" (click)="showPlans(Feature.RessourceAllocation, 'details clicked')">
      {{ "Details" | translate }}
    </app-button>
  </div>

  <app-enable-with-pro (click)="showPlans(Feature.RessourceAllocation, 'pro disclaimer clicked')"></app-enable-with-pro>
</div>

<div class="panel">
  <div class="title">
    <span>{{ 'AutomaticForecast' | translate }}</span>
    <span class="action" (click)="showPlans(Feature.AutomaticForecast, 'edit base data clicked')">
      <app-icon name="edit-line" size="12px"/> {{ 'EditBaseData' | translate }}
    </span>
  </div>

  <div class="content">
    <app-stats-automatic-forecast></app-stats-automatic-forecast>
  </div>

  <div class="buttons">
    <app-button flavor="project-management" (click)="showPlans(Feature.AutomaticForecast, 'export clicked')">
      {{ "Export" | translate }}
    </app-button>
    <app-button flavor="project-management" (click)="showPlans(Feature.AutomaticForecast, 'edit clicked')">
      {{ "Edit" | translate }}
    </app-button>
    <app-button flavor="project-management" (click)="showPlans(Feature.AutomaticForecast, 'details clicked')">
      {{ "Details" | translate }}
    </app-button>
  </div>

  <app-enable-with-pro (click)="showPlans(Feature.AutomaticForecast, 'pro disclaimer clicked')"></app-enable-with-pro>
</div>

<div class="panel" *ngIf="false">
  <div class="title">{{ 'ForecastDetails' | translate }}</div>

  <div class="content">
    <app-stats-forecast-details></app-stats-forecast-details>
  </div>

  <div class="buttons">
    <app-button flavor="project-management" (click)="showPlans(Feature.ForecastDetails, 'export clicked')">
      {{ "Export" | translate }}
    </app-button>
    <app-button flavor="project-management" (click)="showPlans(Feature.ForecastDetails, 'save clicked')">
      {{ "Save" | translate }}
    </app-button>
  </div>

  <app-enable-with-pro (click)="showPlans(Feature.ForecastDetails, 'pro disclaimer clicked')"></app-enable-with-pro>
</div>

<app-alert-modal #alertModal></app-alert-modal>

<app-auth-modal #authModal></app-auth-modal>
