:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  .panel {
    font-size: 10px;
    background: #242730;
    border: 1px solid #333742;
    border-radius: var(--spacing-1);

    display: flex;
    flex-direction: column;

    position: relative;

    .title {
      font-weight: var(--font-light);
      padding: var(--spacing-3) var(--spacing-2) var(--spacing-3) var(--spacing-2);
      white-space: nowrap;

      display: flex;
      justify-content: space-between;

      .action {
        display: flex;
        gap: var(--spacing-1);

        cursor: pointer;
        font-weight: var(--font-normal);
        white-space: nowrap;
      }
    }

    .content {
      padding: 0 var(--spacing-2) 0 var(--spacing-2);
    }

    .buttons {
      display: flex;
      gap: var(--spacing-2);
      justify-content: flex-end;

      padding: var(--spacing-3) var(--spacing-2) var(--spacing-3) var(--spacing-2);
    }
  }
}
