<div class="disclaimer-wrapper" *ngIf="!isSignedIn">
  <app-icon name="information-fill" alt=""/>
  <span [innerHTML]='"Task.ReadOnly" | translate | rawHtml'></span>
</div>
<form (change)="changeTask(task)" *ngIf="task">
  <div class="field field-subject">
    <label for="subject">{{ "Task.Subject" | translate }}</label>
    <app-input
      id="subject"
      flavor="task"
      name="subject"
      type="text"
      [value]="subject"
      (change)="onSubjectChange($event)"
      [placeholder]="'Task.Subject' | translate"
      [disabled]="!isSignedIn"
      (contextmenu)="allowContextMenu($event)"
    />
  </div>
  <div class="field field-description">
    <label for="description">{{ "Task.Description" | translate }}</label>
    <textarea
      *ngIf="!newTaskModal"
      id="description"
      name="description"
      type="text"
      class="input description"
      [(ngModel)]="task.task.description"
      [placeholder]="'Task.Description' | translate"
      [disabled]="!isSignedIn"
      (contextmenu)="allowContextMenu($event)"
    ></textarea>
    <div *ngIf="newTaskModal"
      class="ngx-editor-wrapper">
      <ngx-editor-menu
        [editor]="editor"
        *ngIf="isSignedIn && editor"
      ></ngx-editor-menu>
      <ngx-editor
        class="ngx-editor"
        id="description"
        name="description"
        type="text"
        [editor]="editor"
        [ngModel]="descriptionDoc"
        (ngModelChange)="onChange($event)"
        [placeholder]="'Task.Description' | translate"
        [disabled]="!isSignedIn"
        (contextmenu)="allowContextMenu($event)"
        *ngIf="editor"
      ></ngx-editor>
    </div>
  </div>
  <div class="field field-estimate">
    <label for="estimate">{{ "Task.Estimate" | translate }}</label>
    <app-input
      id="estimate"
      flavor="task"
      name="estimate"
      type="text"
      [value]="estimate"
      [placeholder]="'Task.Estimate' | translate"
      [disabled]="!isSignedIn"
      (change)="onEstimateChange($event)"
      (contextmenu)="allowContextMenu($event)"
    />
  </div>
  <div class="subtasks-container" *ngIf="!newTaskModal">
    <div class="subtask-controls">
      <label for="subtasks">{{ "Subtask.Label" | translate }}</label>
      <div class="create-subtask" *ngIf="isSignedIn" (click)="addSubtask()"><img src="assets/icon-plus.svg"/></div>
    </div>
    <div
      id="subtasks"
      class="scrolling-inner"
      cdkDropList
      (cdkDropListDropped)="dropSubtask($event)"
    >
      <div
        *ngFor="let subtask of task.subtasks"
        cdkDrag
        [cdkDragStartDelay]="dragStartDelay"
        [cdkDragDisabled]="!isSignedIn"
      >
        <div *ngIf="!subtask.deleted" class="subtask" [class.writable]="isSignedIn">
          <img
            class="icon drag-icon"
            src="assets/icon-draggable-white.svg"
          />
          <input
            type="checkbox"
            class="checkbox"
            name="checked-{{ subtask.id }}"
            [(ngModel)]="subtask.checked"
            [disabled]="!isSignedIn"
          />
          <input
            name="subject-{{ subtask.id }}"
            type="text"
            class="subtask-input"
            [(ngModel)]="subtask.subject"
            [placeholder]="'Subtask.Placeholder' | translate"
            [disabled]="!isSignedIn"
          />
          <app-settings-menu
            [disabled]="!isSignedIn"
            [icon]="'assets/icon-three-dots.svg'"
          >
            <div class="menuitem" (click)="deleteSubtask(subtask)">
              <img src="assets/icon-delete-bin-fill.ffffff.svg"/>
              {{ "Delete" | translate }}
            </div>
          </app-settings-menu>
        </div>
      </div>
    </div>
  </div>
  <app-subtask-sketch
    *ngIf="newTaskModal"
    class="grid-full-width"
    (taskChanged)="handleSubtasksChanged()"
    [task]="task">
  </app-subtask-sketch>
</form>

<app-auth-modal #authModal>
</app-auth-modal>
