@import "../../../../assets/styles/_input.scss";

@mixin subtask-hover {
  cursor: pointer;
  .subtask-input {
    cursor: pointer;
  }

  app-settings-menu {
    display: inline-block;
  }
  .drag-icon {
    display: inline-block;
  }
}

:host {
  --color-menubar-background: #17171e;

  .disclaimer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-1);
    color: var(--color-warning);
    border: 1px solid var(--color-warning);
    margin-bottom: var(--spacing-3);
    padding: var(--spacing-1);
  }

  img {
    height: var(--spacing-4);
    aspect-ratio: 1;
  }

  app-disclaimer {
    padding: 0;
  }

  span {
    color: var(--color-warning);
    font-family: "IBM Plex Sans";
    font-size: var(--text-xxs);
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 100% */

    b {
      background: red;
      font-weight: 700;
    }

    emph {
      text-decoration: underline;
    }
  }

  textarea {
    min-height: 8rem;
  }

  .ngx-editor-wrapper {
    // --ngx-editor-border-radius: 4px;
    --ngx-editor-background-color: var(--color-controls-background);
    --ngx-editor-text-color: var(--color-gray-100);
    // --ngx-editor-placeholder-color: #6c757d;
    --ngx-editor-border-radius: 0;
    --ngx-editor-border-color: var(--color-gray-600);
    // --ngx-editor-wrapper-border-color: rgba(0, 0, 0, .2);
    --ngx-editor-menubar-bg-color: var(--color-menubar-background);
    --ngx-editor-menubar-padding: var(--spacing-1);
    // --ngx-editor-menubar-height: 30px;
    --ngx-editor-blockquote-color: var(--color-gray-600);
    // --ngx-editor-blockquote-border-width: 3px;
    --ngx-editor-icon-size: var(--spacing-6);
    --ngx-editor-popup-bg-color: var(--color-controls-background);
    --ngx-editor-popup-border-radius: 0;
    // --ngx-editor-popup-shadow: rgba(60, 64, 67, .15) 0px 2px 6px 2px;
    --ngx-editor-menu-item-border-radius: 0;
    --ngx-editor-menu-item-active-color: var(--color-gray-100);
    --ngx-editor-menu-item-hover-bg-color: var(--color-gray-700);
    --ngx-editor-menu-item-active-bg-color: var(--color-primary);
    --ngx-editor-seperator-color: var(--color-gray-600);
    // --ngx-editor-bubble-bg-color: #000;
    // --ngx-editor-bubble-text-color: #fff;
    // --ngx-editor-bubble-item-hover-color: #636262;
    // --ngx-editor-bubble-seperator-color: #fff;
    --ngx-editor-focus-ring-color: var(--color-primary);
    // --ngx-editor-error-color: red;
    --ngx-editor-click-pointer: pointer;

    .ngx-editor {
      height: 100%;
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr min(20%, 96px);
    flex-direction: column;
    gap: 16px 2px;
    padding-top: var(--spacing-4);

    .field {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-1);
    }

    .field-subject {
      grid-row: 1;
      grid-column: 1;
    }

    .field-estimate {
      grid-row: 1;
      grid-column: 2;
    }

    .field-description {
      grid-row: 2;
      grid-column: 1 / span 2;
    }

    .subtasks-container {
      grid-row: 3;
      grid-column: 1 / span 2;
      padding-top: var(--spacing-3);
      border-top: 1px solid var(--color-gray-600);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-1);

      .subtask-controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: var(--spacing-1);
      }

      label {
        flex-grow: 1;
      }

      .create-subtask {
        float: right;
        height: 16px;
        width: 16px;

        &:hover {
          cursor: pointer;
        }
      }

      .subtask {
        border: 1px solid var(--color-gray-600);
        padding: 0 var(--spacing-1) 0 var(--spacing-1);
        margin-bottom: var(--spacing-1);
        display: flex;
        align-items: center;

        .subtask-input {
          border: none;
          padding: var(--spacing-2);
          font-weight: var(--font-medium);
          width: -webkit-fill-available; // chrome
          width: -moz-available; // firefox
        }

        app-settings-menu {
          display: none;
          margin-left: auto;

          .menuitem {
            background-color: var(--color-modal-background);
            padding: var(--spacing-2);
          }
        }

        .drag-icon {
          display: none;
        }

        &.writable:hover {
          @include subtask-hover;
        }
      }

      .cdk-drag-placeholder .subtask {
        @include subtask-hover;
      }
    }

    label {
      color: white;
      font-family: var(--font-sans);
      font-size: var(--text-xs);
      font-style: normal;
      font-weight: var(--font-semibold);
      line-height: normal;
    }
  }

  textarea,
  .input {
    background: var(--color-modal-background);
    border: 1px solid var(--color-gray-600);
  }

  textarea,
  .input,
  textarea::placeholder,
  .input::placeholder {
    color: white;
    padding: 8px 13px;

    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-style: normal;
    font-weight: var(--font-light);
    line-height: normal;

    &:focus {
      border: 1px solid var(--color-primary);
    }
  }

  input, input::placeholder {
    height: var(--spacing-10);
  }

  textarea.description {
    resize: vertical;
  }

  .grid-full-width {
    grid-column: 1 / span 2;
  }
}
