:host {
  .issues-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-px);
    margin: 0;
    padding: 0;
    list-style-type: none;

    .issue {
      display: grid;
      grid-template-columns: var(--spacing-5) 1fr var(--spacing-10);
      gap: var(--spacing-2);
      align-items: center;

      .subject {
        text-decoration: underline;
      }

      .metadata {
        grid-row: 2;
        grid-column: 1 / span 3;
      }

      .icon {
        height: var(--spacing-5);
        aspect-ratio: 1/1;
      }
    }
  }
}
