<div class="issues-wrapper">

  <ng-container *ngFor="let task of tasks">
    <app-issue-list-item>
      <div class="issue">
        <img class="icon" src="assets/icon-task.svg"/>
        <span class="subject">{{ task.subject }}</span>
        <app-new-badge label="{{ 'New' | translate }}" *ngIf="isNewTask(task)"/>
          <span class="metadata">{{ metadataFor(task) }}</span>
      </div>
    </app-issue-list-item>
  </ng-container>

  <ng-container *ngIf="tasks?.length == 0">
    <app-issue-list-item>
      {{ "Export.NoIssuesAvailable" | translate }}
    </app-issue-list-item>
  </ng-container>

</div>
