:host {
  background-color: #fff;
  position: relative;
  border-top: solid var(--color-gray-300) var(--spacing-px);

  .remove-footer-wrapper {
    position: absolute;
    left: 0;
    top: calc(-1 * var(--spacing-2_5));
    height: var(--spacing-5);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .remove-footer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing-1);
    align-items: center;
    justify-content: center;
    background: #fff;
    border: solid var(--color-gray-300) var(--spacing-px);
    border-radius: var(--spacing-0_5);
    padding: var(--spacing-1);

    cursor: pointer;
    font-weight: var(--font-normal);
    font-height: auto;
    font-size: var(--text-xxs);
  }

  a {
    color: initial;
    text-decoration: initial;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
    font-family: var(--font-sans);
    font-weight: var(--font-extralight);
    align-items: center;

    img {
      width: 100px;
      height: 100px;
    }

    .item {
      box-sizing: border-box;
      padding-left: 20px;
    }

    .branding {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding-right: 30px;
    }
  }

  .kehrwasser-ad-wrapper {
    margin-left: var(--spacing-4);
  }
}
