<div class="user-icon">
  <img width="40px" src="assets/icon-user.svg" />
</div>
<div class="user-name-and-actions">
  <div class="player-name">
    <span *ngIf="isLoggedIn">
      {{ userProfile?.email }}
    </span>
    <span *ngIf="!isLoggedIn">
      {{ "Guest" | translate }}
    </span>
  </div>

  <div class="actions" *ngIf="isLoggedIn">
    <div class="logout">
      <a (click)="handleLogout()">{{ "SignOut" | translate }}</a>
    </div>
  </div>

  <div class="actions" *ngIf="!isLoggedIn">
    <div class="login">
      <a (click)="openLoginModal()">{{ "SignIn" | translate }}</a>
    </div>
    <span>•</span>
    <div class="signup">
      <a (click)="openRegisterModal()">{{ "CreateAccount" | translate }}</a>
    </div>
  </div>
</div>
<app-auth-modal #authModal
  (signin)="handleLogin()">
</app-auth-modal>
