
:host {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);

  a {
    cursor: pointer;
  }

  .user-icon {
    width: 38px;
    height: 38px;
    aspect-ratio: 1;

    background-color: #ffffff;
    border-radius: calc(38px / 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-name-and-actions {
    font-family: var(--font-sans);
    font-weight: var(--font-normal);
    font-size: var(--text-xxs);
    line-height: 13px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .actions {
      display: flex;
      gap: var(--spacing-1);
      flex-direction: row;

      .login {
      }

      a {
        color: var(--color-link);
      }
    }
  }
}
