<!-- professional -->
<section class="content-module professional">
  <div class="content">
    <div class="column illustration">
      <img
        src="/assets/startpage-2024/professional-statistics-and-data.png"
        alt="{{ 'HomepageNew.Professional.ImageAlt' | translate }}"
      />
    </div>
    <div class="column text">
      <div class="module-header">
        <div class="headline">
          <div class="meta-headline">
            {{ "HomepageNew.Professional.MetaHeadline" | translate }}
          </div>
          <h1 class="module-title">
            {{ "HomepageNew.Professional.Title.Part1" | translate }}
            <span class="emphasized">{{
              "HomepageNew.Professional.Title.Part2" | translate
            }}</span>
          </h1>
          <div class="marketing-text">
            <p>{{ "HomepageNew.Professional.MarketingText" | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-buttons">
      <app-button flavor="primary" (click)="openDetails()">
        {{ "HomepageNew.Professional.MoreDetails" | translate }}
      </app-button>
    </div>
  </div>
</section>
