<div class="headerbar">
  <div class="headerbar-item left">
    <app-user-menu-v2
      *ngIf="userFeatureEnabled"
      (logout)="showLogoutOptions($event)"
    ></app-user-menu-v2>
  </div>
  <div class="headerbar-item middle">
    <div class="logo" (click)="confirmReturnToStartpage()">
      <img src="assets/AC_Logo_black.svg" />
    </div>
    <app-plan-badge></app-plan-badge>
    <app-settings-menu
      class="overflowmenu-background"
      icon="assets/icon-settings.svg"
      [class.hidden]="!seriesFeatureExists && !customizePlayerFeatureExists"
    >
      <div
        class="menuitem"
        (click)="openCustomizePlayerModal()"
        *ngIf="customizePlayerFeatureExists"
      >
        <img src="assets/icon-person.svg" />
        {{ "Headerbar.CustomizePlayer" | translate }}
      </div>
      <div
        class="menuitem"
        (click)="openLockRoomModal()"
        *ngIf="!experiment203"
      >
        <app-icon *ngIf="!roomIsLocked" name="lock-unlock-fill" size="12px"/>
        <span *ngIf="!roomIsLocked">{{ "Headerbar.LockRoom" | translate }}</span>
        <app-icon *ngIf="roomIsLocked" name="lock-fill" size="12px"/>
        <span *ngIf="roomIsLocked">{{ "Headerbar.LockedRoom" | translate }}</span>
      </div>
      <div
        class="menuitem high-impact"
        (click)="openEditSeriesModal()"
        *ngIf="seriesFeatureExists"
      >
        <img src="assets/icon-adapt.svg" />
        {{ "Headerbar.AdaptSeries" | translate }}
      </div>
      <a class="menuitem" *kwFeature="'experiment203'" (click)="importTasks()">
        <app-icon name="download-2-fill" size="12px"></app-icon>
        {{ "Headerbar.ImportTasks" | translate }}
      </a>
      <a class="menuitem" *kwFeature="'experiment203'" (click)="showPlansForModerateRoom()">
        <app-icon name="user-star-fill" size="12px"></app-icon>
        {{ "Headerbar.ModerateRoom" | translate }}
      </a>
      <a class="menuitem" *kwFeature="'experiment203'" (click)="showPlansForLockRoom()">
        <app-icon name="shield-keyhole-fill" size="12px"></app-icon>
        {{ "Headerbar.SetRoomPassword" | translate }}
      </a>
      <a class="menuitem" *kwFeature="'experiment203'" (click)="showPlansForReadableLink()">
        <app-icon name="link" size="12px"></app-icon>
        {{ "Headerbar.IndividualURL" | translate }}
      </a>
      <a class="menuitem" *kwFeature="'experiment203'" (click)="showPlansForRemoveAds()">
        <app-icon name="advertisement-fill" size="12px"></app-icon>
        {{ "Headerbar.RemoveAds" | translate }}
      </a>
      <div
        class="menuitem separator"
        *ngIf="visitBlogLinkExists || reportIssueLinkExists"
      >
        <hr />
      </div>
      <a
        class="menuitem"
        href="https://www.kehrwasser.com/blog/"
        target="_blank"
        *ngIf="visitBlogLinkExists"
      >
        <img src="assets/icon-blog.svg" /> {{ "Headerbar.Blog" | translate }}</a
      >
      <a
        class="menuitem"
        href="https://gitlab.com/heusinger-open-scrum-poker/heusinger-open-scrum-poker-gui/-/issues/new"
        *ngIf="reportIssueLinkExists"
        target="_blank"
      >
        <img src="assets/icon-issue.svg" />{{
          "Headerbar.Issue" | translate
        }}</a
      >
    </app-settings-menu>
  </div>
  <div class="headerbar-item right">
    <app-connection-status></app-connection-status>
  </div>
</div>

<app-confirmation-box #lockConfirmationBox>
  {{ "Room.LockConfirmation" | translate }}
</app-confirmation-box>

<app-confirmation-box #unlockConfirmationBox>
  {{ "Room.UnlockConfirmation" | translate }}
</app-confirmation-box>

<app-confirmation-box #returnToStartPageConfirmationBox>
  {{ "Room.ReturnToStartpage" | translate }}
</app-confirmation-box>

<app-alert-modal #alertModal></app-alert-modal>

<app-logout-options-modal #signoutModal
  [playerId]="player.id"
  [roomId]="room.id"
  [mode]="signOutMode"
  (logout)="onLogout()">
</app-logout-options-modal>

<app-auth-modal #authModal>
</app-auth-modal>

<app-custom-cards-modal
  *ngIf="room && player"
  [room]="room"
  [player]="player">
</app-custom-cards-modal>

<app-customize-player-modal
  *ngIf="room && player"
  [roomId]="room.id"
  [player]="player"
  [players]="players">
</app-customize-player-modal>
