:host {
  --panel-border-color: #000;

  .headerbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .headerbar-item {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
    margin: 16px 16px;
    font-size: 20px;
    line-height: 0.7;
    flex: 1;

    &.middle {
      justify-content: center;
      gap: var(--spacing-2);
    }

    &.right {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
  }

  .avatar {
    width: 36px;
    display: flex;
    justify-content: space-around;

    div {
      display: flex;
      justify-content: center;
      background: var(--color-gray-50);
      border-radius: 50%;
      padding: 2px;
      height: 25px;
      width: 25px;
      border: 2px solid transparent;

      img {
        height: 25px;
        padding: 5px;
      }

      &.you {
        border: 2px solid greenyellow;
      }
    }
  }

  .settings {
    display: flex;
    justify-content: space-around;
    img {
      padding: 5px;
    }
    .background {
      background-color: black;
      height: 25px;
      width: 25px;
    }

    .button {
      &.button-squared {
        width: 5em;
        height: 5em;
        background: black;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border-color: white;
        padding: 0;

        img {
          height: 4em;
        }
      }
    }
  }

  .overflowmenu-background {
    display: flex;
    background-color: var(--color-controls-background);
  }

  .menuitem {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    background-color: var(--color-controls-background);
    color: var(--color-gray-50);
    top: var(--spacing-6);
    border: none;
    font-size: var(--text-xs);
    text-align: left;
    height: var(--spacing-6);
    padding: 0px 6px 0px 6px;
    cursor: pointer;

    img {
      width: 12px;
      height: 12px;
    }

    &:hover:is(:not(.separator)) {
      background-color: var(--color-primary);

      &.high-impact {
        background-color: var(--color-danger);
      }
    }
  }

  .separator {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    height: 12px;

    hr {
      border-top: solid 1px var(--color-gray-50);
      width: 100%;
    }
  }

  .dropbtn {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    font-size: var(--text-xs);
    border: none;
    cursor: pointer;

    img {
      padding: 0px;
      height: 15px;
      width: 15px;
    }
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: var(--color-primary);
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: var(--text-sm);
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }

  .logo {
    cursor: pointer;
  }
}
