:host {
  background: rgba($color: #000000, $alpha: 0.94);
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-small-device-disclaimer);

  .info {
    color: var(--color-gray-50);
    width: 220px;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-5);

    font-family: var(--font-sans);
    font-weight: var(--font-medium);
    font-size: 15px;

    app-icon {
      color: var(--color-warning);
    }
  }

  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (max-height: 560px), (max-width: 463px) {
  :host {
    display: flex;
  }
}
