<app-tasks-session-header
  title="{{ game.name }}"
  [actions]="active ? activeGameActions : defaultActions"
  (titleClicked)="selectEmitter.emit()"
/>

<div class="scrolling-outer"
     *ngIf="expanded && tasks.length > 0"
     cdkScrollable
>
  <div
    class="scrolling-inner"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <app-task-item
      (click)="editTask(task)"
      [task]="task.task"
      [selected]="currentTaskId == task.task.id"
      [selectable]="active"
      [draggable]="dragEnabled"
      *ngFor="let task of tasks"
      cdkDrag
      [cdkDragStartDelay]="dragStartDelay"
      [cdkDragDisabled]="!dragEnabled"
    ></app-task-item>
  </div>
</div>

<app-disclaimer
  size="medium"
  *ngIf="expanded &&  tasks?.length == 0"
  icon="information-fill">
  {{ "Tasks.EmptyList" | translate }}
</app-disclaimer>

