:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  app-tasks-session-header:hover {
    cursor: pointer;
  }

  app-disclaimer {
    font-family: var(--font-sans);
    font-size: var(--text-xxs);
    font-weight: var(--font-normal);
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }

  .scrolling-outer {
    height: 100%;
  }

  .scrolling-inner {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
