@import "../../shared";

:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 100%;

  .task-view {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .game-progress {
    color: var(--color-gray-950);
    background: var(--color-gray-50);

    padding: var(--spacing-1) var(--spacing-2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;

    .game-status {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      font-weight: var(--font-semibold);
      font-size: var(--text-xs);
      line-height: auto;
      white-space: nowrap;
    }

    .game-status-text {
      display: flex;
      align-items: center;
      padding-right: var(--spacing-1);
      text-transform: uppercase;
    }

    .game-completion {
      padding: var(--spacing-1);
      color: var(--color-gray-50);
      background: var(--color-panel-background);
    }
  }

  .no-tasks {
    font-size: 12px;

    .create-task {
      color: var(--color-input-border-primary);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .border {
    box-sizing: border-box;
    border: 2px solid white;
    flex-grow: 1;

    padding: var(--spacing-2);

    &.current-task {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .estimating {
        font-size: 12px;

        .task-subject {
          font-weight: var(--font-semibold);
        }
      }

      .task-description-wrapper {
        overflow: auto;
        flex-grow: 1;

        .task-description {
          box-sizing: border-box;
          max-height: 100%;
          font-size: 10px;
        }
      }
    }
  }

  .game-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .edit-button {
      user-select: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: var(--spacing-1);

      font-weight: var(--font-semibold);
      font-size: var(--text-xxs);
    }

    .accept-button {
    }

    .estimate {
      box-sizing: border-box;
      display: inline-block;
      padding: var(--spacing-0_5) var(--spacing-1);
      background: var(--color-gray-50);
      color: var(--color-primary);
      font-weight: var(--font-bold);
      font-size: var(--text-xs);
      height: var(--spacing-5);
    }
  }

  .buttons {
    display: flex;
    gap: 10px;

    .buttons-spacer {
      flex-grow: 1;
    }

    .next-task {
      .next-task-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-0_5);
      }
    }
  }

  .modals-container {
    position: absolute;
  }
}
