<div class="task-view">
<ng-container *ngIf="GAME_PROGRESS_ENABLED">
  <ng-container *ngTemplateOutlet="gameProgress"></ng-container>
</ng-container>

<div *ngIf="task" class="border current-task">
  <div class="estimating" (click)="editTask()">
    {{ "Tasks.Estimating" | translate }}
    <span class="task-subject">{{ subject }}</span>
  </div>
  <div class="task-description-wrapper" (click)="editTask()">
    <div class="task-description __global_taskview_reset__" [innerHTML]="description"></div>
  </div>

  <div class="game-controls">
    <div class="edit-button" (click)="editTask()">
      <app-icon name="edit-line" size="16px"></app-icon>
      {{ "Edit" | translate }}
    </div>
    <app-button class="accept-button" flavor="primary-control" [busy]="savingConsensus" *ngIf="estimate && GAME_PROGRESS_ENABLED"
      (click)="saveConsensus()">
      <div class="estimate">{{estimate}}</div>
      <span>{{ "Task.Accept" | translate }}</span>
      <app-icon name="arrow-right-double-line" size="16px"></app-icon>
    </app-button>
  </div>
</div>

<div *ngIf="!task" class="border">
  <app-disclaimer size="medium" icon="information-fill">
    <div class="no-tasks">
      {{ "No.Tasks" | translate }} {{ "Please" | translate }} <span
      class="create-task" (click)="navigateToTasks()">{{ "Create.Task" | translate }}</span>.
    </div>
  </app-disclaimer>
</div>
</div>

<div class="buttons">
  <app-button flavor="control" gap="1" (click)="navigateToTasks()">
    <app-icon name="edit-tasks" size="16px"></app-icon>
    <span>{{ "AllTasks" | translate }}</span>
  </app-button>

  <app-button *ngIf="statisticsFeatureEnabled" gap="1" flavor="control" (click)="navigateToStats()">
    <app-icon name="chart-box-fill" size="16px"></app-icon>
    <span>{{ "Stats" | translate }}</span>
  </app-button>

  <div class="buttons-spacer"></div>

  <app-button
    flavor="control"
    gap="0"
    class="next-task"
    (click)="next()"
    [disabled]="!hasNext()"
    [class.disabled]="!hasNext()">
    <div class="next-task-inner">
      <span>{{ "Next" | translate }}</span>
      <app-icon name="contract-right-line" viewBox="0 0 24 24" size="16px"></app-icon>
    </div>
  </app-button>
</div>

<div class="modals-container" *ngIf="room">
  <app-edit-task-modal #editTaskModal
     [roomId]="room.id"
     [task]="task"
     [isSignedIn]="isLoggedIn"
     *ngIf="task"
   ></app-edit-task-modal>

  <app-create-task-modal #createTaskModal
    [roomId]="room.id"
  ></app-create-task-modal>
</div>


<ng-template #gameProgress>
  <div class="game-progress">
    <div class="game-status">
      <div *ngIf="numTasks > 0" class="game-status-text">
        {{ "GameStarted" | translate }}
      </div>
      <div *ngIf="numTasks == 0" class="game-status-text">
        {{ "NoGame" | translate }}
      </div>
      <div class="game-completion">
        {{numEstimatedTasks}}/{{numTasks}}
      </div>
    </div>
    <app-game-progress [progress]="progress" [disabled]="numTasks == 0"></app-game-progress>
  </div>
</ng-template>
