.pill {
  background: var(--color-dark-background);
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--spacing-1);
  height: 24px;

  display: flex;
  gap: var(--spacing-1);
  align-items: center;

  app-icon {
    height: 100%;
  }
}
