<div #reference class="dropdown-button" (click)="onClick()">
  <span>
    {{ value?.label ?? placeholder | translate }}
  </span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    width="24"
    height="24"
  >
    <path fill="none" d="M0 0h24v24H0z" />
    <path d="M12 16l-6-6h12z" fill="rgba(255,255,255,1)" />
  </svg>
</div>

<div
  #floating
  class="options floating-ui-float app-box-shadow"
  [class.hidden]="!showMenu"
>
  <div
    class="option"
    *ngFor="let option of options"
    [class.selected]="option.label === value?.label"
    (click)="select(option)"
  >
    {{ option.label | translate }}
    <svg
      *ngIf="option.label === value?.label"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
        fill="rgba(255,255,255,1)"
      />
    </svg>
  </div>
</div>
