@import "../../../assets/styles/floating-ui";

:host {
  --small-margin-padding: var(--spacing-4);
  --color-modal-text: var(--color-gray-50);
  --color-menu-background: var(--color-modal-background);

  .dropdown-button {
    box-sizing: border-box;
    height: var(--spacing-11);
    cursor: pointer;
    padding: var(--spacing-2_5);
    border: solid 1px var(--color-modal-text);
    display: flex;
    justify-content: space-between;
  }

  .options {
    background: var(--color-menu-background);
    color: var(--color-modal-text);
    box-sizing: border-box;
    border: solid 1px var(--color-modal-text);

    &.hidden {
      visibility: hidden;
    }

    .option {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      height: var(--spacing-11);
      padding: var(--spacing-2_5);

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      &.selected {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
