<app-professional *ngIf="content === 'professional'"></app-professional>
<app-business-value *ngIf="content === 'business-value'"></app-business-value>
<app-features *ngIf="content === 'features'"></app-features>
<app-integrations *ngIf="content === 'integrations'"></app-integrations>
<app-gamification *ngIf="content === 'gamification'"></app-gamification>

<app-homepage-footer></app-homepage-footer>
