<modal-header (close)="onClose.emit()" title="{{ title }}"></modal-header>

<modal-body>
  <div class="modal-body">
    <div class="head">
      <h2>
        {{ headline }}
      </h2>
      <p>
        {{ description }}
      </p>
    </div>

    <div class="plans" [class.three-panels]="isNewPlansModal">
      <section class="plan free" [class.disabled]="isLoggedIn()">
        <div class="description">
          <h2>
            {{ 'Free' | translate }}
          </h2>
          <p>
            {{ 'Free.Description' | translate }}
          </p>
        </div>
        <div class="pricing">
          {{ 'Free' | translate }}
        </div>
        <div class="separator">
          <hr/>
        </div>
        <div class="features-and-action">
          <ul class="features" *ngIf="!isNewPlansModal">
            <li class="feature-item" *ngFor="let feature of freeFeatures">
              <span>{{ feature }}</span>
            </li>
          </ul>

          <ul class="features" *ngIf="isNewPlansModal">
            <li class="feature-item">
              <span>{{ "Tasks.Without.Subtasks" | translate }}</span>
            </li>
            <li class="feature-item">
              <span>
                <span class="bold">{{ "Unlimited" | translate }}</span>
                {{ "Issues" | translate }}
              </span>
            </li>
            <li class="feature-item">
              <span>
                <span class="bold">{{ "Unlimited" | translate }}</span>
                {{ "Players" | translate }}
              </span>
            </li>
            <li class="feature-item">
              <span>
                <span class="bold">{{ "Unlimited" | translate }}</span>
                {{ "Votings" | translate }}
              </span>
            </li>
            <li class="feature-item">
              <span>
                <span class="bold">{{ "Unlimited" | translate }}</span>
                {{ "Games" | translate }}
              </span>
            </li>
            <li class="feature-item">
              <span>10 {{ "ImportsPerGame" | translate }}</span>
            </li>
            <li class="feature-item">
              <span>{{ "BasicStatistics" | translate }}</span>
            </li>
          </ul>
          <app-button flavor="secondary" (click)="onSignIn()" [disabled]="isLoggedIn()">
            {{ "SignIn" | translate }}
          </app-button>
        </div>
      </section>

      <section class="plan pro">
        <div class="description">
          <h2>
            {{ 'Professional' | translate }}
          </h2>
          <p *ngIf="!isNewPlansModal">
            {{ 'Professional.Description' | translate }}
          </p>

          <p *ngIf="isNewPlansModal">
            {{ 'Professional.Description.New' | translate }}
          </p>
          <div>
            <div *kwSplitTest="'plans-modal'; variant: 'plans-modal-new-free-trial'">
              <div class="highlight">{{ 'FreeTrial.Highlight' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="pricing">
          <span class="price">
            <span class="emphasis">
              {{ proPrice }}
            </span>
            <span>
              {{ 'PerRoomPerMonth' | translate }}
            </span>
          </span>
          <span class="info">
            {{ 'CancelAnytime' | translate }}
          </span>
        </div>
        <div class="separator">
          <hr/>
        </div>
        <div class="features-and-action">
          <ul class="features" *ngIf="!isNewPlansModal">
            <li class="feature-item" *ngFor="let feature of proFeatures">
              <span>{{ feature }}</span>
            </li>
          </ul>

          <ul class="features" *ngIf="isNewPlansModal">
            <li class="feature-item">
              <span>{{ "Everything.In.Starter" | translate }}</span>
            </li>
            <li class="feature-item">{{ "PasswordSecuredRooms" | translate }}</li>
            <li class="feature-item">
              <span>
                <span class="bold">{{ "Unlimited" | translate }}</span>
                {{ "Moderators" | translate }}
              </span>
            </li>
            <li class="feature-item">
              <span>
                <span class="bold">{{ "Unlimited" | translate }}</span>
                {{ "Imports" | translate }}
              </span>
            </li>
            <li class="feature-item">
              <span>{{ "TaskmanagementPlusSubtasks" | translate }}</span>
            </li>
            <li class="feature-item">
              <span>{{ "RessourceAllocationReport" | translate }}</span>
            </li>
            <li class="feature-item">
              <span>{{ "AdvancedStatistics" | translate }}</span>
            </li>
            <li class="feature-item">
              <span>{{ "EstimateSuggestions" | translate }}</span>
            </li>
            <li class="feature-item">
              <span>{{ "TeamPerformancePredictions" | translate }}</span>
            </li>
            <li class="feature-item">
              <span>{{ "NoAdvertisements" | translate }}</span>
            </li>
          </ul>

          <app-button flavor="primary" (click)="onUpgrade()">
            <div *kwSplitTest="'plans-modal'; variant: 'plans-modal-old'">
              {{ 'Upgrade.To.Professional' | translate }}
            </div>

            <div *kwSplitTest="'plans-modal'; variant: 'plans-modal-new'">
              {{ 'Upgrade.To.Professional' | translate }}
            </div>

            <div *kwSplitTest="'plans-modal'; variant: 'plans-modal-new-free-trial'">
              {{ 'Try30daysFree' | translate }}
            </div>
          </app-button>
        </div>
      </section>

      <section class="plan pro" *ngIf="isNewPlansModal">
        <div class="description">
          <h2>
            {{ 'OneDayTicket' | translate }}
          </h2>
          <p>
            {{ 'OneDayTicket.Description' | translate }}
          </p>
        </div>
        <div class="pricing">
          <span class="price">
            <span class="emphasis">
              {{ oneDayTicketPrice }}
            </span>
            <span>
              {{ 'PerDayPerGame' | translate }}
            </span>
          </span>
        </div>
        <div class="separator">
          <hr/>
        </div>
        <div class="features-and-action">
          <ul class="features">
            <li class="feature-item" *ngFor="let feature of oneDayTicketFeatures">
              <span>{{ feature }}</span>
            </li>
          </ul>
          <app-button flavor="primary" (click)="onDayTicket()">
            {{ 'BuyTicket' | translate }}
          </app-button>
        </div>
      </section>
    </div>

    <div class="trust-elements" *ngIf="isNewPlansModal">
      <div class="trust-element" *ngIf="false">
        <span class="address">
          Kehrwasser GmbH<br>
          Poststr. 33, 20146 Hamburg, Germany
        </span>
      </div>

      <div class="trust-element">
        <img src="assets/payment/GDPR.svg" alt="GDPR compliant" />
        <span class="label">
          gdpr<br>
          compliant
        </span>
      </div>

      <div class="trust-element">
        <div class="germany"></div>
        <span class="label">
          made<br>
          in<br>
          germany
        </span>
      </div>

      <img src="assets/payment/mastercard.svg" alt="GDPR compliant" />
      <img src="assets/payment/visa.svg" alt="GDPR compliant" />
      <img src="assets/payment/amex.svg" alt="GDPR compliant" />
      <img src="assets/payment/paypal.svg" alt="GDPR compliant" />
    </div>
  </div>
</modal-body>

<app-alert-modal #alertModal></app-alert-modal>

<ng-template #proFeatureList>
  <li class="feature-item">
    <span>{{ "Everything.In.Starter" | translate }}</span>
  </li>
  <li class="feature-item">
    <span>{{ "PasswordSecuredRooms" | translate }}</span>
  </li>
  <li class="feature-item">
    <span>
      <span class="bold">{{ "Unlimited" | translate }}</span>
      {{ "Moderators" | translate }}
    </span>
  </li>
  <li class="feature-item">
    <span>
      <span class="bold">{{ "Unlimited" | translate }}</span>
      {{ "Imports" | translate }}
    </span>
  </li>
  <li class="feature-item">
    <span>{{ "TaskmanagementPlusSubtasks" | translate }}</span>
  </li>
  <li class="feature-item">
    <span>{{ "RessourceAllocationReport" | translate }}</span>
  </li>
  <li class="feature-item">
    <span>{{ "AdvancedStatistics" | translate }}</span>
  </li>
  <li class="feature-item">
    <span>{{ "EstimateSuggestions" | translate }}</span>
  </li>
  <li class="feature-item">
    <span>{{ "TeamPerformancePredictions" | translate }}</span>
  </li>
</ng-template>
