@import "src/app/modal/shared";

:host {
  --font-color: #fff;
  --plan-border-color: #747481;
  --highlight-color: #65C8FF;
  --highlight-background: #65C8FF4A;

  color: var(--color-gray-50);
  background: var(--color-modal-background);

  height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .modal-body {
    padding: var(--spacing-8) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin: 0;

    color: var(--font-color);
    font-family: var(--font-sans);
    font-size: var(--text-2xl);
    font-weight: var(--font-medium);
  }

  p {
    margin: 0;

    color: var(--font-color);
    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-weight: var(--font-normal);
  }

  .description {
    grid-rows: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    max-width: 13.5rem;
  }

  .highlight {
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--spacing-4);
    color: var(--highlight-color);
    background: var(--highlight-background);
    font-weight: var(--font-bold);
    font-size: var(--text-xs);
    width: fit-content;
  }

  .pricing {
    grid-row: 2;
    text-align: right;

    display: flex;
    flex-direction: column;
    flex-gap: var(--spacing-0_5);

    color: var(--font-color);
    font-family: var(--font-sans);
    font-size: var(--text-sm);

    .price {
      font-weight: var(--font-light);
      font-size: var(--text-xxs);
      .emphasis {
        font-weight: var(--font-medium);
        font-size: var(--text-sm);
      }
    }
    .info {
      font-weight: var(--font-semibold);
      font-size: var(--text-xxs);
    }
  }

  .plans {
    display: grid;
    column-gap: var(--spacing-4);
    row-gap: var(--spacing-5);
    grid-template-rows:
      0fr   /* description */
      0fr   /* price */
      26px  /* separator */
      0fr   /* features */
      0fr;  /* action */
  }

  .plans.two-panels {
    grid-template-columns: 1fr 1fr;
  }

  .plans.three-panels {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .separator {
    grid-row: 3;
    height: var(--spacing-7);
  }

  .plan {
    grid-row: 1 / span 5;
    display: grid;
    row-gap: var(--spacing-5);
    grid-template-rows: subgrid;
    padding: var(--spacing-4);
    border: 1px solid var(--plan-border-color);

    &.disabled {
      opacity: 0.2;
    }
  }

  .plan.free {
    grid-column: 1;
  }

  .plan.paid {
    grid-column: 2;
  }

  hr {
    width: 100%;
    margin-top: 0;
    border-color: var(--plan-border-color);
  }

  .features-and-action {
    grid-row: 4 / span 2;
    row-gap: var(--spacing-9);
    display: grid;
    grid-template-rows: subgrid;
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .feature-item {
    display: inline-flex;
    color: var(--font-color);
    font-size: var(--text-xs);
    line-height: 16px;
    font-weight: var(--font-normal);

    &:first-letter {
      text-transform: capitalize;
    }

    .bold {
      font-weight: var(--font-semibold);
    }

    &::before {
      content: url('../../../../assets/icon-check.ffffff.svg');
      padding-right: var(--spacing-1);
      width: 12px;
      height: 12px;
    }
  }

  .trust-elements {
    display: flex;
    gap: var(--spacing-2);
    justify-content: flex-end;
    flex-wrap: wrap;

    .trust-element {
      border-radius: var(--spacing-1);
      background: #1D1D1D;
      overflow: clip;
      box-sizing: border-box;
      height: 33px;

      display: flex;
      align-items: center;

      img {
        position: relative;
        left: -1px;
        height: 100%;
      }

      .germany {
        height: 100%;
        aspect-ratio: 1;
        background: #FF0000;
        position: relative;
        left: -1px;

        &:before {
          content: '';
          width: 100%;
          height: calc(1/3 * 100%);
          background: #FFD600;
          position: absolute;
          bottom: 0;
          z-index: 1;
        }

        &:after {
          content: '';
          width: 100%;
          height: calc(1/3 * 100%);
          background: #000000;
          position: absolute;
          top: 0;
          z-index: 1;
        }
      }

      .address {
        font-size: 8px;
        padding: var(--spacing-1_5);
      }

      .label {
        font-size: 8px;
        line-height: 8px;
        text-transform: uppercase;
        padding-left: var(--spacing-0_5);
        padding-right: var(--spacing-1_5);
      }
    }

    img {
      height: 100%;
    }
  }
}
