<app-step-modal-description
  headline=""
  text="{{ 'Import.SprintsExplanation' | translate }}"
  />

<div class="import-restriction"
  *ngIf="!isLoading
  && isLoaded
  && isImportRestricted">
  <div class="text">
    <span class="title">{{ "Import.ImportRestriction" | translate }}</span>
    <p>{{ "Import.ImportRestriction.Details" | translate }}</p>
  </div>
  <app-unlock-import-button/>
</div>

<ng-container *ngIf="!isLoading && isError">
  <app-jira-error-page
    [error]="error"
    (reconnect)="reconnectEmitter.emit()">
  </app-jira-error-page>
</ng-container>

    <ng-container *ngIf="!selected">
      <app-rounded-list
        [title]="'Sprints' | translate">

        <ng-container *ngIf="isLoading">
          <app-list-empty-state>
            <app-inline-loading statusText="{{ 'Loading.Sprints' | translate }}" />
          </app-list-empty-state>
        </ng-container>

        <ul class="sprints-wrapper" *ngIf="!isLoading">
          <ng-container *ngFor="let sprint of data">
            <li
              class="sprint"
              [class.selected]="selected === sprint.id.toString()"
              [class.disabled]="false"
              (click)="select(sprint)">
              <div class="name">
                <img src="assets/icon-sprint.svg" alt=""/>
                <span>{{ sprint.name }}</span>
              </div>
              <div class="metadata">
                <span *ngIf="sprint.startDate">{{ "Import.StartDate" | translate }}: {{ formatDate(sprint.startDate) }} ·</span>
                <span>{{ sprint.goal ?? "" }}</span>
              </div>
            </li>
          </ng-container>

          <app-list-empty-state *ngIf="data.length == 0">
            {{ "Import.NoSprintsAvailable" | translate }}
          </app-list-empty-state>
        </ul>

      </app-rounded-list>
    </ng-container>

    <ng-container *ngIf="selected">
      <app-rounded-list
        [title]="sprintName"
        [backLabel]="'Import.BackToSprints' | translate"
        (back)="unselect()">
        <app-jira-issue-import-list
          #importList
          *ngIf="mode === 'import'"
          [instanceId]="instanceId"
          [boardId]="boardId"
          [sprintId]="selected"
          [isImportRestricted]="isImportRestricted"
          [maxRestrictedImport]="maxRestrictedImport"
          />
        <app-jira-issue-export-list
          *ngIf="mode === 'export'"
          [instanceId]="instanceId"
          [boardId]="boardId"
          [sprintId]="selected"
          [tasks]="exportTasks"
          />
      </app-rounded-list>
    </ng-container>
