:host {
  --metadata-color: #A6A6AE;

  .sprints-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-px);
    margin: 0;
    padding: 0;
    list-style-type: none;

    .sprint {
      cursor: pointer;

      padding: var(--spacing-3);
      color: var(--font-color);
      background-color: var(--sprint-list-item-background);
      border: solid var(--spacing-px) transparent;

      display: flex;
      flex-direction: column;
      gap: var(--spacing-1);

      font-size: var(--text-xs);
      line-height: 100%;

      .name {
        display: flex;
        align-items: center;
        gap: var(--spacing-2);

        img {
          height: 100%;
          aspect-ratio: 1/1;
        }
      }

      .metadata {
        color: var(--metadata-color);
      }

      &.selected {
        background-color: var(--font-color);
        color: var(--background-color);
      }

      &.disabled {
        cursor: default;
        color: var(--disabled-color);
      }
    }
  }


  .import-restriction {
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-6);
    padding: var(--spacing-2) 0;
    background: var(--panel-background);
    border: var(--spacing-px) solid var(--color-danger);

    .text {
      .title {
        display: block;
        font-size: var(--text-sm);
        font-weight: var(--font-medium);
        line-height: var(--text-base);
      }
      p {
        margin: 0;
        font-size: var(--text-xs);
        font-weight: var(--font-normal);
        line-height: var(--text-sm);
      }
    }
  }
}
