@import "../../../../assets/styles/_input.scss";
@import "../../shared";

:host {
  --color-subtask-item-background: #17171e;
  --color-ai-generated: #3d8ff0;

  .item-inner {
    cursor: grab;
    flex-wrap: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2);

    background-color: var(--color-subtask-item-background);
    border-radius: var(--spacing-2);
    padding: var(--spacing-2);

    font-family: var(--font-sans);
    font-weight: var(--font-medium);
    font-size: var(--text-xxs);
    line-height: 16px;

    .icon-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .icon, app-icon.icon {
        min-height: 0;
        min-width: 0;
        height: var(--spacing-2_5);
        aspect-ratio: 1/1;
      }

      .nodrag-icon {
        display: block;
      }

      .drag-icon {
        display: none;
      }
    }

    input[type="checkbox"] {
      margin: 0;
      height: var(--spacing-3);
    }
  }

  .item-inner:hover {
    .icon-wrapper {
      height: 100%;

      .nodrag-icon {
        display: none;
      }

      .drag-icon {
        display: block;
      }
    }
  }

  .item-inner:hover {
    .remove-button {
      visibility: visible;
      opacity: 100%;
    }
  }

  .remove-button {
    color: inherit;
    border-color: inherit;
    border-width: var(--spacing-px);
    height: var(--spacing-5);
    padding: var(--spacing-1);
    font-size: var(--text-xs);
    line-height: 0.75rem;
    font-weight: var(--font-normal);
    transition: visibility 150ms ease-in-out, opacity 150ms;
    visibility: hidden;
    opacity: 0%;
    margin: -var(--spacing-1) 0;
  }

  .subtask-input {
    background: transparent;
    border: 1px solid var(--color-gray-600);
    color: var(--color-gray-100);
    padding: 0;

    border: none;
    font-size: var(--text-xxs);
    line-height: 10px;
    font-weight: var(--font-medium);
    width: 100%;
  }

  .subtask-input-ai-generated, .item-ai-generated {
    color: var(--color-ai-generated);
  }

  &.cdk-drag-preview {
  }

  &.cdk-drag-placeholder {
    visibility: hidden;
  }
}
