<div class="item item-{{typeOfSubtask(subtask)}}" *ngIf="subtask">
  <div class="item-inner" *ngIf="!subtask.deleted">
    <div class="icon-wrapper">
      <img
      class="icon drag-icon"
      src="assets/icon-draggable-white.svg"
      />
      <app-icon class="icon nodrag-icon" name="robot-2-line" size="10px" *ngIf="subtask.aiGenerated">
      </app-icon>
      <img
      class="icon nodrag-icon"
      src="assets/icon-work-unit.svg" *ngIf="!subtask.aiGenerated"
      />
    </div>
    <input
    name="subject-{{ subtask.id }}"
    type="text"
    class="subtask-input subtask-input-{{typeOfSubtask(subtask)}}"
    [(ngModel)]="subtask.subject"
    (change)="onSubjectChanged()"
    [placeholder]="'Subtask.Placeholder' | translate"
    [disabled]="!isSignedIn"
    />
    <button type="button" class="button remove-button"
      (click)="deleteSubtask()"
      *ngIf="isSignedIn">
      {{"Remove" | translate}}
    </button>
  </div>
</div>
