<svg width="86" height="14" viewBox="0 0 86 14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_2972_18050)">
    <path [attr.d]="fillPath" [attr.fill]="fillColor"/>
    <path d="M4.70621 2L1 13H79.7571L83 2H4.70621Z" [attr.stroke]="strokeColor"/>
  </g>
  <defs>
    <clipPath id="clip0_2972_18050">
      <rect width="86" height="13" fill="white" transform="translate(0 0.5)"/>
    </clipPath>
  </defs>
</svg>
