<modal-dialog #modal
  closeOnEscape
  closeOnOutsideClick
  confirmCloseWith="tertiary"
  size="fixed-700"
  [showHeader]="true"
  title="{{ 'EditTask' | translate }}"
  iconPath="assets/icon-story.svg"
  [showFooter]="true"
  [primaryButtonProps]="primaryButtonProps"
  [secondaryButtonProps]="secondaryButtonProps"
  [tertiaryButtonProps]="tertiaryButtonProps"
  >
  <div class="content">
    <app-task-form
      [task]="task"
      (taskChanged)="updateTask($event)"
      *ngIf="task"
      ></app-task-form>

    <app-confirmation-box #confirmationBox>
      {{ confirmationMessage }}
    </app-confirmation-box>
  </div>
</modal-dialog>
