<modal-header (close)="onClose.emit()" title="{{ 'Pro.Plan.Payment' | translate }}"></modal-header>

<modal-body>
  <div class="modal-body">
    <div class="head">
      <div class="title" *ngIf="isProSubscription">
        {{ 'Professional.Plan.Subscription' | translate }}
      </div>
      <div class="description" *ngIf="isProSubscription">
        {{ 'Professional.Plan.Description' | translate }}
      </div>
      <div class="title" *ngIf="isOneDayTicket">
        {{ 'OneDayTicket' | translate }}
      </div>
      <div class="description" *ngIf="isOneDayTicket">
        {{ 'OneDayTicket.Description' | translate }}
      </div>
    </div>

    <div class="steps disabled">
      <div class="step active">
        <div>
          <div class="title">{{ 'Step' | translate }} 1</div>
          <div class="description">{{ 'Customer.Info' | translate }}</div>
        </div>
        <app-icon name="check" size="24px"></app-icon>
      </div>

      <div class="step">
        <div>
          <div class="title">{{ 'Step' | translate }} 2</div>
          <div class="description">{{ 'Invoice.Info' | translate }}</div>
        </div>
        <app-icon name="check" size="24px"></app-icon>
      </div>

      <div class="step">
        <div>
          <div class="title">{{ 'Step' | translate }} 3</div>
          <div class="description">{{ 'Payment.Info' | translate }}</div>
        </div>
        <app-icon name="check" size="24px"></app-icon>
      </div>
    </div>

    <div class="disclaimer">
      <div class="title">{{ 'Not.Yet.Available' | translate }}</div>
      <div class="description">
        <app-icon name="smiley-sad" viewBox="0 0 36 36" size="36px"></app-icon>
        <span>{{ 'Checkout.In.Development' | translate }}</span>
      </div>
    </div>

  </div>
</modal-body>

<modal-footer
  (close)="onClose.emit()"
  [primaryButtonProps]="primaryButtonProps"
></modal-footer>
