:host {
  color: var(--color-gray-50);
  background: var(--color-modal-background);
  width: 100%;

  .modal-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    padding-top: var(--spacing-8);

    .title {
      font-weight: var(--font-medium);
    }

    .description {
      font-size: var(--text-xs);
    }

    .head {
      .title {
        font-size: var(--text-2xl);
      }
    }

    .steps {
      background-color: var(--color-dark-background);
      border-radius: var(--spacing-1);
      display: flex;
      padding: var(--spacing-2) var(--spacing-3);
      gap: var(--spacing-6);

      .step {
        display: flex;

        &.active {
          border-bottom: 2px solid var(--color-primary);
        }
      }
    }

    .disclaimer {
      border: 1px solid var(--color-danger);
      color: var(--color-danger);
      padding: var(--spacing-3);

      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);

      .description {
        display: flex;
        gap: var(--spacing-2);
      }
    }
  }

  .disabled, .button.disabled {
    opacity: 0.2;
  }
}
