<div>
  <div class="table-silhouette">
    <div class="line-0"></div>
    <div class="line-1"></div>
    <div class="line-2"></div>
  </div>

  <div class="stats-wrapper" *ngIf="!newStatisticsEnabled && tableView.type === 'revealed'">
    <app-stats [stats]="tableView.stats"></app-stats>
  </div>


  <div class="seats seats-bottom">
    <div class="player" *ngFor="let view of getPlayersBottom(); trackBy: identifyPlayer">
      <app-player-context-menu
        [self]="self"
        [player]="view.player"
        placement="bottom-start"
        (kick)="onKick.emit($event)"
        (sideline)="onSideline.emit($event)"
        (promote)="onPromote.emit($event)"
        >
        <app-card
          [player]="view.player"
          [revealed]="view.type === 'revealed'"
          ></app-card>
      </app-player-context-menu>
      <app-player-label
        class="label-bottom"
        [playerView]="view"
      ></app-player-label>
    </div>
  </div>

  <div class="seat seat-left">
    <div class="player left" *ngIf="playerLeft">
      <app-player-context-menu
        [self]="self"
        [player]="playerLeft.player"
        placement="bottom-start"
        (kick)="onKick.emit($event)"
        (sideline)="onSideline.emit($event)"
        (promote)="onPromote.emit($event)"
        >
        <app-card
          [player]="playerLeft.player"
          [revealed]="playerLeft.type === 'revealed'"
          ></app-card>
      </app-player-context-menu>
      <app-player-label
        class="label-left"
        [playerView]="playerLeft"
      ></app-player-label>
    </div>
  </div>

  <div class="seat seat-right">
    <div class="player right" *ngIf="playerRight">
      <app-player-context-menu
        [self]="self"
        [player]="playerRight.player"
        placement="bottom-start"
        (kick)="onKick.emit($event)"
        (sideline)="onSideline.emit($event)"
        (promote)="onPromote.emit($event)"
        >
        <app-card
          [player]="playerRight.player"
          [revealed]="playerRight.type === 'revealed'"
          ></app-card>
      </app-player-context-menu>
      <app-player-label
        class="label-right"
        [playerView]="playerRight"
      ></app-player-label>
    </div>
  </div>

  <div class="seats seats-top">
    <div class="player" *ngFor="let view of playersTop; trackBy: identifyPlayer">
      <app-player-context-menu
        [self]="self"
        [player]="view.player"
        placement="bottom-start"
        (kick)="onKick.emit($event)"
        (sideline)="onSideline.emit($event)"
        (promote)="onPromote.emit($event)"
        >
        <app-card
          [player]="view.player"
          [revealed]="view.type === 'revealed'"
          ></app-card>
      </app-player-context-menu>
      <app-player-label
        class="label-top"
        [playerView]="view"
      ></app-player-label>
    </div>
  </div>

</div>
