:host {
  --color-primary-action: var(--color-input-border-primary);
  --color-background-inner-1: #e4f2f9;
  --color-background-inner-2: #edf8fe;
  --color-label-background: var(--color-modal-background);
  --color-label: var(--color-gray-50);
  --color-label-background-dark: var(--color-modal-background);
  --color-label-background-green: var(--color-success);
  --color-label-background-grey: #dddde1;
  --color-warning-background: var(--color-warning);
  --color-warning-font: var(--color-gray-950);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 391px;
  height: 174px;

  .table-silhouette {
    .line-0 {
      position: absolute;
      border: solid 1px var(--color-primary-action);

      box-sizing: border-box;
      top: 0px;
      left: 0px;
      width: 391px;
      height: 174px;
      border-radius: 87px;
    }

    .line-1 {
      position: absolute;
      border: solid 1px var(--color-primary-action);
      background: var(--color-background-inner-1);

      box-sizing: border-box;
      top: 4px;
      left: 4px;
      width: 383px;
      height: 166px;
      border-radius: 83px;
    }

    .line-2 {
      position: absolute;
      border: solid 1px var(--color-primary-action);
      background: var(--color-background-inner-2);

      box-sizing: border-box;
      top: 21px;
      left: 21px;
      width: 345px;
      height: 132px;
      border-radius: 66px;
    }
  }

  .seats,
  .seat {
    position: absolute;
    display: flex;
  }

  .seats-top {
    display: flex;
    justify-content: space-between;
    top: 0;
    transform: translate(-50%, -20px);
    width: 289px;
  }

  .seats-bottom {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    transform: translate(-50%, 20px);
    width: 289px;
  }

  .seat-left {
    left: 0px;
    top: 0px;
    transform: translate(-10px, 56px);
  }

  .seat-right {
    right: 0px;
    top: 0px;
    transform: translate(4px, 56px);
  }

  .player {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .badge {
    background: #f000f4;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-transform: uppercase;
    color: var(--color-gray-50);
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.max {
      background: #f000f4;
    }

    &.min {
      background: #06b560;
    }
  }

  .stats-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label-left,
  .label-top,
  .label-bottom,
  .label-right {
    position: absolute;
  }

  .label-left {
    top: 0;
    right: 0;
    transform: translate(calc(-41px - 12px), 24px);
  }

  .label-right {
    top: 0;
    left: 0;
    transform: translate(calc(41px + 12px), 24px);
  }

  .label-top {
    top: 0;
    transform: translateY(calc(-16px - 12px));
  }

  .label-bottom {
    bottom: 0;
    transform: translateY(calc(16px + 12px));
  }
}
