<app-button flavor="control" (click)="generateEstimations()">
  <app-icon name="scales" size="16px"></app-icon>
  {{ "Generate.Estimation" | translate }}
</app-button>

<app-auth-modal #authModal></app-auth-modal>
