<app-modal #modal [size]="size" (outsideClick)="close()" (keydown.esc)="close()">
  <app-login-page
    *ngIf="isSignin && isOpen"
    (close)="close()"
    (signin)="onSignin.emit()"
    (open-reset)="openReset()"
    (open-signup)="openSignup()">
  </app-login-page>
  <app-register-page
    *ngIf="isSignup && isOpen"
    (close)="close()"
    (signin)="onSignin.emit()"
    (open-signin)="openSignin()">
  </app-register-page>
  <app-reset-page
    *ngIf="isReset && isOpen"
    (close)="close()"
    (open-signin)="openSignin()">
  </app-reset-page>
  <app-plans-page
    *ngIf="isPlans && isOpen"
    (close)="close()"
    (open-signin)="openSignin()"
    (open-checkout)="openCheckout($event)"
    [triggeredByFeature]="triggeredByFeature">
  </app-plans-page>
  <app-checkout-page
    *ngIf="isCheckout && isOpen"
    [target]="checkoutTarget"
    (close)="close()">
  </app-checkout-page>
</app-modal>
