:host {
  --color-tabs-background: var(--color-panel-background);
  --color-tabs-text: var(--color-gray-50);
  --color-tabs-selected-background: var(--color-gray-50);
  --color-tabs-selected-text: var(--color-gray-950);

  border: 2px solid var(--color-gray-50);
  color: var(--color-tabs-text);
  background: var(--color-tabs-background);
  width: 100%;
  height: var(--spacing-8);

  display: flex;
  flex-direction: row;

  box-sizing: border-box;

  .tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 6px;
    gap: 8px;

    cursor: pointer;

    font-family: var(--font-sans);
    font-size: var(--text-xxs);
    font-weight: var(--font-semibold);
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }

  .selected {
    color: var(--color-tabs-selected-text);
    background: var(--color-tabs-selected-background);
  }
}
