// Colors
$dark-background: #292931;
$darker-background: #0F1013;
$base-background: #1E1E1E;
$color-primary: #0094DC;
$color-secondary: #00FF94;
$color-foreground-default: #F2F5F7;
$color-foreground-weaker: #DEDEE5;