@import "font";
@import "colors";
@import "spacing";
@import "respond-to";

$font-family: "IBM Plex Sans", sans-serif;

.content-module {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  align-items: center;

  .content {
    color: $color-foreground-default;
    display: flex;
    gap: $spacing-48;
    padding: 3 * $spacing-48 $spacing-16;
    max-width: 1024px;
    justify-content: center;

    .standalone-header {
      display: flex;
      padding: $spacing-32 0;
    }

    .column {
      &.text {
        max-width: 530px;
        display: flex;
        align-items: center;

        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 1.188rem;
          line-height: 1.6;
        }

        .marketing-text {
          border-left: 1px solid $color-primary;
          padding: $spacing-8 $spacing-16;
          @include font-extralight;

          p {
            margin-bottom: $spacing-24;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        .headline {
          display: flex;
          flex-direction: column;
          gap: $spacing-32;
          padding-bottom: $spacing-32;

          .meta-headline {
            @include font-light;
            color: $color-secondary;
            letter-spacing: $spacing-10;
            text-transform: uppercase;
            font-size: $font-size-12;
          }

          .module-title {
            @include font-medium;
            color: $color-foreground-default;
            font-size: $font-size-36;

            .emphasized {
              color: $color-primary;
            }
          }
        }
      }

      &.single {
        .meta-headline,
        .module-title,
        .marketing-text {
          text-align: center;
        }

        .marketing-text {
          border-left: 0;
        }

        .marketing-logos,
        .marketing-picture {
          display: flex;
          justify-content: center;
        }
      }

      &.illustration {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 288px;
        }
      }
    }

    .mobile-buttons {
      display: none;
    }
  }

  &.professional {
    background-image: url("/assets/startpage-2024/sep09.jpg");
    background-size: cover;
    background-blend-mode: darken;
  }

  &.app-user-testimonials {
    background: $base-background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 108px;

    .content {
      padding: 0;
      justify-content: space-between;
    }
  }

  @include respond-to("mobile") {
    &.business-value,
    &.features,
    &.gamification,
    &.professional,
    &.integrations,
    &.faq {
      .content {
        flex-direction: column;

        .column.illustration {
          img {
            width: 288px;
          }
        }

        // center headlines and texts on mobile
        .column {
          .meta-headline,
          .module-title,
          .marketing-text {
            text-align: center;
          }
        }

        padding: $spacing-48 $spacing-16;
      }
    }

    &.integrations .marketing-picture img {
      width: 288px;
    }
  }
}
