@import "colors";

// Default gradient
@mixin effect-default-gradient {
    background-color: $dark-background;
    background-image: radial-gradient(farthest-corner at 110% -60%, #6B6B8500 0%, #19191FFF 100%);
}