// Mixin für IBM Plex Sans Thin
@mixin font-thin {
    font-family: $font-family;
    font-weight: 100;
}

// Mixin für IBM Plex Sans ExtraLight
@mixin font-extralight {
    font-family: $font-family;
    font-weight: 200;
}

// Mixin für IBM Plex Sans Light
@mixin font-light {
    font-family: $font-family;
    font-weight: 300;
}

// Mixin für IBM Plex Sans Regular
@mixin font-regular {
    font-family: $font-family;
    font-weight: 400;
}

// Mixin für IBM Plex Sans Medium
@mixin font-medium {
    font-family: $font-family;
    font-weight: 500;
}

// Mixin für IBM Plex Sans Semi-Bold
@mixin font-semi-bold {
    font-family: $font-family;
    font-weight: 600;
}

// Mixin für IBM Plex Sans Bold
@mixin font-bold {
    font-family: $font-family;
    font-weight: 700;
}