@import "font";
@import "spacing";
@import "colors";

$font-family: "IBM Plex Sans", sans-serif;

.ornament {
  width: 18px;
  height: 13px;
  background-image: url("/assets/startpage-2024/ornament.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.enumeration {
  display: flex;
  gap: $spacing-12;
  flex-direction: column;

  .item {
    display: flex;
    align-items: flex-start;
    gap: $spacing-10;
    font-size: $font-size-18;
    @include font-extralight;
  }
}

.list {
  display: flex;
  flex-direction: column;
}
