// Breakpoints für verschiedene Gerätegrößen
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;

// Mixin für responsive Breakpoints
@mixin respond-to($device) {
  @if $device == "mobile" {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $device == "tablet" {
    @media (max-width: $desktop) {
      @content;
    }
  } @else if $device == "desktop" {
    @media (max-width: $large-desktop) {
      @content;
    }
  } @else if $device == "large-desktop" {
    @media (min-width: $large-desktop) {
      @content;
    }
  }
}
