<div
  class="card-small"
  *ngIf="!revealed"
  [ngClass]="{ played: player.cardValue !== null }"
>
  <img class="face" src="assets/player-{{ player.avatar }}.svg" />
</div>
<div class="card-small revealed" *ngIf="revealed">
  <img class="face" src="assets/player-{{ player.avatar }}.svg" />
  <div class="value" *ngIf="player.cardValue">
    <span *ngIf="player.cardValue !== '@break'">{{ player.cardValue }}</span>
    <span *ngIf="player.cardValue === '@break'"
      ><img class="icon" src="assets/icon-cup.svg"
    /></span>
  </div>
  <div class="value" *ngIf="!player.cardValue">&mdash;</div>
</div>
