:host {
  --color-background: #32465f;
  --color-border: #495971;
  --color-card-label: var(--color-gray-50);
  --color-card-revealed-background: #fff;

  .card-small {
    width: 41px;
    height: 64px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: solid 1px var(--color-border);
    background: var(--color-background);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    .face {
      position: absolute;
      height: 52px;
      pointer-events: none;
    }

    .value {
      display: none;
      color: var(--color-card-label);
      text-align: center;
      position: absolute;

      font-family: var(--font-sans);
      font-size: var(--text-xs);
      font-weight: var(--font-semibold);
      line-height: 15.6px;
      letter-spacing: 0em;
      text-align: center;

      .icon {
        height: 16px;
      }
    }

    &.played {
      background: #32465f;
      border: 1px solid #495971;
    }

    &.revealed {
      background: var(--color-card-revealed-background);

      .face {
        top: 12px;
        left: -8px;
      }

      .value {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;

        transform-origin: top;
        transform: rotate(45deg);
        padding: 8px 0 2px 0;
        background: var(--color-card-label-background);
        color: var(--color-card-label);
      }
    }
  }
}
