
:host {
  --color-label-background: var(--color-modal-background);
  --color-label: var(--color-gray-50);
  --color-label-background-dark: var(--color-modal-background);
  --color-label-background-green: var(--color-success);
  --color-label-background-grey: #dddde1;
  --color-warning-background: var(--color-warning);
  --color-warning-font: var(--color-gray-950);

  .label {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: var(--color-label-background-dark);
    color: var(--color-label);
    border-radius: 20px;
    max-width: 78px;
    height: 16px;
    padding: 0px 8px;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    font-family: var(--font-sans);
    font-size: 9px;
    font-weight: var(--font-medium);
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;

    &.label-placed {
      background: var(--color-label-background-green);
      color: var(--color-label);
    }

    &.label-outlier {
      background: var(--color-warning-background);
      color: var(--color-warning-font);
    }

    &.label-break {
      background: var(--color-label-background-grey);
      color: var(--color-label);
    }

    .icon {
      display: inline;
      margin-left: 2px;
      height: 12px;
    }
  }
}
