:host {
  --new-badge-background: #101013;
  --new-badge-color: #0876F1;

  display: grid;
  gap: var(--spacing-1);
  grid-template-columns: var(--spacing-2) 1fr;
  align-items: center;

  padding: var(--spacing-1);
  border-radius: var(--spacing-1);

  background-color: var(--new-badge-background);
  width: fit-content;

  .dot {
    background: var(--new-badge-color);
    border-radius: var(--spacing-1);
    height: var(--spacing-2);
    aspect-ratio: 1/1;
  }

  .label {
    color: var(--new-badge-color);
    text-transform: uppercase;

    font-family: var(--font-sans);
    font-weight: var(--font-semibold);
    font-size: var(--text-xxs);
    line-height: 80%;
  }
}
