@import "../shared.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100vw;
  height: 100vh;
  transition:
    visibility 300ms,
    opacity 400ms ease-in-out;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .card {
    position: absolute;
    height: fit-content;
    max-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-gray-50);
    background: var(--color-modal-background);
    border: solid 2px var(--color-secondary-2);

    &.fixed-400 {
      width: 400px;

      @media (max-height: 510px), (max-width: 463px) {
        display: none;
      }
    }

    &.fixed-440 {
      width: 440px;

      @media (max-height: 510px), (max-width: 463px) {
        display: none;
      }
    }

    &.fixed-700 {
      width: clamp(340px, 700px, 100%);

      @media (max-height: 510px), (max-width: 463px) {
        display: none;
      }
    }

    &.extra-small {
      width: 24%;

      @media only screen and (max-width: 1584px) {
        width: 24%;
      }
      @media only screen and (max-width: 1312px) {
        width: 24%;
      }
      @media only screen and (max-width: 1056px) {
        width: 32%;
      }
      @media only screen and (max-width: 672px) {
        width: 48%;
      }
      @media only screen and (max-width: 320px) {
        width: 100%;
      }
    }

    &.small {
      width: 36%;
      @media only screen and (max-width: 1584px) {
        width: 36%;
      }
      @media only screen and (max-width: 1312px) {
        width: 36%;
      }
      @media only screen and (max-width: 1056px) {
        width: 42%;
      }
      @media only screen and (max-width: 672px) {
        width: 60%;
      }
      @media only screen and (max-width: 320px) {
        width: 100%;
      }
    }

    &.medium {
      width: 48%;
      @media only screen and (max-width: 1584px) {
        width: 48%;
      }
      @media only screen and (max-width: 1312px) {
        width: 48%;
      }
      @media only screen and (max-width: 1056px) {
        width: 60%;
      }
      @media only screen and (max-width: 672px) {
        width: 84%;
      }
      @media only screen and (max-width: 320px) {
        width: 100%;
      }
    }

    &.large {
      width: 72%;
      @media only screen and (max-width: 1584px) {
        width: 72%;
      }
      @media only screen and (max-width: 1312px) {
        width: 72%;
      }
      @media only screen and (max-width: 1056px) {
        width: 84%;
      }
      @media only screen and (max-width: 672px) {
        width: 96%;
      }
      @media only screen and (max-width: 320px) {
        width: 100%;
      }
    }
  }
}
