<div
  #background
  class="background flex-row align-items-center justify-content-center height-full"
  (click)="onClick($event)"
  [ngStyle]="{'z-index': index + 99999 }"
  [class.hidden]="hidden"
>
  <div class="card app-box-shadow" [class]="size">
    <div #modal></div>
  </div>
</div>

