:host {
  font-family: var(--font-sans);
  font-size: var(--text-xxs);
  line-height: 13px;

  display: grid;
  grid-template-columns: 0fr 1fr;

  .icon {
    margin-right: 8px;

    grid-column: 1;
    grid-row: 1 / span 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #000;
    font-family: var(--font-sans);
    font-size: 6px;
    font-style: normal;
    font-weight: var(--font-semibold);
    line-height: normal;

    img {
      height: 24px;
    }
  }

  .headline {
    grid-column: 2;

    font-weight: var(--font-semibold);
    margin-bottom: 3px;
  }

  .text {
    grid-column: 2;

    width: 258px;
    font-weight: var(--font-normal);
    margin-bottom: 3px;
  }

  .link {
    grid-column: 1 / span 2;
  }

  .link > a {
    font-weight: var(--font-normal);
    color: #034aff;
    text-decoration: underline;

    &:visited {
      color: #034aff;
    }
  }
}
