<div class="icon info" *ngIf="ad.type === 'info'">
  <img src="assets/icon-lightbulb-flash-line.svg" alt="" />
  Info
</div>
<div class="icon tip" *ngIf="ad.type === 'tip'">
  <img src="assets/icon-information.000000.svg" alt="" />
  Tip
</div>
<div class="headline">
  {{ ad.headline }}
</div>
<div class="text">
  {{ ad.text }}
</div>
<div class="link">
  <a [href]="ad.link" target="_blank" (click)="handleClick()">{{
    ad.linkText
  }}</a>
</div>
