<div class="table-silhouette">
  <div class="second-silhouette">
    <div class="item" *ngFor="let view of estimators; trackBy: identifyPlayer">
      <div class="player">
        <app-player-context-menu
          [self]="self"
          [player]="view.player"
          placement="bottom-start"
          (kick)="onKick.emit($event)"
          (sideline)="onSideline.emit($event)"
          (promote)="onPromote.emit($event)"
          >
          <app-card [player]="view.player" [revealed]="isCardsRevealed()"></app-card>
        </app-player-context-menu>
        <div class="label">{{ view.player.name }}</div>
      </div>
    </div>
  </div>
</div>
