@import "../../../assets/_mixins.scss";

:host {
  .table-silhouette {
    margin: 0 auto;
    max-width: 390px;
    background: #f1f7f9;
    border: 1px solid #cdd7da;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;

    .second-silhouette {
      width: 100%;
      margin: 20px;
      border: 1px solid #c6d5da;
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }

    .item {
      width: 50px;
      margin: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .player {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 25%;
      justify-content: flex-end;
    }

    .label {
      background: #fff;
      padding: 5px;
      color: #000;
      font-size: 9px;
      text-align: center;
      display: block;
      border-radius: 20px;
      margin: 4px;
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
