@import "../../../../assets/styles/input";
@import "../../../../assets/styles/color";
@import "../../../../assets/styles/shadow";

:host {
  .wrapper {
    display: flex;
    flex-direction: row;
    height: 3.5rem;
  }

  .join-button {
    flex-grow: 1;
  }

  .dropdown-button-enter {
    margin-left: var(--spacing-px);
    width: var(--spacing-6);

    img {
      aspect-ratio: 1;
      height: var(--spacing-6);
      width: var(--spacing-6);
    }
  }

  .dropdown-menu {
    position: absolute;
    transform: translateY(1px);
    box-sizing: border-box;
    width: 100%;
    color: var(--color-gray-700);
    background: var(--color-gray-100);
    padding: var(--spacing-1) var(--spacing-1_5);
    @include shadow-md;
    font-size: var(--text-xs);
    line-height: var(--line-xs);
    cursor: pointer;
    img {
      margin-right: var(--spacing-2);
    }
  }

  .dropdown-menu:hover {
    color: var(--color-gray-100);
    background: var(--color-primary);
  }

  .dropdown-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;

    font-weight: var(--font-normal);
    font-size: var(--text-xs);
    line-height: var(--line-xs);
  }

  .host-wrapper {
    position: relative;
  }

  .hidden {
    visibility: hidden;
  }

  .dropdown-icon {
    aspect-ratio: 1;
    height: var(--spacing-3);
  }
}
