<div class="host-wrapper">
  <div class="wrapper">
    <app-button
      flavor="primary"
      px="12"
      class="join-button"
      [disabled]="getPhase() === 'waiting' || disabled"
      (click)="handleClick($event)"
    >
      <ng-content
        *ngIf="getPhase() === 'neutral' || getPhase() === 'waiting'"
      ></ng-content>
      <span *ngIf="getPhase() === 'canceling'">{{ cancelText }}</span>
    </app-button>

    <app-button
      flavor="primary"
      px="0"
      class="dropdown-button-enter"
      [disabled]="disabled"
      (click)="toggleShowDropdown($event)"
    >
      <img src="assets/icon-drop-down-fill.white.svg" />
    </app-button>
  </div>

  <div
    flavor="primary"
    class="dropdown-menu"
    [class.hidden]="!showDropdown"
  >
    <div class="dropdown-menu-item"
      (click)="handleClick($event, { spectate: true })">
      <img class="dropdown-icon" src="assets/icon-spy.svg" />
      <span>{{ "SignIn.EnterSpectator" | translate }}</span>
    </div>
  </div>
</div>
