.disclaimer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  background-color: rgba(0,0,0,0.6);
  border-radius: var(--spacing-4);
  padding: var(--spacing-2) var(--spacing-4) var(--spacing-2) var(--spacing-4);
  text-align: center;
  cursor: pointer;

  .preview {
    font-size: var(--text-xxs);
    font-weight: var(--font-medium);
  }
}
