<div class="room" (contextmenu)="handleContextMenu($event)" *ngIf="room">
  <div class="game" *ngIf="room && players && player && state">
    <app-headerbar
      [room]="room"
      [player]="player"
      [roomState]="state"
      (logout)="disconnectFromWebsocketWithStomp()"
      (importTasks)="connectExternalSource()"
    ></app-headerbar>

    <div class="table-and-hand-wrapper">
      <div class="table-wrapper">
        <app-poker-table
          *ngIf="players.length <= 8"
          [tableView]="tableView"
          (kick)="confirmKick($event)"
          (sideline)="confirmSideline($event)"
          (promote)="confirmPromote($event)"
        >
        </app-poker-table>
        <app-big-poker-table
          *ngIf="players.length > 8"
          [tableView]="tableView"
          (kick)="confirmKick($event)"
          (sideline)="confirmSideline($event)"
          (promote)="confirmPromote($event)"
        >
        </app-big-poker-table>
      </div>

      <app-bottom-area
        [room]="room"
        [player]="player"
        [cardValueTemp]="cardValueTemp"
        [stats]="state.stats"
        [roomStatus]="roomStatus"
        (breakCardClicked)="onBreakCardClicked()"
        (cardClicked)="onCardClicked($event)"
      ></app-bottom-area>
    </div>

    <div style="position: relative">
      <app-snackbar></app-snackbar>
    </div>
    <app-footer [adEnabled]="true" [changeAd]="changeAd"></app-footer>
  </div>

  <div class="panel" [ngClass]="{ open: isPanelOpen }">
    <img
      src="assets/icon-burger-darkgrey.svg"
      class="burger-icon"
      (click)="togglePanel()"
    />
    <div class="panel-content">
      <app-sidebar
        *ngIf="newSidebarEnabled"
        [tabHandler]="tabHandler"
        [controlAreaTemplate]="controlArea"
        [contentTemplates]="{
          'game': gameContent,
          'players': playersContent,
          'ai': aiContent,
          'tasks': tasksContent,
          'games': gamesContent,
          'stats': statsContent,
        }"
      >
      </app-sidebar>

      <section class="roomInfo content-grid" *ngIf="room && player && state && !newSidebarEnabled">
        <app-tab-bar
          class="content"
          [tabs]="tabs"
          [state]="tabBarState"
          (tabChange)="onTabChange($event)"
        ></app-tab-bar>
        <div class="content players-tab" *ngIf="gameTabSelected">
          <div class="scroll-outer">
            <div class="scroll-inner">
              <app-player-list
                [players]="players"
                [player]="player"
                [revealCards]="isCardsRevealed() && hot <= 0"
                (kick)="confirmKick($event)"
                (sideline)="confirmSideline($event)"
                (promote)="confirmPromote($event)"
              >
              </app-player-list>
            </div>
          </div>
          <app-issue-panel
            *ngIf="taskFeatureEnabled"
            [room]="room"
            [player]="player"
            [roomState]="state"
          ></app-issue-panel>
        </div>
        <div class="content issues-tab" *ngIf="taskTabSelected">
          <app-tasks (import)="importTasks()" [roomState]="state"></app-tasks>
        </div>
        <div class="content ai-tab" *ngIf="aiTabSelected">
          <app-ai-support
            [players]="players"
          ></app-ai-support>
        </div>
      </section>

      <ng-container *ngIf="(room && player && gameTabSelected) && !newSidebarEnabled">
        <ng-container *ngTemplateOutlet="controlArea"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<app-confirmation-box
  class="confirmation-box-kick"
  #confirmationBox
>
  {{ "Room.KickConfirmation" | translate }}
</app-confirmation-box>

<app-confirmation-box
  class="confirmation-box-leave"
  #confirmationBoxLeave
>
  {{ "Room.LeaveConfirmation" | translate }}
</app-confirmation-box>

<app-confirmation-box
  class="confirmation-box-sideline"
  #confirmationBoxSideline
>
  {{ "Room.SidelineConfirmation" | translate }}
</app-confirmation-box>

<app-confirmation-box
  class="confirmation-box-promote"
  #confirmationBoxPromote
>
  {{ "Room.PromoteConfirmation" | translate }}
</app-confirmation-box>

<app-small-device-disclaimer></app-small-device-disclaimer>
<app-alert-modal #alertModal></app-alert-modal>

<ng-template #controlArea>
  <section
    class="buttons bottom content-grid controls-grid"
    *ngIf="room && player"
  >
    <div class="content buttons-box">
      <app-button
        flavor="primary"
        (click)="placeCard(cardValueTemp)"
        *ngIf="
              room.status === 'estimating' &&
              player.type === 'estimator' &&
              cardValueTemp &&
              player.cardValue !== cardValueTemp &&
              !isBreakCardSelected()
            "
      >
        <div class="icon-left">
          <img src="assets/icon-place-card.svg" class="icon"/>
          <span class="text">{{ "Room.PlaceCard" | translate }}</span>
        </div>
      </app-button>

      <app-button
        flavor="primary"
        (click)="endBreak()"
        *ngIf="player.type === 'estimator' && isBreakMode()"
      >
        <div class="icon-left">
          <img src="assets/icon-cup.svg" class="icon"/>
          <span class="text">{{ "Room.EndBreak" | translate }}</span>
        </div>
      </app-button>

      <app-button
        flavor="primary"
        (click)="takeBreak()"
        *ngIf="
              player.type === 'estimator' &&
              !isBreakMode() &&
              isBreakCardSelected()
            "
      >
        <div class="icon-left">
          <img src="assets/icon-cup.svg" class="icon"/>
          <span class="text">{{ "Room.Break" | translate }}</span>
        </div>
      </app-button>

      <app-button
        flavor="primary"
        (click)="takeCardBack()"
        *ngIf="
              room.status === 'estimating' &&
              player.type === 'estimator' &&
              !isBreakMode() &&
              player.cardValue &&
              (cardValueTemp == null || cardValueTemp === player.cardValue)
            "
      >
        <div class="icon-left">
          <img src="assets/icon-take-back.svg" class="icon"/>
          <span class="text">{{ "Room.TakeBack" | translate }}</span>
        </div>
      </app-button>

      <app-button
        flavor="high-impact"
        [tooltipContainer]="true"
        (click)="revealCards()"
        [busy]="isRevealing"
        [disabled]="isRevealing"
        *ngIf="
              room.status === 'estimating' &&
              (player.type === 'estimator' || player.type === 'inspector') &&
              atLeastOneCardSubmitted() &&
              !isBreakMode()
            "
      >
        <div class="icon-left">
          <img src="assets/icon-eye.svg" class="icon"/>
          <span class="text">{{ "Room.Reveal" | translate }}</span>
          <span class="tooltip-text tooltip-bottom">{{ "Room.RevealTooltip" | translate }}</span>
        </div>
      </app-button>

      <div
        class="message-placeholder"
        *ngIf="
              room.status === 'estimating' &&
              player.type === 'estimator' &&
              !isBreakMode() &&
              !cardValueTemp &&
              !atLeastOneCardSubmitted()
            "
      >
        <app-disclaimer textAlign="center" size="medium">{{
            "Room.Waiting" | translate
          }}
        </app-disclaimer>
      </div>

      <div
        class="message-placeholder"
        *ngIf="player.type !== 'estimator' && !isRoomFilled()"
      >
        <app-disclaimer size="medium" icon="spy-fill">{{
            "Room.InspectorMode" | translate
          }}
        </app-disclaimer>
      </div>

      <div
        class="message-placeholder"
        *ngIf="player.type !== 'estimator' && isRoomFilled()"
      >
        {{ "Room.ObserverMode" | translate }}
      </div>

      <app-button
        flavor="primary"
        (click)="newRound()"
        [busy]="isConnecting"
        [disabled]="isConnecting"
        *ngIf="
              room.status === 'revealed' &&
              player.type === 'estimator' &&
              !isBreakMode() &&
              !hot
            "
      >
        <span class="text">{{ "Room.NewRound" | translate }}</span>
      </app-button>

      <app-button
        flavor="primary"
        (click)="newRound()"
        [busy]="isConnecting"
        [disabled]="isConnecting || hot > 0"
        *ngIf="
              room.status === 'revealed' &&
              player.type === 'estimator' &&
              !isBreakMode() &&
              hot
            "
      >
        <span class="text">Ready in {{ hot }}...</span>
      </app-button>
    </div>

    <div class="content align-bottom">
      <div class="control">
        <app-button
          flavor="secondary"
          [busy]="togglingPlayerType"
          (click)="togglePlayerType()"
          *ngIf="player"
        >
          <ng-container *ngIf="player.type !== 'inspector'">
            <span class="text">{{ "Room.Inspect" | translate }}</span>
          </ng-container>
          <ng-container *ngIf="player.type === 'inspector'">
            <span class="text">{{ "Room.Estimate" | translate }}</span>
          </ng-container>
        </app-button>

        <app-button
          flavor="secondary"
          (click)="leaveRoom()"
        >
          <span class="text">{{ "Room.Leave" | translate }}</span>
        </app-button>
      </div>

      <app-interaction-boxes
        [inviteLink]="inviteLink"
      ></app-interaction-boxes>
    </div>
  </section>
</ng-template>

<ng-template #gameContent>
  <app-game-tab
    [roomState]="state"
    [navigateToTasks]="navigateToTasks"
    [navigateToStats]="navigateToStats"
    [newRound]="triggerNewRound.bind(this)"
    *ngIf="state"
  ></app-game-tab>
</ng-template>

<ng-template #playersContent>
  <app-player-list
    [players]="players"
    [player]="player"
    [revealCards]="isCardsRevealed() && hot <= 0"
    (kick)="confirmKick($event)"
    (sideline)="confirmSideline($event)"
    (promote)="confirmPromote($event)"
    *ngIf="player"
  >
  </app-player-list>
</ng-template>

<ng-template #tasksContent>
  <app-tasks (import)="importTasks()"
    [roomState]="state"
    [showControlButtons]="!newSidebarEnabled"
    *ngIf="state"
    ></app-tasks>
</ng-template>

<ng-template #gamesContent>
  <app-games
    (import)="importTasks()"
    [roomState]="state"
    [selectedGameId]="this.state.activeGame?.id"
    [connectExternalSource]="triggerConnectExternalSource.bind(this)"
    [exportTasks]="triggerExportTasks.bind(this)"
    *ngIf="state"
  ></app-games>
</ng-template>

<ng-template #statsContent>
  <app-stats-tab
    [game]="state.activeGame"
    *ngIf="state"
  ></app-stats-tab>
</ng-template>

<ng-template #aiContent>
  <app-ai-support
    [players]="players"
  ></app-ai-support>
</ng-template>

<app-auth-modal #authModal>
</app-auth-modal>

<app-create-task-modal #createTaskModal
  [roomId]="room.id"
  *ngIf="room"
  ></app-create-task-modal>

<app-import-tasks-modal #importTasksModal
  [roomId]="room.id"
  [roomState]="state"
  *ngIf="room && state"
  ></app-import-tasks-modal>
<app-export-tasks-modal #exportTasksModal
  [roomId]="room.id"
  [roomState]="state"
  *ngIf="room && state"
  ></app-export-tasks-modal>
