@import "../../assets/_mixins.scss";

:host {
  --panel-text-color: #ffffff;
  --game-background-color: #f7fbfd;
  --controls-background-color: #292931;
  --panel-background-color: rgb(33, 33, 41);
  --panel-padding: 24px;

  display: flex;
  min-height: 100dvh;

  .room {
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  .game {
    position: relative;
    width: 100%;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    background: var(--game-background-color);

    .table-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0;
      overflow: auto;
      display: flex;
      align-items: center;
    }

    .table-wrapper:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    app-connection-status {
      position: absolute;
      right: 0;
      padding: 10px;
    }

    @media (min-width: 720px) {
      width: calc(100% - 320px);
    }
  }

  .panel {
    height: 100%;
    width: 320px;
    transition: left 0.5s;
    position: absolute;
    top: 0;
    left: 100%;

    @media (min-width: 720px) {
      left: calc(100% - 320px);
    }

    img.burger-icon {
      width: 40px;
      position: absolute;
      left: -60px;
      margin: 10px;
      transition: left 0.5s;
      background: transparent;
      cursor: pointer;
      z-index: var(--z-index-burger);

      @media (min-width: 720px) {
        left: 0;
      }
    }

    .inspector {
      .avatar img {
        display: none;
      }
      .name {
        opacity: 0.5;
      }
    }

    .content-grid {
      display: grid;
      grid-template-columns:
        [full-start]
        var(--panel-padding)
        [content-start]
        calc(100% - 2 * var(--panel-padding))
        [content-end]
        var(--panel-padding)
        [full-end];
    }

    .content-grid > * {
      grid-column: full;
    }

    .content-grid > .content {
      grid-column: content;
    }

    .buttons-box {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .align-bottom {
      align-self: flex-end;
    }

    .panel-content {
      width: 320px;
      height: 100%;
      color: var(--panel-text-color);
      background: var(--panel-background-color);
      position: absolute;
      left: 0;
      transition: left 0.5s;
      z-index: var(--z-index-panel);

      display: flex;
      flex-direction: column;

      section.roomInfo {
        flex-grow: 1;
      }

      section.buttons {
        flex-grow: 0;
      }
    }

    &.open {
      img.burger-icon {
        left: calc(-60px + -320px);
      }

      .panel-content {
        left: -320px;
      }

      @media (min-width: 720px) {
        img.burger-icon {
          left: 0;
        }

        .top-sections,
        .bottom-sections {
          display: flex;
          flex-direction: column;
        }

        .panel-content {
          left: 0;
        }
      }
    }

    section.roomInfo {
      padding-top: var(--panel-padding);
      padding-bottom: var(--panel-padding);
      font-size: var(--text-sm);
      overflow-y: auto;
      min-height: 35px;

      // max-height: 200px;
      // @media only screen and (max-height: 622px) {
      //   max-height: 100px;
      // }
      grid-template-rows: auto 1fr;
      gap: 8px 0px;
    }

    .players-tab {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--spacing-2);
    }

    .issues-tab {
    }

    section.controls-grid {
      grid-template-rows: 1fr 1.8fr;
    }

    section.buttons {
      gap: 8px 0px;
      background-color: var(--controls-background-color);
      padding: var(--panel-padding) 0;
    }

    section {
      app-button {
        width: 100%;

        .icon-left {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          img {
            position: absolute;
          }
          span {
            flex: 3;
          }
        }

        .icon {
          margin-right: 0.5em;
          max-height: clamp(var(--spacing-6), 4dvh, 8.5rem);
        }
      }

      .message-placeholder {
        background: none;
        border: none;
        color: var(--panel-text-color);
        height: fit-content;
        width: 100%;
        box-sizing: border-box;
      }

      .control {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 16px;

        .button {
          padding: 0;
        }
      }
    }
  }

  .table-and-hand-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .scroll-outer {
    position: relative;
    overflow: auto;
    height: 100%;
  }

  .scroll-inner {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
