.control-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  height: 100%;
}

.button {
  height: var(--spacing-8);
  cursor: pointer;

  color: var(--color-panel-text);
  background-color: var(--color-panel-background);

  box-sizing: border-box;
  border: solid 2px var(--color-panel-text);

  font-family: var(--font-sans);
  font-size: var(--text-xxs);
  font-weight: var(--font-semibold);
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;

  display: flex;
  align-items: center;
  gap: var(--spacing-2);

  app-icon {
    height: var(--spacing-4);
  }

  &.disabled {
    opacity: 0.2;
    cursor: default;
  }
}

.section {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-panel-text);
  padding: var(--spacing-3);

  .actions {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-1);
  }

  ul {
    padding-left: var(--spacing-4);
  }

  &.disabled {
    opacity: 0.2;
    cursor: default;
  }
}
