<section class="content-module features">
  <div class="content">
    <div class="column text">
      <div class="module-header">
        <div class="headline">
          <div class="meta-headline">
            {{ "HomepageNew.Features.MetaHeadline" | translate }}
          </div>
          <h1 class="module-title">
            {{ "HomepageNew.Features.Title.Part1" | translate }}
            <span class="emphasized">{{
              "HomepageNew.Features.Title.Part2" | translate
            }}</span>
          </h1>
          <div class="enumeration">
            <div class="item">
              <img
                src="/assets/startpage-2024/bullet.svg"
                alt="{{ 'HomepageNew.Features.Bullets.1.AltText' | translate }}"
              />{{ "HomepageNew.Features.Bullets.1.Text" | translate }}
            </div>
            <div class="item">
              <img src="/assets/startpage-2024/bullet.svg" alt="" />{{
                "HomepageNew.Features.Bullets.2.Text" | translate
              }}
            </div>
            <div class="item">
              <img
                src="/assets/startpage-2024/bullet.svg"
                alt="{{ 'HomepageNew.Features.Bullets.3.AltText' | translate }}"
              />{{ "HomepageNew.Features.Bullets.3.Text" | translate }}
            </div>
            <div class="item">
              <img src="/assets/startpage-2024/bullet.svg" alt="" />{{
                "HomepageNew.Features.Bullets.4.Text" | translate
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column illustration">
      <img
        src="/assets/startpage-2024/most-planning-poker-features.png"
        alt="{{ 'HomepageNew.Features.ImageAlt' | translate }}"
      />
    </div>

    <div class="mobile-buttons">
      <app-button flavor="primary" (click)="openDetails()">
        {{ "HomepageNew.Features.MoreDetails" | translate }}
      </app-button>
    </div>
  </div>
</section>
