<div
  class="notification"
  [class.type-ok]="type === 'ok'"
  [class.type-info]="type === 'info'"
  [class.type-error]="type === 'error'"
  [class.type-warning]="type === 'warning'"
  [class.type-pending]="type === 'pending'"
>
  <div class="icon-container">
    <app-icon
      class="type-ok"
      name="checkbox-circle"
      size="16px"
      *ngIf="type === 'ok'"
    />
    <app-icon
      class="type-info"
      name="information-circle"
      size="16px"
      *ngIf="type === 'info'"
    />
    <app-icon
      class="type-error"
      name="danger-hexagon"
      size="16px"
      *ngIf="type === 'error'"
    />
    <app-icon
      class="type-warning"
      name="alert-circle"
      size="16px"
      *ngIf="type === 'warning'"
    />
    <app-icon
      class="type-pending"
      name="loader-5-line"
      size="16px"
      *ngIf="type === 'pending'"
    />
  </div>
  <span
    class="title"
    *ngIf="title"
    [class.type-ok]="type === 'ok'"
    [class.type-info]="type === 'info'"
    [class.type-error]="type === 'error'"
    [class.type-warning]="type === 'warning'"
    [class.type-pending]="type === 'pending'"
  >{{ title }}</span
  >
  <span class="message">{{ message }}</span>
</div>
