@import "../../../assets/styles/_color.scss";
@import "../../../assets/styles/_shadow.scss";
@import "../../../assets/styles/animation";

:host {
  .notification {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    height: var(--spacing-10);
    padding-right: var(--spacing-2);
    font-size: var(--text-xs);
    background-color: var(--color-gray-100);
    height: var(--spacing-8);

    .icon-container {
      height: 100%;
      padding: 0 var(--spacing-1);
      display: flex;
      align-items: center;

      app-icon {
        color: white;
      }
    }

    &.type-ok {
      color: var(--color-success-text);

      .icon-container {
        background: var(--color-success);
      }
    }

    &.type-info {
      color: var(--color-info-text);

      .icon-container {
        background: var(--color-info);
      }
    }

    &.type-error {
      color: var(--color-danger-text);

      .icon-container {
        background: var(--color-danger);
      }
    }

    &.type-warning {
      color: var(--color-warning-text);

      .icon-container {
        background: var(--color-warning);
      }
    }

    &.type-pending {
      color: var(--color-warning-text);

      .icon-container {
        background: var(--color-warning);

        app-icon {
          @include animate-spin;
        }
      }
    }
  }

  .title {
    margin-right: var(--spacing-2);
    font-weight: var(--font-medium);
  }
}
