.capacity {
  display: flex;
  align-items: center;
  font-weight: var(--font-normal);

  .left, .right {
    border: 1px solid var(--color-panel-text);
    padding: var(--spacing-2);
  }

  .left {
    width: 33%;
  }

  .right {
    width: 67%;
    text-align: right;
  }
}
