<div (click)="back?.()" class="button back-button">
  <app-icon name="arrowhead-left" size="16px" viewBox="4 0 16 24" [aspectRatio]="1/2"/>
  {{ 'Back' | translate }}
</div>

<div class="actions">
  <div *ngFor="let action of actions" class="button" [class.busy]="action.busy?.() || false" (click)="action.click()">
    <app-icon name="{{ action.icon }}"/> {{ action.label | translate }}
  </div>
</div>
