@import "../../shared";

:host {
  display: flex;
  justify-content: space-between;

  .button {
    text-transform: uppercase;
    padding: var(--spacing-2) 0 var(--spacing-2) 0;
    width: fit-content;
    border: none;
    gap: var(--spacing-1);
  }

  .back-button {
    text-transform: uppercase;
    gap: var(--spacing-0_5);
  }

  .actions {
    display: flex;
    gap: 12px;
  }
}
