<div class="inner-shadow">
</div>

<button
  class="button-text create"
  type="button"
  [class.active]="isCreateMode"
  (click)="changeEmitter.emit('create')"
  >
  <app-icon name="ac-room-create" size="16px"></app-icon>
  <span>{{ "SignIn.Create" | translate }}</span>
</button>

<button
  class="button-text join"
  type="button"
  [class.active]="isJoinMode"
  (click)="changeEmitter.emit('join')"
  >
  <app-icon name="ac-room-join" size="16px"></app-icon>
  <span>{{ "SignIn.Join" | translate }}</span>
</button>
