:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: var(--spacing-px);
  border: var(--spacing-px) solid var(--color-gray-50);
  background: var(--color-modal-background);
  height: var(--spacing-10);


  button {
    color: var(--color-gray-300);
    background: transparent;
    border: none;
    outline: none;

    display: flex;
    flex-direction: row;
    gap: var(--spacing-1);
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .button-text {
    font-size: var(--text-xxs);
    line-height: auto;
  }

  button.active {
    background: var(--color-gray-50);
    border: var(--spacing-px) solid var(--color-gray-50);
    color: var(--color-gray-950);
  }

  button:focus {
    border: var(--spacing-px) solid var(--color-primary);
  }

  .create {
    grid-column: 1;
    grid-row: 1;
  }

  .join {
    grid-column: 2;
    grid-row: 1;
  }

  .inner-shadow {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 12%);
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}
