<div class="games">
  <app-game
    *ngFor="let game of games; trackBy: identifyGame"
    [game]="game"
    [roomState]="roomState"
    [expanded]="isSelected(game)"
    (connectExternalSource)="connectExternalSource()"
    (exportTasks)="exportTasks()"
    (select)="select(game)"
    (editTask)="editTask($event)"
    (createTask)="createTask()"
    [class.selected]="isSelected(game)"
    [isLoading]="isLoading && isSelected(game)"
  ></app-game>

  <ng-container *kwFeature="'experiment203'">
    <app-inline-alert2
      *ngIf="openInlineAlert"
      type="critical"
      [title]="'Room.InsecureRoom' | translate"
      [description]="'Room.InsecureRoom.InlineAlert' | translate"
      [actionLabel]="'Room.SetPassword' | translate"
      [closable]="false"
      (close)="closeInlineAlert()"
      (action)="setPassword()"
      >
    </app-inline-alert2>
  </ng-container>
</div>

<app-edit-task-modal
  #editTaskModal
  [roomId]="roomId"
  [task]="selectedTask"
  [isSignedIn]="isSignedIn"
  *ngIf="roomId"
></app-edit-task-modal>

<app-create-task-modal
  #createTaskModal
  [roomId]="roomId"
  *ngIf="roomId"
></app-create-task-modal>

<app-auth-modal #authModal>
</app-auth-modal>
