@import "../../shared";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .games {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-2);
    flex-grow: 1;

    .selected {
      height: 100%;
      min-height: 50vh;
    }
  }
}
