:host {
  flex-grow: 1;

  .loading {
    display: grid;
    height: 100%;
    .indicator {
      place-self: center;
      position: relative;
      background: red;
      width: clamp(var(--spacing-20), var(--spacing-60), 100%);
      max-height: 0px;
      &:after {
        content: " ";
        position: absolute;
        background: var(--color-gray-50);
        width: 20px;
        height: 3px;
        left: calc(100% - 20px);
        bottom: 1px;
        animation: loading 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
      }
    }
    .indicator.dark {
      &:after {
        background: var(--color-gray-950);
      }
    }
  }
}
