<div class="title-bar" (click)="titleClickedEmitter.emit()">
  <hr/>
  <span class="title">{{ title }}</span>
  <hr/>
</div>
<div class="actions">
  <div class="action-wrapper tooltip-container" *ngFor="let action of actions; trackBy: identifyAction">
    <span class="tooltip-text tooltip-bottom" *ngIf="action.tooltip">{{ action.tooltip | translate }}</span>
    <app-button
      flavor="control-small"
      px="1"
      py="0_5"
      class="{{action.class ?? ''}}"
      [busy]="isBusy(action)"
      (click)="action.click()">
      <app-icon name="{{ action.icon }}" size="16px"/>
      <span *ngIf="action.label" class="action-label">{{ action.label | translate }}</span>
    </app-button>
  </div>
</div>
