@import "../shared";
@import "../../../assets/styles/tooltip";

:host {
  --spacing-1: 0.25rem;
  --color-border: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
  width: 100%;

  .title {
    text-transform: uppercase;
    font-size: var(--text-xxs);
  }

  .title-bar {
    width: 100%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
  }

  hr {
    flex-grow: 1;
    border-color: var(--color-border);
  }

  .actions {
    display: flex;
    gap: var(--spacing-1);

    .action-wrapper {
      position: relative;
      overflow: visible;
    }

    .tooltip-text {
      width: fit-content;
    }

    .action-label {
      text-transform: uppercase;
      font-weight: var(--font-semibold);
      font-size: 10px;
      line-height: 100%;
    }
  }
}
