<div
  #reference
  class="menu"
  [ngClass]="['menu' + size]"
  (click)="toggleShowOverflowItems()"
>
  <img src="{{ icon }}" *ngIf="!!icon" />
</div>

<div #floating class="dropdown" [class.nodisplay]="!isOpen">
  <ng-content></ng-content>
</div>
