@import "../../../assets/styles/shadow";

:host {
  &.hidden {
    visibility: hidden;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--spacing-6);
    height: var(--spacing-6);
    color: var(--color-gray-50);
    border: none;
    cursor: pointer;
    position: relative;

    img {
      width: 12px;
    }

    &small {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--spacing-5);
      height: var(--spacing-5);
      color: orange;

      img {
        height: var(--spacing-6);
      }
    }
  }

  .dropdown {
    @include shadow;
    :is(&.nodisplay) {
      display: none;
    }
    :is(:not(&.nodisplay)) {
      display: flex;
    }

    position: absolute;
    flex-direction: column;
    z-index: var(--z-index-context-menu);
  }

  img {
    color: white;
  }
}
