@import "../../styles/font";
@import "../../styles/colors";
@import "../../styles/spacing";
@import "../../styles/respond-to";
@import "../../styles/content-module";

$color-foreground-secondary: #768489;
$color-foreground-secondary-hover: #c8ced0;

.content-module {
  &.footer {
    background: $darker-background;
    min-width: 320px;

    .content {
      display: flex;
      justify-content: space-between;
      padding: 3rem $spacing-16 9rem $spacing-16;
      box-sizing: border-box;
      width: 90%;

      .branding {
        display: flex;
        flex-direction: column;
        gap: $spacing-24;
        padding-bottom: $spacing-24;
        align-items: flex-start;

        img#footer-logo {
          width: 102px;
        }

        .tagline {
          color: $color-foreground-default;
          font-size: $font-size-24;
          line-height: $spacing-32;
        }

        .social-links {
          display: flex;
          justify-content: center;
          .social-link {
            display: flex;
            border: 1px solid $color-foreground-default;
            border-radius: 2px;
            padding: $spacing-8;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .link-columns {
        display: flex;
        flex-direction: row;
        gap: $spacing-32;

        .column {
          display: flex;
          flex-direction: column;
          font-size: $font-size-14;
          gap: $spacing-16;

          .headline {
            font-size: 1.25rem;
            color: $color-foreground-default;
          }

          .links {
            display: flex;
            flex-direction: column;
            gap: $spacing-8;

            .link {
              color: $color-foreground-secondary;
              text-decoration: none;

              &:hover {
                color: $color-foreground-secondary-hover;
              }
            }
          }
        }
      }
    }
  }

  @include respond-to("mobile") {
    &.footer {
      .content {
        flex-direction: column;
        padding: $spacing-48 $spacing-16;
        gap: $spacing-24;

        .branding {
          align-items: center;
          border-bottom: 1px solid $color-foreground-secondary;
        }

        .link-columns {
          flex-direction: column;
        }
      }
    }
  }
}
