<!-- footer -->
<section class="content-module footer">
  <div class="content">
    <div class="branding">
      <img
        src="/assets/startpage-2024/agile-casino-logo.svg"
        alt="{{ 'HomepageNew.Footer.LogoAlt' | translate }}"
        id="footer-logo"
      />
      <div class="tagline">
        {{ "HomepageNew.Footer.Tagline1" | translate }}<br />
        {{ "HomepageNew.Footer.Tagline2" | translate }}
      </div>
      <div class="social-links">
        <a
          href="https://gitlab.com/heusinger-open-scrum-poker"
          target="_blank"
          class="social-link"
        >
          <img
            src="/assets/startpage-2024/gitlab-fill.svg"
            alt="{{ 'HomepageNew.Footer.GitlabAlt' | translate }}"
          />
        </a>
      </div>
    </div>
    <div class="link-columns">
      <div class="column">
        <div class="headline">
          {{ "HomepageNew.Footer.Section1.Title" | translate }}
        </div>
        <div class="links">
          <a href="/" class="link">{{
            "HomepageNew.Footer.Section1.Home" | translate
          }}</a>
          <a
            href="https://www.kehrwasser.com/blog/2023/03/18/warum-mittelwerte-beim-planning-poker-verboten-sind/"
            target="_blank"
            class="link"
          >
            {{ "HomepageNew.Footer.Section1.WhyNoAverages" | translate }}
          </a>
          <a
            href="https://www.kehrwasser.com/blog/2020/04/25/neues-kostenloses-planning-poker-online-geschaffen-fuers-homeoffice/"
            target="_blank"
            class="link"
          >
            {{ "HomepageNew.Footer.Section1.WhyPlanningPoker" | translate }}
          </a>
          <a
            href="https://www.kehrwasser.com/blog/"
            target="_blank"
            class="link"
          >
            {{ "HomepageNew.Footer.Section1.Blog" | translate }}
          </a>
        </div>
      </div>
      <div class="column">
        <div class="headline">
          {{ "HomepageNew.Footer.Section2.Title" | translate }}
        </div>
        <div class="links">
          <a
            href="https://www.kehrwasser.com/privacy"
            target="_blank"
            class="link"
          >
            {{ "HomepageNew.Footer.Section2.Privacy" | translate }}
          </a>
          <a
            href="https://www.kehrwasser.com/imprint"
            target="_blank"
            class="link"
          >
            {{ "HomepageNew.Footer.Section2.Imprint" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
