<div class="disclaimer {{ size }} {{ textAlign }}">
  <div class="icon-column"><app-icon name="{{ icon }}" viewBox="{{ viewBox }}" size="24px" *ngIf="icon" /></div>
  <div class="content-column"><ng-content></ng-content></div>
</div>
