:host {
  .disclaimer {
    display: flex;
    flex-direction: row;
  }

  .small {
    gap: 8px;
    padding: 6px 12px;
  }

  .medium {
    gap: 8px;
    padding: 8px 24px;

    font-family: var(--font-sans);
    font-size: var(--text-xxs);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: normal;
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .icon-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing-0_5);

    app-icon {
      align-items: baseline;
    }
  }

  .content-column {
    box-sizing: border-box;
    width: 100%;
  }
}
