<div class="ressource-allocation" [class.disabled]="disabled" [style.height]="fullHeight + 'px'">
  <div class="values">
    <div *ngFor="let key of keys" class="value">
      <div class="label">
        <span>{{ translationKeys[key] | translate }}</span>
        <span class="percentage">{{ stats[key] + '%' }}</span>
      </div>
      <div class="bar" [style.background-color]="disabled ? colorsDisabled[key] : colors[key]" [style.height]="getHeight(key)"></div>
    </div>
  </div>

  <div class="legend">
    <div class="full">100%</div>
    <div class="half">50%</div>
    <div class="none">0%</div>
  </div>
</div>
