.ressource-allocation {
  width: 100%;

  display: flex;
  gap: 1px;

  .values {
    width: 72%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .value {
      display: flex;
      gap: 1px;
      align-items: flex-end;

      .label {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding-right: 2px;
      }

      .bar {
        width: 20px;
        border-bottom: 1px solid #242730;
        box-sizing: border-box;
      }
    }
  }

  .legend {
    width: 28%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .full, .half, .none {
      width: 100%;
      text-align: end;
    }

    .full, .half {
      border-top: 1px solid rgba(255, 255, 255, 0.15);
    }

    .half {
      transform: translateY(50%);
    }

    .none {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  &.disabled {
    .percentage {
      filter: blur(0.15rem);
      opacity: 50%;
    }
  }
}
