:host {
  --bg-color: var(--color-modal-background);
  --fg-color: var(--color-gray-50);
  --disabled-color: var(--color-gray-400);
  --hover-color: var(--color-primary);
  --high-impact-color: var(--color-danger);

  display: flex;
  flex-direction: row;

  .menu-button,
  .item {
    user-select: none;
    white-space: nowrap;
    background-color: var(--bg-color);
    color: var(--fg-color);

    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-weight: var(--font-normal);
    line-height: auto;

    cursor: pointer;
    &.disabled {
      cursor: default;
      color: var(--disabled-color);
    }
  }


  .menu-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: var(--spacing-6);

    .user-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: var(--spacing-1_5)
      var(--spacing-0_5)
      var(--spacing-1_5)
      var(--spacing-1);

      img {
        width: var(--spacing-4);
        aspect-ratio: 1;
        border-radius: calc(16px / 2);
      }
    }
  }

  .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--spacing-1_5) var(--spacing-0_5);
  }

  .menu-button.larger {
    height: var(--spacing-9);

    .user-icon {
      padding: var(--spacing-1_5);

      img {
        width: var(--spacing-6);
      }
    }

    .arrow-down {
      padding: 0 calc(var(--spacing-1_5) / 2) 0 var(--spacing-1_5);
      app-icon {
        width: 1.125rem;
      }
    }
  }

  .item {
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    padding: var(--spacing-1_5);
    gap: var(--spacing-2);

    &:hover:not(.disabled) {
      background-color: var(--hover-color);

      &.high-impact {
        background-color: var(--high-impact-color);
      }
    }
  }
}
