<app-context-menu [placement]="placement">

  <app-context-menu-button>
    <div class="menu-button {{size}}">
      <div class="user-icon">
        <img src="assets/user-placeholder.svg" alt=""/>
      </div>
      <div class="arrow-down">
        <app-icon name="arrow-down-s-line" [size]="arrowSize"/>
      </div>
    </div>
  </app-context-menu-button>

  <app-context-menu-popup>
    <div class="item item-profile disabled" *ngIf="false && isLoggedIn">
      <app-icon name="account-box-fill"/>
      {{ "Profile" | translate }}
    </div>

    <div class="item item-billing disabled" *ngIf="false && isLoggedIn">
      <app-icon name="money-euro-box-fill"/>
      {{ "Billing" | translate }}
    </div>

    <div class="item item-signout-stay high-impact" *ngIf="isLoggedIn && isRoom"
      (click)="handleSignOutAndStay()">
      <app-icon name="lock-fill"/>
      {{ "SignOutAndStay" | translate }}
    </div>

    <div class="item item-signout-leave high-impact" *ngIf="isLoggedIn && isRoom"
      (click)="handleSignOutAndLeave()">
      <app-icon name="edit-box"/>
      {{ "SignOutAndLeave" | translate }}
    </div>

    <div class="item item-signout high-impact" *ngIf="isLoggedIn && !isRoom"
      (click)="handleLogout()">
      <app-icon name="edit-box"/>
      {{ "SignOut" | translate }}
    </div>

    <div class="item item-signout-leave" *ngIf="!isLoggedIn"
      (click)="openLoginModal()">
      <app-icon name="login-box-fill"/>
      {{ "SignIn" | translate }}
    </div>

    <div class="item item-signout-leave" *ngIf="!isLoggedIn"
      (click)="openRegisterModal()">
      <app-icon name="user-add-fill"/>
      {{ "CreateAccount" | translate }}
    </div>

    <div class="actions" *ngIf="isLoggedIn">
      <div class="logout">
        <a (click)="handleLogout()"></a>
      </div>
    </div>

    <div class="actions" *ngIf="!isLoggedIn">

      <div class="signup">
        <a (click)="openRegisterModal()"></a>
      </div>
    </div>
  </app-context-menu-popup>

</app-context-menu>

<app-auth-modal #authModal
  (signin)="handleLogin()">
</app-auth-modal>
