<div class="table">
  <div
    *ngFor="let p of playersSorted"
    class="row"
    [class.estimator]="p.type === 'estimator'"
    [class.inspector]="p.type === 'inspector'"
    [class.chosen]="p.cardValue !== null"
  >
    <div class="avatar-wrapper">
      <div class="avatar-background" [class.you]="p.id === player.id">
        <img
          class="avatar-image"
          alt=""
          [src]="p?.avatar ? 'assets/player-' + p.avatar + '.svg' : ''"
          *ngIf="p.type === 'estimator'"
        />
        <app-icon
          class="avatar-image"
          name="spy-fill"
          size="20px"
          *ngIf="p.type !== 'estimator'"
        />
      </div>
    </div>

    <div class="name-wrapper">
      <div class="name">{{ p.name }}</div>
    </div>

    <div class="player-status-wrapper">
      <div class="value" *ngIf="p.type === 'estimator'">
        <div
          class="revealed-score"
          *ngIf="revealCards && p.cardValue !== '@break'"
        >
          {{ p.cardValue || "&mdash;" }}
        </div>
        <img
          class="player-status-icon break"
          src="assets/icon-cup.gray-400.svg"
          *ngIf="p.cardValue == '@break'"
        />
        <img
          class="player-status-icon ready"
          src="assets/icon-check.lime-600.svg"
          *ngIf="
            !revealCards && p.cardValue !== null && p.cardValue !== '@break'
          "
        />
        <img
          class="player-status-icon not-ready"
          src="assets/icon-hourglass.svg"
          *ngIf="!revealCards && p.cardValue === null"
        />
      </div>
    </div>

    <app-player-context-menu
      [self]="player"
      [player]="p"
      [enablePromote]="canBePromoted(p)"
      (kick)="onKick.emit($event)"
      (sideline)="onSideline.emit($event)"
      (promote)="onPromote.emit($event)"
      >
      <app-icon name="more-2-fill" size="16px"></app-icon>
    </app-player-context-menu>
  </div>
</div>
