@import "../../../assets/styles/_color.scss";

:host {
  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-1);
  }

  .avatar-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    max-width: var(--spacing-6);
    max-height: var(--spacing-6);
    aspect-ratio: 1;
  }

  .avatar-background {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: var(--color-gray-700);
    border-radius: 50%;
    padding: 2px;
    max-width: var(--spacing-6);
    max-height: var(--spacing-6);
    border: 2px solid transparent;

    img, app-icon {
      place-self: center;
      height: var(--spacing-5);
      width: var(--spacing-5);
    }

    &.you {
      border: 2px solid var(--color-primary);
    }
  }

  .name-wrapper {
    padding-left: var(--spacing-2);
    font-weight: 600;
    font-size: var(--text-xs);
    flex-grow: 1;
  }

  .name {
    text-transform: capitalize;
    max-width: var(--spacing-36);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value {
    height: 100%;
    text-align: center;
    width: var(--spacing-10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-medium);

    div {
      display: flex-inline;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 1px;
    }
  }

  .player-status-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-status-icon {
    aspect-ratio: 1;
    height: var(--spacing-6);
  }
}
