@import "../../../../assets/styles/floating-ui";

:host {
  .dropdown-input {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    app-input {
      width: 100%;
    }
  }

  .dropdown-button {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    background: var(--color-gray-50);
    color: var(--color-neutral-400);
    border: 2px solid var(--color-secondary-2);
    border-left: 0px;

    &.disabled {
      cursor: default;
    }
  }

  .options {
    box-sizing: border-box;
    background: var(--color-gray-50);
    color: #000000;
    border: solid 1px var(--color-input-border);

    &.hidden {
      display: none;
    }

    .option {
      cursor: pointer;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 10px 11px;
      border: solid 0px var(--color-secondary-2);
      border-bottom-width: 1px;
      &:last-child {
        border-bottom-width: 0px;
      }

      .icon-cal::before {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 24 22" width="8" height="8"><path fill="none" d="M0 0h24v24H0z"/><path d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2zm-2 2H9v2H7V5H4v4h16V5h-3v2h-2V5zm5 6H4v8h16v-8z"/></svg>');
      }

      .icon-user::before {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 24 22" width="8" height="8"><path d="M12.0009 17C15.6633 17 18.8659 18.5751 20.608 20.9247L18.766 21.796C17.3482 20.1157 14.8483 19 12.0009 19C9.15346 19 6.6535 20.1157 5.23577 21.796L3.39453 20.9238C5.13673 18.5747 8.33894 17 12.0009 17ZM12.0009 2C14.7623 2 17.0009 4.23858 17.0009 7V10C17.0009 12.7614 14.7623 15 12.0009 15C9.23945 15 7.00087 12.7614 7.00087 10V7C7.00087 4.23858 9.23945 2 12.0009 2Z"></path></svg>');
      }

      &:hover {
        color: var(--color-gray-50);
        background: var(--color-primary);

        .icon-cal::before {
          content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 24 22" width="8" height="8"><path fill="none" d="M0 0h24v24H0z"/><path d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2zm-2 2H9v2H7V5H4v4h16V5h-3v2h-2V5zm5 6H4v8h16v-8z" fill="rgba(255,255,255,1)"/></svg>');
        }

        .icon-user::before {
          content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 24 22" width="8" height="8"><path fill="rgba(255,255,255,1)" d="M12.0009 17C15.6633 17 18.8659 18.5751 20.608 20.9247L18.766 21.796C17.3482 20.1157 14.8483 19 12.0009 19C9.15346 19 6.6535 20.1157 5.23577 21.796L3.39453 20.9238C5.13673 18.5747 8.33894 17 12.0009 17ZM12.0009 2C14.7623 2 17.0009 4.23858 17.0009 7V10C17.0009 12.7614 14.7623 15 12.0009 15C9.23945 15 7.00087 12.7614 7.00087 10V7C7.00087 4.23858 9.23945 2 12.0009 2Z"></path></svg>');
        }
      }

      &.selected {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }

  .top-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: var(--text-xs);
    margin-bottom: 2px;
  }

  .bottom-row {
    display: flex;
    flex-direction: row;
    font-size: var(--text-xxs);
  }

  .room-id {
    font-weight: var(--font-light);
    margin-right: 0.25rem;
    white-space: nowrap;
  }

  .player-name {
    font-weight: var(--font-light);
    white-space: nowrap;

    &::before {
      content: "“";
    }

    &::after {
      content: "”";
    }
  }

  .created-at {
    font-weight: var(--font-medium);
    flex: 1;
    margin-right: 9px;
    align-items: center;
    white-space: nowrap;
  }

  .num-players {
    font-weight: var(--font-medium);
    flex: 1;
    margin-right: auto;
    align-items: center;
    white-space: nowrap;
  }
}
