<div #reference class="dropdown-input">
  <app-input
    [placeholder]="placeholder"
    [value]="roomId"
    [busy]="busy"
    [disabled]="disabled || busy"
    (change)="onRoomChanged($event)"
  />
  <div class="dropdown-button" [class.disabled]="disabled || busy" (click)="handleClick()" *ngIf="numRooms() > 0">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="20"
      height="20"
    >
      <path
        d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z"
        fill="#32465f"
      ></path>
    </svg>
  </div>
</div>

<div
  #floating
  class="options floating-ui-float app-box-shadow"
  [class.hidden]="!showMenu"
>
  <div
    class="option"
    *ngFor="let option of getOptions(); trackBy: identifyOption"
    (click)="select(option)"
  >
    <div class="top-row">
      <span class="room-id" name="room-id">{{ option.roomId }}</span>
      <span class="player-name" name="player-name" *ngIf="option.playerName">{{
        option.playerName
      }}</span>
    </div>
    <div class="bottom-row">
      <div class="created-at">
        <span class="icon-cal" name="created-at">
          {{ formatDateTime(option.createdAt) }}</span
        >
      </div>
      <div class="num-players">
        <span class="icon-user" name="num-players">
          {{ option.numPlayers }} Players</span
        >
      </div>
    </div>
  </div>
</div>
