<app-modal #dialog>
  <div class="wrapper">
    <modal-header></modal-header>

    <modal-body>
      <div>{{ message }}</div>
    </modal-body>

    <modal-footer
      (close)="closeModal()"
      [primaryButtonProps]="primaryButtonProps"
    ></modal-footer>
  </div>
</app-modal>
