@import "../shared.scss";

:host {
  padding: var(--spacing-2) var(--spacing-4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  min-height: 1.375em;

  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2);
    font-size: var(--text-xs);
  }

  .button {
    &.modal-close {
      background: var(--color-modal-background);
      color: var(--color-gray-50);
    }
  }

  .icon {
    width: var(--spacing-2_5);
    height: var(--spacing-2_5);
  }
}
