@import "../../../assets/styles/shadow";

:host {
  --modal-margin-top: var(--spacing-2);
  --modal-margin-bottom: var(--modal-margin-top);
  --modal-margin-left: var(--spacing-2);
  --modal-margin-right: var(--modal-margin-left);

  position: fixed;
  left: 0;
  top: 0;
  height: 0%;
  width: 0%;
  display: grid;
  overflow: clip;

  dialog {
    @include shadow-lg;

    max-height: calc(100vh - var(--modal-margin-top) - var(--modal-margin-bottom));
    max-width: calc(100vw - var(--modal-margin-left) - var(--modal-margin-right));
    height: fit-content;
    width: fit-content;
    padding: 0;
    margin: auto;
    border: 0;
    background: transparent;

    place-self: center;
    display: flex;
    flex-direction: column;

    &:focus-visible {
      outline: none;
    }
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.35);
  }

  dialog,
  dialog::backdrop {
    visibility: visible;
    opacity: 1;
    transition: visibility 300ms, opacity 400ms ease-in-out;
  }

  dialog.hidden,
  dialog.hidden::backdrop {
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms, opacity 400ms ease-in-out;
  }

  /* sizes */
  dialog {
    &.fixed-400 {
      width: 400px;

      @media (max-height: 510px), (max-width: 463px) {
        display: none;
      }
    }

    &.fixed-440 {
      width: 440px;

      @media (max-height: 510px), (max-width: 463px) {
        display: none;
      }
    }

    &.fixed-700 {
      width: clamp(340px, 700px, 100%);

      @media (max-height: 510px), (max-width: 463px) {
        display: none;
      }
    }

    &.fixed-865 {
      width: clamp(340px, 865px, 100%);

      @media (max-height: 510px), (max-width: 463px) {
        display: none;
      }
    }


    &.extra-small {
      width: 24%;

      @media only screen and (max-width: 1584px) {
        width: 24%;
      }
      @media only screen and (max-width: 1312px) {
        width: 24%;
      }
      @media only screen and (max-width: 1056px) {
        width: 32%;
      }
      @media only screen and (max-width: 672px) {
        width: 48%;
      }
      @media only screen and (max-width: 320px) {
        width: 100%;
      }
    }

    &.small {
      width: 36%;
      @media only screen and (max-width: 1584px) {
        width: 36%;
      }
      @media only screen and (max-width: 1312px) {
        width: 36%;
      }
      @media only screen and (max-width: 1056px) {
        width: 42%;
      }
      @media only screen and (max-width: 672px) {
        width: 60%;
      }
      @media only screen and (max-width: 320px) {
        width: 100%;
      }
    }

    &.medium {
      width: 48%;
      @media only screen and (max-width: 1584px) {
        width: 48%;
      }
      @media only screen and (max-width: 1312px) {
        width: 48%;
      }
      @media only screen and (max-width: 1056px) {
        width: 60%;
      }
      @media only screen and (max-width: 672px) {
        width: 84%;
      }
      @media only screen and (max-width: 320px) {
        width: 100%;
      }
    }

    &.large {
      width: 72%;
      @media only screen and (max-width: 1584px) {
        width: 72%;
      }
      @media only screen and (max-width: 1312px) {
        width: 72%;
      }
      @media only screen and (max-width: 1056px) {
        width: 84%;
      }
      @media only screen and (max-width: 672px) {
        width: 96%;
      }
      @media only screen and (max-width: 320px) {
        width: 100%;
      }
    }
  }
}
