@import "src/assets/styles/input";
@import "src/assets/styles/form";

:host {
  .content {
    height: fit-content;
    color: var(--color-gray-50);
    background: var(--color-modal-background);
  }

  .form {
    margin-top: 120px;
    min-height: calc(301px - 2 * 27px);
  }

  .signin-text {
    a {
      cursor: pointer;
      color: var(--color-link);
    }
  }

  .email-wrapper,
  .signin-text,
  .password-wrapper,
  .repeat-password-wrapper {
    margin-bottom: 12px;
  }
}
