<app-modal #modal size="fixed-440">
<div class="content">
<modal-header (close)="modal.close()" [title]="'SetNewPassword' | translate"></modal-header>

<modal-body *ngIf="formGroups">
  <section>
    <form *ngIf="isOpen" [formGroup]="formGroups['ask-for-new-password']" class="form" (keydown.enter)="modalFooter.onPrimaryClicked()" formError>
      <div class="password-wrapper">
        <app-input
          [control]="passwordControl"
          type="password"
          [placeholder]="'Password' | translate"
          [autofocus]="true"
        />

        <div
          *ngIf="
            passwordControl.invalid &&
            (passwordControl.dirty || passwordControl.touched)
          "
          class="alert"
        >
          <div *ngIf="passwordControl.errors?.['required']" class="form-error">
            {{ 'Form.Password.Required' | translate }}
          </div>
          <div *ngIf="passwordControl.errors?.['minlength']" class="form-error">
            {{ 'Form.Password.TooShort' | translate }}
          </div>
          <div *ngIf="passwordControl.errors?.['maxlength']" class="form-error">
            {{ 'Form.Password.TooLong' | translate }}
          </div>
          <div
            *ngIf="passwordControl.errors?.['containsNoDigit']"
            class="form-error"
          >
            {{ 'Form.Password.AtLeastOneDigit' | translate }}
          </div>
          <div
            *ngIf="passwordControl.errors?.['containsNoSymbol']"
            class="form-error"
          >
            {{ 'Form.Password.AtLeastOneSymbol' | translate }}
          </div>
        </div>
      </div>

      <div class="repeat-password-wrapper">
        <app-input
          [control]="repeatedPasswordControl"
          type="password"
          [placeholder]="'Password.Repeat' | translate"
        />

        <div
          *ngIf="
            formGroups['ask-for-new-password'].invalid &&
            (repeatedPasswordControl.dirty || repeatedPasswordControl.touched)
          "
          class="alert"
        >
          <div
            *ngIf="formGroups['ask-for-new-password'].errors?.['passwordsDontMatch']"
            class="form-error"
          >
            {{ 'Form.Password.DontMatch' | translate }}
          </div>
        </div>
      </div>

      <div class="alert" *ngIf="errorMessage">
        <div class="form-error">
          <span>{{ errorMessage }}</span>
        </div>
      </div>
    </form>
  </section>
</modal-body>

<modal-footer #modalFooter
  (close)="modal.close()"
  [primaryButtonProps]="primaryButtonProps"
  [secondaryButtonProps]="secondaryButtonProps"
></modal-footer>
</div>
</app-modal>

<app-alert-modal #alertModal></app-alert-modal>
