<modal-header (close)="onClose.emit()" title="Login to account"></modal-header>

<modal-body>
  <form [formGroup]="formGroup" class="form" (keydown.enter)="modalFooter.onPrimaryClicked()" formError>
    <div class="signup-text">
      <span>{{ 'SignUp.DontHaveAccount' | translate }} </span>
      <a (click)="openRegisterModal()">{{ 'SignUp.CreateOneForFree' | translate }}</a>
    </div>

    <div class="email-wrapper">
      <app-input
        #emailInput
        [control]="emailControl"
        type="text"
        placeholder="Email"
      />

      <div
        *ngIf="showEmailError"
        class="alert"
      >
        <div *ngIf="emailControl.errors?.['required']" class="form-error">
          {{ 'Email.Required' | translate }}
        </div>
      </div>
    </div>

    <div class="password-wrapper">
      <app-input
        [control]="passwordControl"
        type="password"
        placeholder="Password"
      />

      <div
        *ngIf="showPasswordError"
        class="alert"
      >
        <div *ngIf="passwordControl.errors?.['required']" class="form-error">
          {{ 'Password.Required' | translate }}
        </div>
      </div>
    </div>

    <!-- padding -->
    <div *ngIf="!showEmailError" class="padding">
      <div class="form-error"> -- </div>
    </div>

    <div *ngIf="!showPasswordError" class="padding">
      <div class="form-error"> -- </div>
    </div>
    <!-- end of padding -->

    <div class="alert" *ngIf="errorMessage">
      <div class="form-error">
        <span>{{ errorMessage }}</span>
      </div>
    </div>

    <span class="password-reset-text">
      {{ 'SignIn.ForgotPassword' | translate }}
      <a (click)="openPasswordResetModal()">{{ 'SignIn.ResetPassword' | translate }}</a>
    </span>
  </form>
</modal-body>

<modal-footer #modalFooter
  (close)="onClose.emit()"
  [primaryButtonProps]="primaryButtonProps"
></modal-footer>
