@import "src/assets/styles/form";

:host {
  color: var(--color-gray-50);
  background: var(--color-modal-background);
  width: 100%;

  .form {
    margin-top: 120px;
    min-height: calc(301px - 2 * 27px);
  }

  .signup-text,
  .password-reset-text {
    a {
      cursor: pointer;
      color: var(--color-link);
    }
  }

  .signup-text,
  .email-wrapper,
  .password-wrapper,
  .password-reset-text {
    margin-bottom: 12px;
  }

  .padding {
    visibility: hidden;
  }
}
