.ressource {
  display: flex;
  align-items: center;

  .left, .right {
    width: 50%;
    padding: 0 2px;
  }

  .left {
    text-align: right;
  }

  .percentage {
    border: 1px solid white;
    height: var(--line-xs);

    &.green {
      background-color: #00FF94;
    }

    &.blue {
      background-color: #00E0FF;
    }

    &.pink {
      background-color: #EB00FF;
    }

    &.lime {
      background-color: #BDFF00;
    }

    &.orange {
      background-color: #FF8A00;
    }
  }
}
