<div class="timeline" [class.disabled]="disabled">
  <div class="start">
    {{ startDate.toLocaleDateString() }}
  </div>

  <div class="duration">
    <span class="dash"></span>
    <span>{{ duration }} {{ 'Days' | translate }}</span>
    <span class="dash"></span>
  </div>

  <div class="end">
    {{ endDate.toLocaleDateString() }}
  </div>
</div>
