.timeline {
  display: flex;
  flex-direction: row;
  font-size: 10px;

  .start, .end, .duration {
    padding: var(--spacing-1);
  }

  .start, .end {
    background-color: #2667FF;
  }

  .duration {
    flex-grow: 1;
    display: flex;
    gap: var(--spacing-1);
    align-items: center;

    background-color: #3B28CC;

    .dash {
      height: 1px;
      flex-grow: 1;
      border-top: 1px dashed #2667FF;
    }
  }

  &.disabled {
    .start, .end {
      background-color: #41444C;
    }

    .duration {
      background-color: #33353B;

      .dash {
        border-top: 1px dashed #41444C;
      }
    }
  }
}
