@import "../../modal/shared.scss";
@import "../../../assets/styles/input.scss";

:host {
  .mt-16 {
    margin-top: 16px;
  }

  .space-80 {
    height: 80px;
  }

  .avatar-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 24px;
    max-height: 400px;
    overflow: auto;

    .avatar {
      background: var(--color-gray-50);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      padding: 8px;
      width: 80px;
      height: 80px;
    }

    .available {
      cursor: pointer;
      border: solid 2px var(--color-modal-background);

      &:hover {
        background: var(--color-primary);
      }
    }

    .unavailable {
      cursor: not-allowed;
      img {
        filter: saturate(0);
      }
    }

    .current {
      cursor: pointer;
      background: var(--color-secondary-2);

      &:hover {
        background: var(--color-primary);
      }
    }

    .selected {
      background: var(--color-primary);
    }
  }
}
