<modal-dialog
  size="fixed-400"
  closeOnEscape
  closeOnOutsideClick
  confirmCloseWith="secondary"
  [showHeader]="true"
  title="{{ 'CustomizePlayer.Customize' | translate }}"
  [showFooter]="true"
  [primaryButtonProps]="primaryButtonProps"
  [secondaryButtonProps]="secondaryButtonProps">
  <div class="space-80"></div>
  <app-input
    [maxlength]="maxNameLength"
    [placeholder]="'CustomizePlayer.NewName' | translate"
    [value]="name"
    (change)="onChangeName($event)"
  />
  <div class="avatar-list mt-16">
    <div
      class="avatar"
      *ngFor="let item of avatarsFromServer"
      [class.current]="itemOf(item.avatar).isCurrent"
      [class.selected]="itemOf(item.avatar).isSelected"
      [class.available]="itemOf(item.avatar).isAvailable"
      [class.unavailable]="itemOf(item.avatar).isUnavailable"
      (click)="setSelectedAvatar(itemOf(item.avatar))">
      <img src="assets/player-{{ item.avatar }}.svg" />
    </div>
  </div>
</modal-dialog>

<app-confirmation-box #confirmationBox>
  {{ "ConfirmationAvatarChange.Message" | translate }}
</app-confirmation-box>
