<app-step-modal-description
  headline="{{ 'Import.YourJiraResources' | translate }}"
  />

<ng-container *ngIf="isLoading">
  <app-inline-loading statusText="{{ 'Loading.JiraInstances' | translate }}" />
</ng-container>
<ng-container *ngIf="!isLoading && isError">
  <app-jira-error-page
    [error]="error"
    (reconnect)="reconnectEmitter.emit()">
  </app-jira-error-page>
</ng-container>
<div class="selection-wrapper" *ngIf="!isLoading">
  <ng-container *ngIf="isLoaded">
    <app-project-choice-button
      [selected]="selected === instance.id"
      [headline]="instance.name"
      [img]="instance.avatarUrl"
      status=""
      *ngFor="let instance of data; trackBy: identifyInstance"
      (click)="select(instance)"
      />

      <ng-container *ngIf="data.length == 0">
        {{ "Import.NoResourcesAvailable" | translate }}
      </ng-container>
  </ng-container>
</div>

