.automatic-forecast {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-9);

  .assumption-disclaimer {
    align-self: center;
    display: flex;
    gap: var(--spacing-1);
    align-items: center;

    color: var(--color-critical);
    font-size: 8px;

    .disclaimer {
      display: flex;
      flex-direction: column;

      .medium {
        font-weight: var(--font-medium);
      }
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);

    .row {
      display: flex;
      justify-content: space-between;

      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  &.disabled {
    .assumption-disclaimer {
      color: rgba(255, 255, 255, 0.15);
    }

    .value {
      filter: blur(0.15rem);
      opacity: 50%;
    }
  }
}
