<div class="automatic-forecast" [class.disabled]="disabled">
  <app-timeline [disabled]="disabled"></app-timeline>

  <div class="assumption-disclaimer">
    <app-icon name="warning-circle" size="16px"/>
    <div class="disclaimer">
      <span>{{ 'Assumption' | translate }}</span>
      <span class="medium">{{ 'AddSpecificData' | translate }}</span>
    </div>
  </div>

  <div class="data">
    <div class="row">
      <span>{{ 'PlannedAbsences' | translate }}</span>
      <span class="value">0</span>
    </div>

    <div class="row">
      <span>{{ 'StoryPoints' | translate }}</span>
      <span class="value">160SP</span>
    </div>

    <div class="row">
      <span>{{ 'WorkHours' | translate }}</span>
      <span class="value">320h</span>
    </div>

    <div class="row">
      <span>{{ 'ExpectedPersonnelCosts' | translate }}</span>
      <span class="value">18.000€</span>
    </div>
  </div>
</div>
