.list-item {
  border-bottom: 1px solid #3c3c3c;
  padding: 1.5rem 0;
  overflow: hidden; // Verhindert visuelle Überläufe während der Animation
  display: flex;
  gap: var(--spacing-2);
  flex-direction: column;
  cursor: pointer;

  &:hover {
    h4 {
      text-decoration: underline;
    }
  }

  &.open {
    .toggle img {
      transform: rotate(180deg);
    }
  }
}

.faq-header {
  display: flex;
  gap: var(--spacing-4);
  justify-content: space-between;

  h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }

  .toggle {
    width: 24px;
    height: 24px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .toggle img {
    transition: transform 0.1s linear;
  }
}

.faq-answer {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  line-height: 1.5;
  font-weight: 200;
  padding-right: var(--spacing-12);
  transition: grid-template-rows 0.3s ease; // Position animieren

  & > div {
    overflow: hidden;
  }

  &.closed {
    grid-template-rows: 0fr; // Höhe auf 0 reduzieren
  }

  &.open {
    grid-template-rows: 1fr; // Automatische Höhe
  }
}
