<div class="list-item" (click)="toggle()" [class.open]="isOpen">
    <header class="faq-header">
        <h4>{{ question }}</h4>
        <div class="toggle">
            <img src="/assets/startpage-2024/toggle-arrow.svg" alt="FAQ Frage Toggle" />
        </div>
    </header>
    <div class="faq-answer" [class.open]="isOpen && !isClosing" [class.closing]="isClosing"
            [class.closed]="!isOpen && !isClosing">
        <div>
            {{ answer }}
        </div>
    </div>

</div>