<div class="section">
  {{ "Forecast.Capacity" | translate }}

  <div class="capacity-overview">
    <app-pill [icon]="'group-line'" [content]="players.length.toString()"></app-pill>
    <app-pill [icon]="'full-time-employees'" [content]="'4.75'"></app-pill>
    <app-pill [icon]="'dollar-in-box'" [content]="'38.280'"></app-pill>
  </div>

  <div class="capacities">
    <app-capacity
      *ngFor="let player of players"
      [name]="player.name"
      [percentage]="100"
    ></app-capacity>
  </div>

  <div class="actions">
    <app-button flavor="control" (click)="improve()">{{ "Improve.Results" | translate }}</app-button>
  </div>
</div>

<app-auth-modal #authModal></app-auth-modal>
