<section class="module-group">
  <!-- integrations -->
  <section class="content-module integrations">
    <div class="content">
      <div class="column text single">
        <div class="module-header">
          <div class="headline">
            <div class="meta-headline">
              {{ "HomepageNew.Integrations.MetaHeadline" | translate }}
            </div>
            <h1 class="module-title">
              {{ "HomepageNew.Integrations.Title" | translate }}
            </h1>
            <div class="marketing-text">
              <p>{{ "HomepageNew.Integrations.MarketingText" | translate }}</p>
            </div>
            <div class="marketing-picture">
              <img
                src="/assets/startpage-2024/modal-connect-task-source.png"
                alt="{{ 'HomepageNew.Integrations.ImageAlt' | translate }}"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mobile-buttons">
        <app-button flavor="primary" (click)="openDetails()">
          {{ "HomepageNew.Integrations.MoreDetails" | translate }}
        </app-button>
      </div>
    </div>
  </section>
</section>
