:host {
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    span {
      user-select: none;
      font-size: var(--text-xs);
      line-height: 100%;
    }
  }
}
