<modal-dialog
  #modal
  size="fixed-700"
  closeOnEscape
  [showHeader]="true"
  [title]="'Import.Tasks' | translate"
  [showFooter]="true"
  [primaryButtonProps]="primaryButtonProps"
  [secondaryButtonProps]="secondaryButtonProps"
  [tertiaryButtonProps]="tertiaryButtonProps"
  >
    <div class="content">
      <app-progress-navigation
        [steps]="steps"
        (reset)="reset($event)">
      </app-progress-navigation>

      <div class="scrollable-area" *ngIf="isModalInitializing">
        <app-inline-loading statusText="{{ 'Loading' | translate }}" />
      </div>
      <div class="scrollable-area" *ngIf="!isModalInitializing">
        <ng-container *ngIf="isServiceSelection">
          <app-import-source-select
            [sources]="issueSources"
            [selected]="nav.source.id"
            (select)="selectIssueSource($event)"
            >
          </app-import-source-select>
        </ng-container>

        <ng-container *ngIf="isJira">
          <ng-container *ngIf="isInstanceSelection">
            <app-jira-instance-select
              [selected]="nav.instance.id"
              (reconnect)="connectJira()"
              (select)="nav.selectJiraResource($event)"
              >
            </app-jira-instance-select>
          </ng-container>

          <ng-container *ngIf="isBoardSelection">
            <app-jira-board-select
              [instanceId]="nav.instance.id"
              [selected]="nav.board.id"
              (reconnect)="connectJira()"
              (select)="nav.selectJiraBoard($event)"
              >
            </app-jira-board-select>
          </ng-container>

          <ng-container *ngIf="isSprintSelection">
            <app-jira-sprint-select
              mode="import"
              [instanceId]="nav.instance.id"
              [boardId]="nav.board.id"
              [selected]="nav.sprint.id"
              [isImportRestricted]="isImportRestricted"
              [maxRestrictedImport]="MAX_RESTRICTED_IMPORT"
              (reconnect)="connectJira()"
              (select)="nav.selectJiraSprint($event)"
              >
            </app-jira-sprint-select>
          </ng-container>
        </ng-container>
      </div>
    </div>
</modal-dialog>

<app-auth-modal #authModal>
</app-auth-modal>
