:host {
  --color-border: var(--color-input-border-primary);
  --color-progressbar-background: var(--color-gray-50);

  box-sizing: border-box;
  width: 277px;
  height: 70px;

  .outline {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: solid 2px var(--color-border);
    border-radius: 48px;
    padding: 8px 24px;
  }

  .panels {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .panel-title {
    flex: 1;
    margin-bottom: 8px;
    font-family: var(--font-sans);
    font-size: var(--text-xxs);
    font-weight: var(--font-bold);
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-border);
  }

  .panel-content {
    flex: 2;
    font-family: var(--font-sans);
    font-size: 8px;
    font-weight: var(--font-semibold);
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
  }

  .panel {
    height: 100%;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .majority-panel {
    padding-left: 0;
    flex: 4;
  }

  .outliers-panel {
    flex: 2;
    border: solid 0px var(--color-border);
    border-left-width: 1px;
    margin-top: 1.5px;
  }

  .average-panel {
    padding-right: 0;
    flex: 1;
    border: solid 0px var(--color-border);
    border-left-width: 1px;
  }

  .progress-outline {
    box-sizing: border-box;
    height: 16px;
    width: 100%;
    border: solid 1px var(--color-border);
    background-color: var(--color-progressbar-background);
    position: relative;
  }

  .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--color-border);
    display: flex;
    color: #ffffff;
    align-items: center;
    padding-left: 2px;
  }

  .outlier {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5px;

    .icon-outline {
      color: var(--color-border);
      box-sizing: border-box;
      width: 13px;
      height: 13px;
      border: solid 1px var(--color-border);
      margin-right: 2px;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 7px;
        width: 7px;
      }
    }
  }

  .avg-disclaimer-icon {
    color: var(--color-border);
    cursor: pointer;
  }
}
