<div class="outline">
  <div class="panels">
    <div class="panel majority-panel">
      <div class="panel-title">{{ "Stats.Majority" | translate }}</div>
      <div class="panel-content">
        <div class="progress-outline">
          <div
            class="progress-bar"
            style="width: calc( {{ stats.maxVotes }} / {{
              stats.totalVotes == 0 ? 1 : stats.totalVotes
            }} * 100% - 2px );"
          ></div>
        </div>
        <div *ngIf="consensusReached">
          {{ consensusInPercent }}% {{ "Stats.Consensus" | translate }}{{ majorCandidate }}
        </div>
        <div *ngIf="!consensusReached">
          {{ "Stats.NoConsensus" | translate }}
        </div>
      </div>
    </div>
    <div class="panel outliers-panel">
      <div class="panel-title">{{ "Stats.MaxMin" | translate }}</div>
      <div class="panel-content">
        <div class="outlier">
          <div class="icon-outline">
            <img src="assets/icon-outlier-max.svg" />
          </div>
          <span>{{ maxCard ?? "n/a" }}</span>
        </div>
        <div class="outlier">
          <div class="icon-outline">
            <img src="assets/icon-outlier-min.svg" />
          </div>
          <span>{{ minCard ?? "n/a" }}</span>
        </div>
      </div>
    </div>
    <div class="panel average-panel">
      <div class="panel-title">AVG</div>
      <div class="panel-content">
        <app-icon
          class="avg-disclaimer-icon"
          (click)="showAvgDisclaimer()"
          name="information-line"
          size="16px"
          />
      </div>
    </div>
  </div>
</div>

<app-avg-disclaimer-modal #avgDisclaimerModal/>
