<div class="section">
  {{ "Ressource.Allocation" | translate }}

  <div class="ressources">
    <app-ressource
      [name]="'Reporting'"
      [color]="'green'"
      [percentage]="50"
    ></app-ressource>

    <app-ressource
      [name]="'Development'"
      [color]="'blue'"
      [percentage]="20"
    ></app-ressource>

    <app-ressource
      [name]="'Documentation'"
      [color]="'pink'"
      [percentage]="40"
    ></app-ressource>

    <app-ressource
      [name]="'Delivery'"
      [color]="'lime'"
      [percentage]="40"
    ></app-ressource>

    <app-ressource
      [name]="'Support'"
      [color]="'orange'"
      [percentage]="50"
    ></app-ressource>
  </div>
</div>

<div class="section no-gap">
  {{ "Suggestion" | translate }}

  <ul>
    <li>20% of the repititive tasks could be easily replaced by automized processes</li>
  </ul>

  <div class="actions">
    <app-button flavor="control" (click)="improve()">{{ "Improve" | translate }}</app-button>
  </div>
</div>

<app-auth-modal #authModal></app-auth-modal>
