@import "../../../../assets/styles/_input.scss";
@import "../../shared";

@mixin subtask-hover {
  cursor: pointer;
  .subtask-input {
    cursor: pointer;
  }

  app-settings-menu {
    display: inline-block;
  }
  .drag-icon {
    display: inline-block;
  }
}

:host {
  --info-label-background: rgba(204, 0, 255, 29%);
  --info-label-pro-background: rgba(39, 150, 00, 39%);
  --color-ai-generated: #3d8ff0;
  --link-color: #9747FF;
  --empty-state-text-color: #9F9FAE;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-2_5);


  .disclaimer-wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2);
    padding: var(--spacing-2);

    &.warning {
      color: var(--color-warning);
      border: 1px solid var(--color-warning);
    }

    &.emphasis {
      color: var(--color-emphasis);
      border: 1px solid var(--color-emphasis);
    }

    span {
      font-family: "IBM Plex Sans";
      font-size: var(--text-xxs);
      line-height: 12px;
      font-weight: var(--font-normal);

      b {
        background: red;
        font-weight: 700;
      }

      emph {
        text-decoration: underline;
      }
    }

    img {
      height: var(--spacing-4);
      aspect-ratio: 1;
    }
  }

  .content-wrapper {
    display: grid;
    row-gap: var(--spacing-3);
    column-gap: var(--spacing-2_5);
    grid-template-columns: 1fr 0fr;
    background-color: var(--color-panel-background);
    padding: var(--spacing-2_5);
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-0_5);
  }

  .title {
    font-family: var(--font-sans);
    font-weight: var(--font-medium);
    font-size: var(--text-xs);
    line-height: var(--line-xs);
  }

  .description {
    font-family: var(--font-sans);
    font-weight: var(--font-extralight);
    font-size: var(--text-xxs);
    line-height: 13px;
  }

  .controls-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-0_5);
    justify-content: flex-end;
  }

  .subtasks-wrapper {
    grid-column: 1 / span 2;
    overflow-y: auto;

    .subtask-list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-0_5);
    }

    .displayNone {
      display: none;
    }
  }

  app-button {
    line-height: 100%;
  }

  .badge {
  }


  .subtasks-wrapper-empty {
    display: grid;
    padding: var(--spacing-12) 0;
    grid-column: 1 / span 2;

    .disclaimer {
      place-self: center;
      max-width: 232px;
      color: var(--empty-state-text-color);

      font-size: var(--text-xs);
      font-weight: var(--font-light);
      line-height: auto;
    }

    a.tryout {
      cursor: pointer;
      color: var(--link-color);
      font-weight: var(--font-light);
      text-decoration: underline;
    }
  }
}
