<div class="disclaimer-wrapper emphasis">
  <app-icon name="information-fill" size="16px"/>
  <span [innerHTML]='"Task.AiSubtask" | translate | rawHtml'></span>
</div>

<div class="content-wrapper">
  <div class="title-wrapper">
    <div class="title">{{"Task.SubtaskConceptSketch.Title" | translate}}</div>
    <div class="description">{{"Task.SubtaskConceptSketch.Explanation" | translate}}</div>
  </div>
  <div class="controls-wrapper">
    <app-button gap="2" flavor="control-small" [busy]="pendingAiGeneration" (click)="generateAiSubtasks()">

      <span>
        {{"Task.NewAiSubtask"| translate}}
      </span>

      <div class="license-badge">
        <div class="badge" *kwRole="'anonymous'">
          <app-feature-lock/>
        </div>
        <div class="badge" *kwRole="'signedup'">
          <app-feature-lock *ngIf="!hasFreeAiEstimations"/>
          <app-feature-lock *ngIf="hasFreeAiEstimations"
            unlocked
            noIcon
            text="{{freeAiEstimations}}x {{'Task.NewAiSubtask.FreeTriesLeft' | translate}}"
            />
        </div>
        <div class="badge" *kwRole="'pro'">
          <app-feature-lock unlocked/>
        </div>
      </div>

    </app-button>

    <app-button flavor="control-small" class="create-subtask" (click)="addSubtask()">
      {{"Task.NewSubtask" | translate}}
    </app-button>
  </div>
  <div class="subtasks-wrapper" *ngIf="subtasksExist" cdkScrollable>
    <div class="subtask-list"
      cdkDropList
      (cdkDropListDropped)="dropSubtask($event)">
      <app-subtask-item *ngFor="let subtask of subtasks"
        [subtask]="subtask"
        cdkDrag
        [cdkDragStartDelay]="dragStartDelay"
        cdkDragPreviewContainer="parent"
        [class.displayNone]="subtask.deleted"
        [cdkDragDisabled]="!isSignedIn"
        (subtaskChanged)="onSubjectChanged()"
        (subtaskDeleted)="deleteSubtask($event)">
      </app-subtask-item>
    </div>
  </div>
  <div class="subtasks-wrapper-empty" *ngIf="!subtasksExist">
    <app-disclaimer class="disclaimer" icon="chat-smile-3">
      {{"Task.SubtaskConceptSketch.EmptyStateShort" | translate}}
      <br/>
      <div *kwRole="'anonymous'">
        <a class="tryout" (click)="onTryoutLinkClicked()">
          {{"Task.SubtaskConceptSketch.EmptyStateShortFree.Link" | translate}}
        </a>
      </div>
      <div *kwRole="'signedup'">
        <a class="tryout" (click)="onTryoutLinkClicked()" *ngIf="hasFreeAiEstimations">
          {{"Task.SubtaskConceptSketch.EmptyStateShortFree.Link" | translate}}
        </a>
        <a class="tryout" (click)="onTryoutLinkClicked()" *ngIf="!hasFreeAiEstimations">
          {{"Task.SubtaskConceptSketch.EmptyStateShort.Link" | translate}}
        </a>
      </div>
      <div *kwRole="'pro'">
        <a class="tryout" (click)="onTryoutLinkClicked()">
          {{"Task.SubtaskConceptSketch.EmptyStateShort.Link" | translate}}
        </a>
      </div>
    </app-disclaimer>
  </div>
</div>

<app-auth-modal #authModal>
</app-auth-modal>
