:host {
  --unlocked-green: #00FF57; // = rgb(0, 255, 87);
  --unlocked-green-background: rgb(0, 255, 87, .29);

  border-radius: var(--spacing-1);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--spacing-1);
  padding: 0 var(--spacing-1);
  align-items: center;

  height: 1.125rem;

  .lock-icon {
    place-self: center;
    width: 0.625rem;
    height: 0.625rem;
  }

  &.locked {
    background: white;
    color: var(--color-modal-background);
  }

  &.unlocked {
    color: var(--unlocked-green);
    background: var(--unlocked-green-background);
  }

  .text {
    display: flex;
    align-items: center;

    font-size: var(--text-xs);
    font-weight: var(--font-medium);
    line-height: 100%;
  }
}
