:host {
  --text-color: var(--color-default-10);
  --bg-color: #2C2C30;

  user-select: none;

  display: grid;
  grid-template-columns: var(--spacing-6) fit-content(21rem) 1fr;
  grid-column-gap: var(--spacing-4);

  border-bottom: solid var(--spacing-0_5);
  padding: var(--spacing-4);
  background: var(--bg-color);

  .icon {
    grid-column: 1;
    grid-row: 1 / span 2;

    app-icon {
      width: var(--spacing-6);
      aspect-ratio: 1;
    }
  }

  .title {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-weight: var(--font-semibold);
    font-size: var(--text-xs);
    line-height: auto;
  }

  .description {
    grid-column: 2;
    grid-row: 2;

    font-weight: var(--font-normal);
    font-size: var(--text-xs);
    line-height: auto;
    color: var(--text-color);
  }

  .actions {
    grid-column: 3;
    grid-row: 2;

    width: fit-content;
    height: fit-content;
  }

  &.info {
    border-color: var(--color-info);
    .title, .icon {
      color: var(--color-info);
    }
  }

  &.success {
    border-color: var(--color-success);
    .title, .icon {
      color: var(--color-success);
    }
  }

  &.warning {
    border-color: var(--color-warning);
    .title, .icon {
      color: var(--color-warning);
    }
  }

  &.danger {
    border-color: var(--color-danger);
    .title, .icon {
      color: var(--color-danger);
    }
  }

  &.critical {
    border-color: var(--color-critical);
    .title, .icon {
      color: var(--color-critical);
    }
  }
}
