:host {
  --text-color: var(--color-default-10);
  --bg-color: #2C2C30;

  display: flex;
  flex-direction: column;
  border-left: solid var(--spacing-0_5);
  padding: var(--spacing-3);
  background: var(--bg-color);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-weight: var(--font-semibold);
    font-size: var(--text-xs);
    line-height: auto;
    margin-bottom: var(--spacing-1);

    button {
      cursor: pointer;
      border: none;
      color: var(--text-color);
      background: transparent;
    }
  }

  .description {
    font-weight: var(--font-normal);
    font-size: var(--text-xs);
    line-height: auto;
    color: var(--text-color);
    padding-right: var(--spacing-6);

    margin-bottom: var(--spacing-2);
  }

  app-button {
    width: fit-content;
  }

  &.info {
    border-color: var(--color-info);
    .title {
      color: var(--color-info);
    }
  }

  &.success {
    border-color: var(--color-success);
    .title {
      color: var(--color-success);
    }
  }

  &.warning {
    border-color: var(--color-warning);
    .title {
      color: var(--color-warning);
    }
  }

  &.danger {
    border-color: var(--color-danger);
    .title {
      color: var(--color-danger);
    }
  }

  &.critical {
    border-color: var(--color-critical);
    .title {
      color: var(--color-critical);
    }
  }
}
