:host {
  --inline-loading-background: rgba(0, 0, 0, 0.1);
  --inline-loading-color: var(--color-gray-50);

  user-select: none;

  flex-grow: 1;
  display: grid;
  height: 100%;
  width: 100%;

  .loading {
    place-self: center;
    min-width: var(--spacing-48);
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--spacing-0_5);

    .status-text {
      font-size: var(--text-xs);
      color: var(--inline-loading-color);
      text-align: center;
      white-space: nowrap;
    }

    .indicator {
      place-self: center;
      position: relative;
      background: var(--inline-loading-background);

      width: clamp(var(--spacing-20), var(--spacing-60), 100%);
      height: var(--spacing-1);

      &:after {
        content: " ";
        position: absolute;
        background: var(--color-gray-50);
        width: 20px;
        height: var(--spacing-1);
        left: calc(100% - 20px);
        bottom: 1px;
        animation: loading 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
      }
    }
  }
}
