<div class="icon">
  <app-icon [name]="iconName" size="24px"/>
</div>

<h2 class="title">
  {{ title }}
</h2>

<div class="description">
  {{ description }}
</div>

<div class="actions">
  <ng-content></ng-content>
</div>
