<h2 class="title">
  <span>{{ title }}</span>
  <button (click)="closeEmitter.emit()" *ngIf="closable">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    width="9"
    height="9"
  >
    <path
      d="M 12,9.3444805 21.296196,0.04828438 23.951716,2.7038038 14.655519,12 l 9.296197,9.296196 -2.65552,2.65552 L 12,14.655519 2.7038038,23.951716 0.04828438,21.296196 9.3444805,12 0.04828438,2.7038038 2.7038038,0.04828438 Z"
      fill="currentColor"
      id="path4"
      style="stroke-width: 1.87802"
    />
  </svg>
  </button>
</h2>

<div class="description">
  {{ description }}
</div>

<app-button flavor="control-small-faded" (click)="actionEmitter.emit()">
  {{ actionLabel }}
</app-button>
