<div class="statistics">
  <div class="panel panel-outliers">
    <div class="outlier-title">
      {{ "Stats.Outliers" | translate }}
      <app-icon
        class="avg-disclaimer-icon"
        (click)="showAvgDisclaimer()"
        name="information-line"
      />
    </div>
    <div class="outlier-content">
      <div class="outlier-row">
        <span class="label">max</span>
        <div class="icon-outline">
          <img src="assets/icon-outlier-max.svg"/>
        </div>
        <span class="outlier">{{ maxCard ?? "n/a" }}</span>
      </div>
      <div class="outlier-row">
        <span class="label">min</span>
        <div class="icon-outline">
          <img src="assets/icon-outlier-min.svg"/>
        </div>
        <span class="outlier">{{ minCard ?? "n/a" }}</span>
      </div>
    </div>
  </div>
  <div class="panel panel-majority">
    <div class="majority-info" *ngIf="consensusReached">
      <div>
        {{ stats.maxVotes }} {{ "Stats.Out.Of" | translate }} {{ stats.totalVotes }}
      </div>
      <div class="percentage">{{ consensusInPercent }}%</div>
    </div>
    <div class="no-consensus" *ngIf="!consensusReached">
      {{ 'Stats.NoConsensus' | translate }}
    </div>
    <app-circular-progress
      [percentage]="consensusInPercent"
      [value]="consensusReached ? (majorCandidate ?? '') : 'N/A'"
    ></app-circular-progress>
  </div>
</div>

<app-avg-disclaimer-modal #avgDisclaimerModal/>
