:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .statistics {
    display: flex;
    gap: var(--spacing-6);

    height: 96px;
    border-radius: 60px;
    background: var(--color-modal-background);
    padding: 0 var(--spacing-6);
    color: white;
    font-size: var(--text-xxs);

    .panel {
      padding: var(--spacing-3);
      box-sizing: border-box;
    }

    .panel-outliers {
      display: flex;
      flex-direction: column;

      width: 120px;
      position: relative;

      .outlier-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-transform: uppercase;
        color: var(--color-grey-text);
      }

      .outlier-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .outlier-row {
          display: flex;

          .label {
            text-transform: uppercase;
            color: var(--color-input-border-primary);
            width: 22px;
          }

          .outlier {
            font-weight: var(--font-bold);
          }

          .icon-outline {
            color: var(--color-input-border-primary);
            box-sizing: border-box;
            width: 13px;
            height: 13px;
            border: solid 1px var(--color-input-border-primary);
            margin-right: 2px;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
              height: 7px;
              width: 7px;
            }
          }
        }
      }
    }

    .panel-majority {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);

      .majority-info {
        text-align: end;

        .percentage {
          font-size: var(--text-base);
          font-weight: var(--font-semibold);
        }
      }

      .no-consensus {
        text-transform: uppercase;
      }
    }
  }

  .avg-disclaimer-icon {
    color: var(--color-border);
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
}
