<div class="signin-wrapper">
  <app-wrapped-user-menu class="user-menu">
  </app-wrapped-user-menu>

  <div class="signin-content">
    <app-signin-box></app-signin-box>

    <div class="info-box app-box-shadow">
      <img class="info-box__image" src="assets/icon-devops-lab.svg" />
      <div class="info-box__title">{{ "SignIn.Free" | translate }}</div>
      <div class="info-box__text-container">
        <div class="info-box__text-row">
          <div class="info-box__text-cell">
            {{ "SignIn.Reliably" | translate }}
          </div>
          <div class="info-box__text-cell">
            {{ "SignIn.Registration" | translate }}
          </div>
        </div>
        <div class="info-box__text-row">
          <div class="info-box__text-cell">
            {{ "SignIn.Experience" | translate }}
          </div>
          <div class="info-box__text-cell"></div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
