@import "../../../assets/styles/input";
@import "../../../assets/styles/color";


:host {
  --color-light: #41464d;

  .mb-half-em {
    margin-bottom: var(--spacing-2);
  }

  .mb-two-em {
    margin-bottom: var(--spacing-8);
  }

  .fw-800 {
    font-weight: var(--font-extrabold);
  }

  .info-box,
  .signin {
    z-index: 1;
  }
}

app-signin,
.signin-wrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  .user-menu {
    align-self: start;
    padding: var(--spacing-2);
  }

  .signin-content {
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: var(--spacing-16);
  }

  .info-box {
    width: 2 * 260px;
    padding: var(--spacing-8);
    @media (min-width: 1000px) {
      display: flex;
    }
    display: none;
    flex-direction: column;

    .info-box__image {
      height: 150px;
      align-self: end;
    }
    .info-box__title {
      font-size: var(--text-5xl);
      font-family: var(--font-serif);
      font-weight: var(--font-bold);
      margin-bottom: var(--spacing-6);
      line-height: 1;
    }
    .info-box__text-container {
      display: flex;
      flex-direction: column;
    }
    .info-box__text-row {
      display: flex;
      margin-bottom: var(--spacing-6);
    }
    .info-box__text-cell {
      font-family: var(--font-sans);
      flex: 1;
      color: var(--color-light);
      font-weight: var(--font-extralight);
    }
  }

  app-footer {
    position: absolute;
    top: 100%;
    right: 0;
  }
}
