@mixin button-base {
  border: 0;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  white-space: nowrap;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.gap-0 {
    gap: 0;
  }

  &.gap-0_5 {
    gap: var(--spacing-0_5);
  }

  &.gap-1 {
    gap: var(--spacing-1);
  }

  &.gap-2 {
    gap: var(--spacing-2);
  }

  &.gap-3 {
    gap: var(--spacing-3);
  }

  &.gap-4 {
    gap: var(--spacing-4);
  }

  &.px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  &.px-0_5 {
    padding-left: var(--spacing-0_5);
    padding-right: var(--spacing-0_5);
  }

  &.px-1 {
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
  }

  &.px-2 {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
  }

  &.px-3 {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
  }

  &.px-4 {
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }

  &.px-12 {
    padding-left: var(--spacing-12);
    padding-right: var(--spacing-12);
  }

  &.py-0 {
    padding-left: 0;
    padding-right: 0;
  }

  &.py-0_5 {
    padding-top: var(--spacing-0_5);
    padding-bottom: var(--spacing-0_5);
  }

  &.py-1 {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
  }

  &.py-2 {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
  }

  &.py-3 {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
  }

  &.py-4 {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
  }
}

@mixin button-default {
  color: var(--color-gray-50);

  padding: var(--spacing-4);

  font-family: var(--font-sans);
  font-size: var(--text-md);
  font-weight: var(--font-semibold);
  line-height: 22px;
  text-align: center; /* older browsers */
}

@mixin button-control {
  color: var(--color-panel-text);
  background-color: var(--color-panel-background);

  box-sizing: border-box;
  border: solid 2px var(--color-panel-text);

  font-family: var(--font-sans);
  font-size: var(--text-xxs);
  font-weight: var(--font-semibold);
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;

  app-icon {
    height: var(--spacing-4);
  }

  &.disabled {
    opacity: 0.48;
    cursor: default;
  }
}

@mixin button-project-management {
  background: var(--color-pm-button-background);
  color: var(--color-pm-button-text);

  padding: var(--spacing-1) var(--spacing-2) var(--spacing-1) var(--spacing-2);

  box-sizing: border-box;
  border-radius: var(--spacing-1);

  font-size: var(--text-xxs);

  &.padding-small {
    height: var(--spacing-5);
  }
}


:host {
  .base {
    @include button-base;
  }

  .flavor-default {
    @include button-default;
  }
  &.host-flavor-default {
      max-height: clamp(var(--spacing-10), 8dvh, var(--spacing-14));
  }

  .flavor-primary {
    @include button-default;
    background: var(--color-primary);
  }

  .flavor-secondary {
    @include button-default;
    box-shadow: inset 0 0 0 2px var(--color-primary);
    background: var(--color-secondary-background);
  }

  .flavor-tertiary {
    @include button-default;
    box-shadow: inset 0 0 0 2px var(--color-tertiary);
    background: var(--color-secondary-background);
  }

  .flavor-high-impact {
    @include button-default;
    background: var(--color-danger);
    color: var(--color-gray-50);
  }

  .flavor-control {
    @include button-control;
  }
  &.host-flavor-control {
    height: var(--spacing-8);
  }

  .flavor-control-small {
    cursor: pointer;

    color: var(--color-panel-text);
    background-color: var(--color-panel-background);

    box-sizing: border-box;
    border: solid var(--spacing-px) var(--color-panel-text);

    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-weight: var(--font-normal);
    line-height: 12px;

    flex-direction: row;

    padding: var(--spacing-2);

    app-icon {
      height: var(--spacing-4);
    }

    &.disabled {
      opacity: 0.48;
      cursor: default;
    }
  }
  &.host-flavor-control-small {
  }

  .flavor-control-small-faded {
    cursor: pointer;

    color: var(--color-default-10);
    background-color: transparent;

    box-sizing: border-box;
    border: solid var(--spacing-px) var(--color-default-10);

    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-weight: var(--font-normal);
    line-height: 12px;

    flex-direction: row;

    padding: var(--spacing-2);

    app-icon {
      height: var(--spacing-4);
    }

    &.disabled {
      opacity: 0.48;
      cursor: default;
    }
  }
  &.host-flavor-control-small-faded {
  }

  .flavor-project-management {
    @include button-project-management;
  }
  &.host-flavor-project-management {
    height: var(--spacing-6);
  }
  .flavor-primary-control {
    color: var(--color-gray-50);
    background: var(--color-primary);
    font-weight: var(--font-semibold);
    font-size: var(--text-xxs);
  }
  &.host-flavor-primary-control {
    height: var(--spacing-7);
  }

  .busy {
    color: rgba(from var(--color-gray-50) r g b / 60%);
    cursor: not-allowed;

    &:after {
      content: " ";
      position: absolute;
      background: var(--color-gray-50);
      width: 20px;
      height: 3px;
      left: calc(100% - 20px);
      bottom: 1px;
      animation: loading 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
      border-radius: var(--spacing-1);
    }
  }
  &.host-width-default {
  }
  &.host-width-smaller {
    min-width: var(--spacing-32);
  }
  &.host-width-medium {
    min-width: var(--spacing-40);
  }
}
