:host {
  --panel-background-color: rgb(33, 33, 41);
  --panel-border-color: var(--color-gray-50);
  --button-bg-color: var(--panel-background-color);
  --panel-bg-color: var(--panel-background-color);
  --panel-font-color: var(--color-gray-50);
  --input-font-color: var(--color-gray-950);

  .issue-panel {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    background-color: var(--panel-bg-color);

    padding: var(--spacing-2);
    border: solid 1px var(--panel-border-color);

    .task {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-1);
      min-width: 160px;
      padding-bottom: var(--spacing-1);
    }

    .subject-wrapper {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1rem;
    }

    .subject,
    .subject-label,
    .description {
      color: var(--panel-font-color);
      font-family: var(--font-sans);
      font-size: var(--text-xxs);
      font-style: normal;
      font-weight: var(--font-normal);
      line-height: normal;
    }

    .subject {
      font-weight: var(--font-semibold);
    }

    .description {
      color: var(--panel-font-color);
      max-height: var(--spacing-8);
      max-width: 164px;

      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .controls {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .apply-estimate {
      display: flex;
      flex-direction: row;
      height: var(--spacing-8);
      color: var(--input-font-color);
    }

    .estimate {
      width: var(--spacing-20);
      padding: var(--spacing-2) var(--spacing-3);
      background: var(--panel-border-color);
      color: var(--input-font-color);
    }

    .locked .estimate {
      background: var(--color-gray-200);
    }

    .apply {
      height: auto;
      width: var(--spacing-9);

      img {
        height: var(--spacing-6);
        aspect-ratio: 1;
      }
    }

    .no-apply {
      background: var(--panel-border-color);
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-1);
    }

    .buttons button {
      width: var(--spacing-7);
    }

    button {
      padding: 0;
      display: grid;

      cursor: pointer;
      border: solid 2px var(--panel-border-color);
      background: var(--button-bg-color);

      img {
        place-self: center;
      }
    }

    button.apply {
      border-left: 0;
    }

    .locked button {
      border-color: var(--color-gray-200);
    }

    button.invisible {
      visibility: hidden;
    }

    button.disabled {
      opacity: 0.5;
      cursor: default;
    }

    button.icon-disabled {
      cursor: default;
      img {
        opacity: 0.5;
      }
    }

    input.override {
      outline: none;
      border: none;
      max-width: var(--spacing-16);
    }
  }
}
