<div class="issue-panel" *ngIf="currentTask && taskFeatureEnabled">
  <div class="task">
    <div class="subject-wrapper">
      <span class="subject-label">{{ "Tasks.Estimating" | translate }}{{ " " }}</span>
      <span class="subject">{{ currentTask.subject }}</span>
    </div>
    <div class="description">
      <app-rich-text-view [content]="currentTask.description"></app-rich-text-view>
    </div>
  </div>
  <div class="controls">
    <div class="apply-estimate" [class.locked]="locked">
      <div class="estimate" (click)="!locked && !overrideActive && overrideEstimate()">
        <span class="locked-estimate" *ngIf="locked">{{ currentTask.estimate }}</span>
        <span class="majority" *ngIf="!locked && !overrideActive">{{ majority }}</span>
        <input #overrideInput class="override" *ngIf="!locked && overrideActive" type="text" [(ngModel)]="customEstimate" [cdkTrapFocusAutoCapture]="!locked && overrideActive" [cdkTrapFocus]="!locked && overrideActive" (keyup)="handleKeyboardEvent($event)"/>
      </div>
      <button class="apply" [class.icon-disabled]="!majority" *ngIf="!locked" [attr.aria-label]="confirmEstimateLabel" (click)="confirmEstimate()">
        <img src="assets/icon-check.ffffff.svg" alt="">
      </button>
      <button class="apply" *ngIf="locked" [attr.aria-label]="resetEstimateLabel" (click)="resetEstimate()">
        <img src="assets/icon-delete-bin-fill.ffffff.svg" alt="">
      </button>
      <button class="apply" *ngIf="!locked && overrideActive" [attr.aria-label]="cancelOverrideLabel" (click)="resetOverride()">
        <img src="assets/icon-close-line.ffffff.svg" alt="">
      </button>
    </div>
    <div class="buttons">
      <button (click)="selectPreviousTask()" [class.disabled]="!previousTask" [attr.aria-label]="previousTaskLabel">
        <img
          class="button-icon"
          src="assets/icon-arrow-drop-left.ffffff.svg"
          alt=""
        />
      </button>
      <button (click)="selectNextTask()" [class.disabled]="!nextTask" [attr.aria-label]="nextTaskLabel">
        <img
          class="button-icon"
          src="assets/icon-arrow-drop-right.ffffff.svg"
          alt=""
        />
      </button>
    </div>
  </div>
</div>
