@import "../../../../assets/styles/input";

:host {
  .mb-half-em {
    margin-bottom: 0.5rem;
  }

  .mb-two-em {
    margin-bottom: 2rem;
  }

  .fw-800 {
    font-weight: var(--font-extrabold);
  }

  .info-box,
  .signin {
    z-index: 1;
  }

  .signin {
    display: block;
    background: #2e2e38;
    padding: 2rem;
    width: fit-content;
    min-height: 400px;
    max-width: 260px;

    .button {
      &.button-squared {
        width: 6.5em;
        height: 6.5em;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        font-size: 0.8em;
        justify-content: center;
        align-items: center;

        img {
          height: 2.8em;
          margin-bottom: var(--spacing-1);

          &.white {
            display: none;
          }
        }

        &.active {
          color: #fff;
          background: var(--color-primary);
          img {
            display: none;
          }
          img.white {
            display: initial;
          }
        }
      }
    }

    .enterButton {
      span {
        font-weight: var(--font-semibold);
        font-size: 17px;
      }

      .icon {
        margin-right: 6px;
      }
    }

    section.mode {
      margin-bottom: var(--spacing-2);
      display: flex;
      justify-content: center;
      span {
        line-height: 4px;
      }
    }

    section.buttons {
      display: flex;
      justify-content: center;

      button .icon.door {
        /* fixed size to avoid flickering */
        width: 20px;
        height: 19px;
      }
    }

    .button-create {
      margin-right: 1.3rem;
    }

    .button-join {
    }

    section.inputs {
      padding-top: var(--spacing-6);
      width: 16rem;
      height: 6.5rem;
      margin-bottom: 2rem;
    }

    .name-input {
      height: var(--spacing-12);
      margin-bottom: var(--spacing-2);
    }

    .logo {
      display: flex;
      justify-content: center;
      margin-top: 2em;
      margin-bottom: calc(2em + var(--spacing-8));

      img {
        height: 2.5em;
      }
    }

    .inputs.create app-room-select[name="room-name"] {
      visibility: hidden;
    }
  }

  .new-mode-select {
    padding: var(--spacing-0_5);
  }

  .below-mode-select-space {
    height: var(--spacing-6);
  }

}
