<form class="signin app-box-shadow" (ngSubmit)="onSubmit({})" (contextmenu)="false">
  <div class="logo">
    <img src="assets/AC_Logo_white.svg" />
  </div>

  <section
    *ngIf="ENABLE_NEW_MODE_SELECT"
    class="mode-select new-mode-select">
    <app-mode-select
      [mode]="mode"
      (change)="selectMode($event)">
    </app-mode-select>
    <div
      class="below-mode-select-space">
    </div>
  </section>

  <section
    *ngIf="!ENABLE_NEW_MODE_SELECT"
    class="mode-select mode">
    <div
      class="button button-squared button-create"
      [class.active]="isCreateMode"
      (click)="selectCreateMode()"
    >
      <img src="assets/icon-new-group.svg" />
      <img src="assets/icon-new-group-white.svg" class="white" />
      <span>{{ "SignIn.Create" | translate }}</span>
    </div>
    <div
      class="button button-squared button-join"
      [class.active]="isJoinMode"
      (click)="selectJoinMode()"
    >
      <img src="assets/icon-join-group.svg" />
      <img src="assets/icon-join-group-white.svg" class="white" />
      <span>{{ "SignIn.Join" | translate }}</span>
    </div>
  </section>

  <section class="inputs" [class]="state.signinMode">
    <app-inline-loading
      statusText="{{ 'Entrance.LoadingRooms' | translate }}"
      *ngIf="showInlineLoading"
      />
    <app-input
      *ngIf="showNameInput"
      #signInInput
      class="name-input"
      type="text"
      name="player-name"
      [placeholder]="'SignIn.Name' | translate"
      [maxlength]="settings.MAX_NAME_LENGTH"
      [value]="playerName"
      [disabled]="joinButtonIsBusy"
      (keyup)="onPlayerNameEdited($event)"
      (keydown.enter)="onSubmit({})"
      />
    <app-room-select *ngIf="!isLoading"
      name="room-name"
      class="room-input"
      [placeholder]="'SignIn.RoomID' | translate"
      [roomId]="roomIdInput"
      [disabled]="isLoading"
      [joinedRooms]="state.joinedRooms"
      (valueChange)="onSessionSelected($event)"
      (keydown.enter)="onSubmit({})"
      />
  </section>

  <section class="buttons">
    <app-cancelable-button
      #enterButton
      class="enterButton"
      [isSubscribed]="isEntering"
      [disabled]="joinButtonIsBusy"
      (unsubscribe)="unsubscribeEntering()"
      (enter)="onSubmit($event)"
    >
      <img src="assets/icon-join-door.svg" class="icon door" />
      <span *ngIf="isCreateMode">{{ "SignIn.Create" | translate }}</span>
      <span *ngIf="isJoinMode">{{ "SignIn.Join" | translate }}</span>
    </app-cancelable-button>
  </section>
</form>

<app-alert-modal #alertModal></app-alert-modal>
