<div class="statistics">
  <div class="panel average">
    <div class="average-title">
      <div class="title">{{ "Average" | translate }}</div>
      <div class="toggle-border" (click)="triggerAverage()">
        <div class="toggle"></div>
      </div>
    </div>
    <div>
      <div class="disabled-by-default">{{ "Disabled.By.Default" | translate }}</div>
      <div class="understand-why" (click)="showAvgDisclaimer()">{{ "Understand.why" | translate }}</div>
    </div>
  </div>

  <div class="panel">
    <div class="title">{{ "Distribution" | translate }}</div>

    <app-distribution [stats]="stats"></app-distribution>
  </div>

  <div class="panel majority">
    <div class="majority-info">
      <div class="title">{{ "Consensus" | translate }}</div>

      <div class="consensus" *ngIf="consensusReached">
        <div>
          {{ stats.maxVotes }} {{ "Stats.Out.Of" | translate }} {{ stats.totalVotes }}
        </div>
        <div class="percentage">{{ consensusInPercent }}%</div>
      </div>
      <div class="no-consensus" *ngIf="!consensusReached">
        {{ 'Stats.NoConsensus' | translate }}
      </div>
    </div>
    <app-circular-progress
      [percentage]="consensusInPercent"
      [value]="consensusReached ? (majorCandidate ?? '') : 'N/A'"
      [innerColor]="'var(--color-emphasis)'"
    ></app-circular-progress>
  </div>
</div>

<app-auth-modal #authModal>
</app-auth-modal>

<app-avg-disclaimer-modal #avgDisclaimerModal/>
