:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .statistics {
    display: flex;
    gap: var(--spacing-3_5);

    height: 121px;
    border-radius: 74px;
    background: var(--color-modal-background);
    padding: var(--spacing-3) var(--spacing-16);
    box-sizing: border-box;
    color: white;
    font-size: var(--text-xxs);

    .panel {
      padding: var(--spacing-3);
      box-sizing: border-box;
      background: var(--color-panel-background);

      display: flex;
      flex-direction: column;
      gap: var(--spacing-3);

      .title {
        font-weight: var(--font-semibold);
      }

      &.average {
        .average-title {
          display: flex;
          gap: var(--spacing-3_5);
          justify-content: space-between;
          align-items: center;

          .toggle-border {
            cursor: pointer;
            width: 36px;
            height: 16px;
            box-sizing: border-box;
            border: 1px solid white;
            padding: 2px;

            display: flex;
            justify-content: flex-start;

            .toggle {
              width: 16px;
              height: 100%;
              background: white;
              position: relative;

              &:after {
                content: '';
                width: 7px;
                height: 7px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                box-sizing: border-box;
                border: 1px solid var(--color-panel-background);
              }
            }
          }
        }

        .disabled-by-default {
          color: var(--color-grey-text);
        }

        .understand-why {
          color: var(--color-primary);
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &.majority {
        flex-direction: row;
        gap: var(--spacing-3_5);

        .majority-info {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-3_5);

          .percentage {
            font-size: var(--text-base);
            font-weight: var(--font-semibold);
          }
        }

        app-circular-progress {
          align-self: center;
        }
      }
    }
  }

  .avg-disclaimer-icon {
    color: var(--color-border);
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
}
