@import "../../modal/shared.scss";

:host {
  display: flex;
  flex-direction: column;

  .content {
    height: fit-content;
    color: var(--color-gray-50);
    background: var(--color-modal-background);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
  }
}
