<app-modal
  [size]="size"
  [cancelable]="cancelable"
  (outsideClick)="handleOutsideClick()"
  (cancel)="handleEscape()"
  >
  <div class="content">
    <modal-header
      *ngIf="showHeader"
      [title]="title"
      [iconPath]="iconPath"
      (close)="confirmClose()">
    </modal-header>
    <modal-body>
      <ng-content>
      </ng-content>
    </modal-body>
    <modal-footer-v2
      *ngIf="showFooter"
      [actions]="actions"
      (action)="handleAction($event)">
    </modal-footer-v2>
  </div>
</app-modal>
