:host {
  .issues-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-px);
    margin: 0;
    padding: 0;
    list-style-type: none;

    .issue {
      display: grid;
      grid-template-columns: var(--spacing-5) 1fr;
      gap: var(--spacing-2);
      align-items: center;

      .summary {
        text-decoration: underline;
      }

      .metadata {
        grid-row: 2;
        grid-column: 1 / span 2;
      }

      .icon {
        height: var(--spacing-5);
        aspect-ratio: 1/1;
      }
    }
  }

  .import-restriction-placeholder {
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-6);

    b {
      font-size: var(--text-xs);
      font-weight: var(--font-medium);
      line-height: 100%;
    }
  }
}
