<ng-container *ngIf="isLoading">
  <app-list-empty-state>
    <app-inline-loading statusText="{{ 'Loading.Tasks' | translate }}" />
  </app-list-empty-state>
</ng-container>

<ul class="issues-wrapper" *ngIf="!isLoading">
  <ng-container *ngFor="let issue of issuesData; index as index">

    <app-issue-list-item *ngIf="isImportRestricted && index === maxRestrictedImport">
      <div class="import-restriction-placeholder">
        <b>{{ "Import.ImportRestriction.Details" | translate }}</b>
        <app-unlock-import-button/>
      </div>
    </app-issue-list-item>

    <app-issue-list-item
      [disabled]="isImportRestricted && index >= maxRestrictedImport">
      <li
        class="issue"
        [class.selected]="false"
        [class.disabled]="">
        <img class="icon" src="assets/icon-task.svg"/>
        <span class="summary">{{ issue.summary }}</span>
        <span class="metadata">{{ issue.key }}</span>
      </li>
    </app-issue-list-item>
  </ng-container>

  <app-list-empty-state *ngIf="issuesData.length == 0">
    <app-issue-list-item>
      {{ "Import.NoIssuesAvailable" | translate }}
    </app-issue-list-item>
  </app-list-empty-state>
</ul>
