<modal-header (close)="onClose.emit()" [title]="modalTitle"></modal-header>

<modal-body *ngIf="formGroups">
  <section [class.visible]="isAskingForEmail">
    <form [formGroup]="formGroups['ask-for-email']" class="form" (keydown.enter)="modalFooter.onPrimaryClicked()" formError>
      <div class="signin-text">
        <a (click)="openSignInModal()">{{ 'PasswordReset.BackToSignIn' | translate }}</a>
      </div>

      <div class="email-wrapper">
        <app-input
          [control]="emailControl"
          type="text"
          placeholder="Email"
          [autofocus]="true"
        />

        <div
          *ngIf="
            emailControl.invalid && (emailControl.dirty || emailControl.touched)
          "
          class="alert"
        >
          <div *ngIf="emailControl.errors?.['required']" class="form-error">
            {{ 'Email.Required' | translate }}
          </div>
        </div>
      </div>

      <div class="alert" *ngIf="errorMessage">
        <div class="form-error">
          <span>{{ errorMessage }}</span>
        </div>
      </div>
    </form>
  </section>

  <section [class.visible]="isAskToCheckInbox">
    <div>
      {{ 'PasswordReset.CheckInbox' | translate }}
    </div>
  </section>
</modal-body>

<modal-footer #modalFooter
  (close)="onClose.emit()"
  [primaryButtonProps]="primaryButtonProps"
  [secondaryButtonProps]="secondaryButtonProps"
></modal-footer>

<app-alert-modal #alertModal></app-alert-modal>
