@import "src/assets/styles/input";
@import "src/assets/styles/form";

:host {
  color: var(--color-gray-50);
  background: var(--color-modal-background);
  width: 100%;

  .form {
    margin-top: 120px;
    min-height: calc(301px - 2 * 27px);
  }

  .signin-text {
    a {
      cursor: pointer;
      color: var(--color-link);
    }
  }

  .email-wrapper,
  .signin-text,
  .password-wrapper,
  .repeat-password-wrapper {
    margin-bottom: 12px;
  }

  section {
    display: none;
  }

  section.visible {
    display: block;
  }
}
