<modal-header (close)="onClose.emit()" [title]="'SignUp' | translate" closable></modal-header>

<modal-body>
  <form [formGroup]="formGroup" class="form" (keydown.enter)="modalFooter?.onPrimaryClicked()" formError>
    <div class="signin-text">
      <span>{{ "Has.Account" | translate }} </span>
      <a (click)="openLoginModal()">{{ "SignIn" | translate }}</a>
    </div>

    <div class="email-wrapper">
      <app-input
        #emailInput
        [control]="emailControl"
        type="text"
        [placeholder]="'Email' | translate"
      />

      <div
        *ngIf="
          emailControl.invalid && (emailControl.dirty || emailControl.touched)
        "
        class="alert"
      >
        <div *ngIf="emailControl.errors?.['required']" class="form-error">
          {{ "Email.Required" | translate }}
        </div>
        <div *ngIf="emailControl.errors?.['notValid']" class="form-error">
          {{ "Email.Invalid" | translate }}
        </div>
        <div *ngIf="emailControl.errors?.['notAvailable']" class="form-error">
          {{ "Email.Not.Available" | translate }}
        </div>
      </div>
    </div>

    <div class="password-wrapper">
      <app-input
        [control]="passwordControl"
        type="password"
        [placeholder]="'Password' | translate"
      />

      <div
        *ngIf="
          passwordControl.invalid &&
          (passwordControl.dirty || passwordControl.touched)
        "
        class="alert"
      >
        <div *ngIf="passwordControl.errors?.['required']" class="form-error">
          {{ "Password.Required" | translate }}
        </div>
        <div *ngIf="passwordControl.errors?.['minlength']" class="form-error">
          {{ "Password.Too.Short" | translate }}
        </div>
        <div *ngIf="passwordControl.errors?.['maxlength']" class="form-error">
          {{ "Password.Too.Long" | translate }}
        </div>
        <div
          *ngIf="passwordControl.errors?.['containsNoDigit']"
          class="form-error"
        >
          {{ "Password.No.Digit" | translate }}
        </div>
        <div
          *ngIf="passwordControl.errors?.['containsNoSymbol']"
          class="form-error"
        >
          {{ "Password.No.Symbol" | translate }}
        </div>
      </div>

      <div class="password-requirements">
        <ul>
          <li [class.satisfied]="!(passwordControl.errors?.['minlength'] || passwordControl.errors?.['required'])">
            {{ "Password.Requirement.Length" | translate }}
          </li>
          <li [class.satisfied]="!passwordControl.errors?.['containsNoDigit']">
            {{ "Password.Requirement.Digit" | translate }}
          </li>
          <li [class.satisfied]="!passwordControl.errors?.['containsNoSymbol']">
            {{ "Password.Requirement.Symbol" | translate }}
          </li>
        </ul>
      </div>
    </div>

    <div class="repeat-password-wrapper">
      <app-input
        [control]="repeatedPasswordControl"
        type="password"
        [placeholder]="'Password.Repeat' | translate"
      />

      <div
        *ngIf="
          formGroup.invalid &&
          (repeatedPasswordControl.dirty || repeatedPasswordControl.touched)
        "
        class="alert"
      >
        <div
          *ngIf="formGroup.errors?.['passwordsDontMatch']"
          class="form-error"
        >
          {{ "Password.No.Match" | translate }}
        </div>
      </div>
    </div>

    <div class="alert" *ngIf="errorMessage">
      <div class="form-error">
        <span>{{ errorMessage }}</span>
      </div>
    </div>
  </form>
</modal-body>

<modal-footer
  (close)="onClose.emit()"
  [primaryButtonProps]="primaryButtonProps"
></modal-footer>
