@import "src/assets/styles/form";

:host {
  color: var(--color-gray-50);
  background: var(--color-modal-background);
  width: 100%;

  .form {
    margin-top: 120px;
    min-height: calc(388px - 3 * 27px);
  }

  .signin-text {
    a {
      cursor: pointer;
      color: var(--color-link);
    }
  }

  .signin-text,
  .email-wrapper,
  .password-wrapper,
  .repeat-password-wrapper {
    margin-bottom: 12px;
  }

  .password-requirements {
    ul {
      padding-left: var(--spacing-6);

      li {
        padding-left: var(--spacing-2);

        &::marker {
          content: "●";
        }

        &.satisfied {
          color: var(--color-success);
        }
      }
    }
  }
}
