<div class="menu">
  <app-tab-menu
    [tabs]="tabHandler.getMenuTabs()"
    [selectedTab]="selectedTab"
    (selectEmitter)="tabHandler.navigate($event)"
    *ngIf="selectedTab"
  ></app-tab-menu>
</div>

<div class="tabs">
  <div class="menu-tabs">
    <div class="tab-container">
      <div *ngFor="let tab of tabHandler.getMenuTabs(); trackBy: identifyTab"
           class="tab"
           [class.active]="tab.key === tabHandler.getSelectedTab()"
      >
        <ng-container [ngTemplateOutlet]="getContent(tab.key)" *ngIf="getContent(tab.key)"></ng-container>
      </div>
    </div>

    <ng-container [ngTemplateOutlet]="controlAreaTemplate"></ng-container>
  </div>

  <div class="child-tabs" [@slideInOut] *ngIf="!tabHandler.isMenuTabActive()">
    <div class="tab-container">
      <div *ngFor="let tab of tabHandler.getChildTabs()" class="tab"
           [class.active]="tab.key === tabHandler.getActiveTab()">

        <app-tab-header
          [back]="tabHandler.back"
          [actions]="tab.headerActions ?? []"
        ></app-tab-header>

        <ng-container
          [ngTemplateOutlet]="getContent(tab.key)"
        >
        </ng-container>
      </div>
    </div>
  </div>
</div>
