:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;

  .menu {
    padding: var(--spacing-6) var(--spacing-6) var(--spacing-2) var(--spacing-6);
  }

  .tabs {
    position: relative;
    flex-grow: 1;
    overflow: hidden;

    .menu-tabs {
      height: 100%;
      z-index: 1;

      display: flex;
      flex-direction: column;
    }

    .child-tabs {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 2;
      background: var(--panel-background-color);

      display: flex;
      flex-direction: column;
    }

    .tab-container {
      height: 100%;
      padding: 0 var(--spacing-6) var(--spacing-6) var(--spacing-6);
      box-sizing: border-box;
      overflow: auto;

      .tab {
        height: 100%;
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-2);
        }
      }
    }
  }
}
