:host {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;

  .item {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    .bar {
      width: 7px;
    }

    .label {
      color: var(--color-light-grey-text);
      font-weight: var(--font-light);
      font-size: 8px;
    }
  }
}
