<modal-dialog #modal
  closeOnEscape
  closeOnOutsideClick
  confirmCloseWith="tertiary"
  size="fixed-700"
  [showHeader]="true"
  title="{{ 'CreateTask' | translate }}"
  iconPath="assets/icon-story.svg"
  [showFooter]="true"
  [primaryButtonProps]="primaryButtonProps"
  [tertiaryButtonProps]="tertiaryButtonProps"
  >
  <div class="content">
    <app-task-form
      [task]="task"
      (taskChanged)="updateTask($event)"
      ></app-task-form>
  </div>
</modal-dialog>

<app-auth-modal #authModal>
</app-auth-modal>
