:host {
  position: relative;
  display: flex;

  app-indeterminate-progress {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .base {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    &.px-0 {
      padding-left: 0;
      padding-right: 0;
    }

    &.px-1 {
      padding-left: var(--spacing-1);
      padding-right: var(--spacing-1);
    }

    &.px-2 {
      padding-left: var(--spacing-2);
      padding-right: var(--spacing-2);
    }

    &.px-3 {
      padding-left: var(--spacing-3);
      padding-right: var(--spacing-3);
    }
  }

  .flavor-default {
    background: var(--color-input-background);
    border: 2px solid var(--color-input-border);
    font-size: var(--text-base);
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
    outline: none;

    &:focus-visible {
      border: var(--spacing-0_5) solid var(--color-input-border-primary);
    }
  }
  &.host-flavor-default {
    height: var(--spacing-12);
  }

  .flavor-task, .flavor-task::placeholder {
    color: white;
    padding: 8px 13px;
    outline: none;

    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-style: normal;
    font-weight: var(--font-light);
    line-height: normal;

    background: var(--color-modal-background);
    border: var(--spacing-px) solid var(--color-gray-600);

    &:focus {
      border-color: var(--color-primary);
    }
  }
  &.host-flavor-task,
  &.host-flavor-task::placeholder {
    height: var(--spacing-10);
  }

  .textAlign-center {
    text-align: center;
  }

  .textAlign-left {
    text-align: left;
  }

  .textAlign-right {
    text-align: right;
  }
}
