<app-context-menu #contextMenu [placement]="placement" *ngIf="self && player">
  <app-context-menu-button [class.disabled-context-menu-button]="player.id === self.id" [disabled]="player.id === self.id">
    <ng-content>
    </ng-content>
  </app-context-menu-button>
  <app-context-menu-popup>
  <div class="menuitem" (click)="onKick.emit(player)" (click)="contextMenu.close()">
      <img src="assets/icon-prohibited-line.svg" />
      <span>{{ "PlayerList.Kick" | translate }}</span>
    </div>
    <div class="menuitem" (click)="onSideline.emit(player)" (click)="contextMenu.close()" *ngIf="isEstimator">
      <img src="assets/icon-spy.svg" />
      <span>{{ "PlayerList.Sideline" | translate }}</span>
    </div>
    <div class="menuitem" (click)="onPromote.emit(player)" (click)="contextMenu.close()" *ngIf="isInspector && enablePromote">
      <img src="assets/icon-spy.svg" />
      <span>{{ "PlayerList.Promote" | translate }}</span>
    </div>
  </app-context-menu-popup>
</app-context-menu>
