:host {
  --color-menu-item-background: var(--color-gray-50);
  --color-menu-item-text: var(--color-modal-background);

  .menuitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    background-color: var(--color-menu-item-background);
    color: var(--color-menu-item-text);
    top: var(--spacing-6);
    border: none;
    font-size: var(--text-xs);
    text-align: left;
    height: var(--spacing-6);
    padding: 0px 4px 0px 4px;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--color-primary);
    }
  }

  app-context-menu {
    app-context-menu-button {
      &.disabled-context-menu-button {
        color: var(--color-gray-600);
        cursor: default;
      }
    }

    app-context-menu-popup {
      border: solid 1px white;
      // box-shadow-md
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      color: var(--color-gray-900);
      background-color: var(--color-gray-100);
      white-space: nowrap;
    }
  }
}
