<!-- gamification -->
<section class="content-module gamification">
  <div class="content">
    <div class="column illustration">
      <img
        src="/assets/startpage-2024/gamification-creates-business-value.png"
        alt="{{ 'HomepageNew.Gamification.ImageAlt' | translate }}"
      />
    </div>
    <div class="column text">
      <div class="module-header">
        <div class="headline">
          <div class="meta-headline">
            {{ "HomepageNew.Gamification.MetaHeadline" | translate }}
          </div>
          <h1 class="module-title">
            {{ "HomepageNew.Gamification.Title.Part1" | translate }}
            <span class="emphasized">{{
              "HomepageNew.Gamification.Title.Part2" | translate
            }}</span>
          </h1>
          <div class="marketing-text">
            <p>{{ "HomepageNew.Gamification.MarketingText.1" | translate }}</p>
            <p>{{ "HomepageNew.Gamification.MarketingText.2" | translate }}</p>
            <p>{{ "HomepageNew.Gamification.MarketingText.3" | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-buttons">
      <app-button flavor="primary" (click)="openDetails()">
        {{ "HomepageNew.Gamification.MoreDetails" | translate }}
      </app-button>
    </div>
  </div>
</section>
