@import "../../../assets/styles/shadow";

:host {
  @include shadow;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: var(--z-index-context-menu);

  &.hidden {
    display: none;
  }
}
