<app-modal class="modal" #modal
  size="fixed-400"
  (keydown.esc)="close()"
  (outsideClick)="close()">
  <div class="content">
    <modal-header (close)="close()" title='{{ "SignOut" | translate }}'></modal-header>

    <modal-body>
      <div class="wrapper">
        <section class="prompt">
          {{ "SignOutOptions.Prompt" | translate }}
        </section>
        <section class="buttons">
          <app-button flavor="high-impact" (click)="signOut()">{{ signOutLabel | translate }}</app-button>
          <app-button flavor="secondary" (click)="close()">{{ "Cancel" | translate }}</app-button>
        </section>
      </div>
    </modal-body>
  </div>
</app-modal>
