@import "src/assets/styles/input";
@import "src/assets/styles/form";

:host {
  .content {
    height: fit-content;
    color: var(--color-gray-50);
    background: var(--color-modal-background);
  }

  h2 {
    margin: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  section.prompt {
    height: var(--spacing-12);
  }

  section.buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-4);
  }
}
