:host {
  position: absolute;
  overflow: clip;

  .box {
    box-sizing: border-box;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    background: var(--color-modal-background);
    color: var(--color-gray-50);
    border: solid var(--spacing-1) var(--color-secondary-2);
    overflow: hidden;
    padding: var(--spacing-4);
  }

  .message {
    text-align: center;
    margin: var(--spacing-7) 0;
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--spacing-4);
  }
}
