<app-modal #dialog size="fixed-400">
  <div class="box">
    <div class="message">
      <ng-content></ng-content>
    </div>

    <div class="button-wrapper">
      <app-button
        flavor="secondary"
        px="4"
        (click)="cancel()">
        {{ "Cancel" | translate }}
      </app-button>
      <app-button
        flavor="high-impact"
        px="12"
        (click)="confirm()"
        [busy]="inProgress"
        [disabled]="inProgress"
        >
        {{ "Ok" | translate }}
      </app-button>
    </div>
  </div>
</app-modal>
