@mixin button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  font-size: 17px;
  padding: 0 3em;
  text-align: center; /* older browsers */
  padding: var(--spacing-4);
}
