<!-- Hero Sektion -->
<section class="hero" appScrollBackground>
  <div class="hero-content">
    <div class="navigation">
      <img
        src="/assets/startpage-2024/agile-casino-logo.svg"
        alt="{{ 'HomepageNew.Logo.AltText' | translate }}"
      />
      <app-wrapped-user-menu
        variant="new"
        />
    </div>

    <div class="topics">
      <div class="texts">
        <div class="headlines">
          <h1>{{ "HomepageNew.Headline" | translate }}</h1>
          <h2>{{ "HomepageNew.Subheadline" | translate }}</h2>
        </div>

        <div class="ornament"></div>

        <div class="enumeration">
          <div class="item">
            <img
              src="/assets/startpage-2024/bullet.svg"
              alt="{{ 'HomepageNew.Hero.Bullets.1.AltText' | translate }}"
            />{{ "HomepageNew.Hero.Bullets.1.Text" | translate }}
          </div>
          <div class="item">
            <img
              src="/assets/startpage-2024/bullet.svg"
              alt="{{ 'HomepageNew.Hero.Bullets.2.AltText' | translate }}"
            />{{ "HomepageNew.Hero.Bullets.2.Text" | translate }}
          </div>
          <div class="item">
            <img
              src="/assets/startpage-2024/bullet.svg"
              alt="{{ 'HomepageNew.Hero.Bullets.3.AltText' | translate }}"
            />{{ "HomepageNew.Hero.Bullets.3.Text" | translate }}
          </div>
          <div class="item">
            <img
              src="/assets/startpage-2024/bullet.svg"
              alt="{{ 'HomepageNew.Hero.Bullets.4.AltText' | translate }}"
            />{{ "HomepageNew.Hero.Bullets.4.Text" | translate }}
          </div>
          <div class="item">
            <img
              src="/assets/startpage-2024/bullet.svg"
              alt="{{ 'HomepageNew.Hero.Bullets.5.AltText' | translate }}"
            />{{ "HomepageNew.Hero.Bullets.5.Text" | translate }}
          </div>
        </div>
      </div>

      <div class="panel">
        <app-signin-box/>
      </div>
    </div>
  </div>
</section>

<!-- brands of users -->
<app-brands></app-brands>

<section class="module-group">
  <!-- business value -->
  <app-business-value></app-business-value>

  <!-- features -->
  <app-features></app-features>

  <!-- gamification -->
  <app-gamification></app-gamification>
</section>

<!-- professional -->
<app-professional></app-professional>

<section class="module-group">
  <!-- integrations -->
  <app-integrations></app-integrations>

  <!-- faq -->
  <section class="content-module faq">
    <div class="content">
      <div class="column text single">
        <div class="module-header">
          <div class="headline">
            <div class="meta-headline">
              {{ "HomepageNew.FAQ.MetaHeadline" | translate }}
            </div>
            <h1 class="module-title">
              {{ "HomepageNew.FAQ.Title" | translate }}
            </h1>
            <div class="marketing-text">
              <p>{{ "HomepageNew.FAQ.MarketingText" | translate }}</p>
            </div>
            <div class="list">
              <div class="faq-list">
                <app-faq-item
                  question="{{ 'HomepageNew.FAQ.Question1' | translate }}"
                  answer="{{ 'HomepageNew.FAQ.Answer1' | translate }}"
                ></app-faq-item>

                <app-faq-item
                  question="{{ 'HomepageNew.FAQ.Question2' | translate }}"
                  answer="{{ 'HomepageNew.FAQ.Answer2' | translate }}"
                ></app-faq-item>

                <app-faq-item
                  question="{{ 'HomepageNew.FAQ.Question3' | translate }}"
                  answer="{{ 'HomepageNew.FAQ.Answer3' | translate }}"
                ></app-faq-item>

                <app-faq-item
                  question="{{ 'HomepageNew.FAQ.Question4' | translate }}"
                  answer="{{ 'HomepageNew.FAQ.Answer4' | translate }}"
                ></app-faq-item>

                <app-faq-item
                  question="{{ 'HomepageNew.FAQ.Question5' | translate }}"
                  answer="{{ 'HomepageNew.FAQ.Answer5' | translate }}"
                ></app-faq-item>

                <app-faq-item
                  question="{{ 'HomepageNew.FAQ.Question6' | translate }}"
                  answer="{{ 'HomepageNew.FAQ.Answer6' | translate }}"
                ></app-faq-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<app-homepage-footer></app-homepage-footer>
