// Typography
@import "../styles/font";
$font-family: "IBM Plex Sans", sans-serif;

@import "../styles/base";
@import "../styles/colors";
@import "../styles/spacing";
@import "../styles/general-elements";
@import "../styles/content-module";
@import "../styles/respond-to";

// Hero-Sektion
.hero {
  position: relative;
  will-change: background-position;
  background-image: url("/assets/startpage-2024/hero-image.webp"); // Pfad zum Bild
  background-size: auto calc(100vh + 250px); //1532px
  background-position: center;
  background-position-y: 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  color: $color-foreground-default;
  overflow: hidden;
  min-width: 320px;

  // Das halbtransparente Bild (wird statisch bleiben, über dem Parallax-Hintergrund)
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/startpage-2024/semi-transparent-overlay.png"); // Pfad zu deinem halbtransparenten Bild
    background-size: cover;
    background-position: center;
    z-index: 1; // Über dem Parallax-Hintergrund, aber unter dem Text
  }

  // Der Inhalt bleibt über dem halbtransparenten Bild
  .hero-content {
    position: relative;
    z-index: 2; // Über dem halbtransparenten Bild
    text-align: left;
    color: $color-foreground-default;
    flex-direction: column;
    display: flex;
    width: 988px;
    padding: $spacing-16 $spacing-16 $spacing-32 $spacing-16;

    .navigation {
      display: flex;
      justify-content: space-between;
      padding: $spacing-32 0;
    }

    .topics {
      display: flex;
      flex-grow: 1;
      align-items: center;

      .panel {
        padding: $spacing-32;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 1000px;
        flex-grow: 1;

        .headlines {
          display: flex;
          flex-direction: column;
          max-width: 542px;
          gap: 0.25rem;

          h1,
          h2 {
            @include font-semi-bold;
            font-size: 2.5rem;

            @include respond-to("tablet") {
              font-size: 3.5rem;
            }

            @include respond-to("desktop") {
              font-size: $font-size-32;
            }
          }

          h2 {
            @include font-light;
          }
        }
      }
    }

    @include respond-to("mobile") {
      .topics {
        .panel {
          display: none;
        }

        .texts .headlines {
          h1 {
            font-size: 36px;
            line-height: 1.1;
          }

          h2 {
            font-size: 24px;
          }
        }
      }
    }
  }

  // Für mobile Geräte: Kein Parallax auf mobile
  @media (max-width: 1024px) {
    background-attachment: scroll; // Kein Parallax auf Mobilgeräten

    &::before {
      background-attachment: scroll;
    }
  }
}

.module-group {
  display: flex;
  flex-direction: column;
  background-color: $dark-background;
  background-image: radial-gradient(
    farthest-corner at 110% -60%,
    #6b6b8500 0%,
    #19191fff 100%
  );
}

@include respond-to("mobile") {
  .content-module {
    &.business-value,
    &.features,
    &.gamification,
    &.professional,
    &.integrations,
    &.faq {
      .content {
        .column.illustration {
          order: 2;
        }

        .column.text {
          order: 1;
          .enumeration,
          .marketing-text {
            display: none;
          }
        }

        .mobile-buttons {
          order: 3;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 4px;
        }
      }
    }
  }
}
