.flex-default-gap {
  gap: var(--spacing-4);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-end {
  align-items: flex-end;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.top-right {
  top: 0;
  right: 0;
}

.button-default {
  cursor: pointer;
  color: white;
  background: var(--color-primary);
}

.button {
  &.primary {
    font-weight: var(--font-semibold);
    color: var(--color-gray-50);
    background: var(--color-primary);
  }

  &.secondary {
    color: var(--color-gray-50);
    background: var(--color-modal-background);
    border: solid 2px var(--color-primary);
  }

  &.tertiary {
    color: var(--color-tertiary-text);
    background: var(--color-gray-50);
    border: solid 1px rgba(0, 0, 0, 0.125);
  }

  &.danger {
    font-weight: var(--font-semibold);
    color: var(--color-gray-50);
    background: var(--color-danger);
  }

  &.button-icon {
    padding: 0.25rem;
    width: auto;
    height: auto;
  }
}
