:host {
  --font-color: var(--color-gray-50);
  --border-color: var(--color-gray-50);
  --background-color: var(--color-modal-background);
  --active-color: var(--color-tertiary);
  --hover-color: var(--color-tertiary);
  --completed-color: var(--color-success);
  --selected-color: var(--color-emphasis);
  --subheading-color: var(--color-gray-400);
  --disabled-color: var(--color-gray-600);
  --issue-source-button-background: var(--color-panel-background);

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    span {
      user-select: none;
      font-size: var(--text-xs);
      line-height: 100%;
    }
  }
}
