<modal-dialog
  #modal
  size="fixed-700"
  closeOnEscape
  [showHeader]="true"
  [title]="'Export.Tasks' | translate"
  [primaryButtonProps]="primaryButtonProps"
  [tertiaryButtonProps]="tertiaryButtonProps"
  >
    <div class="content">
      <app-progress-navigation
        [steps]="steps"
        (reset)="reset($event)">
      </app-progress-navigation>

      <div class="scrollable-area" *ngIf="isModalInitializing">
        <app-inline-loading statusText="{{ 'Loading' | translate }}" />
      </div>
      <div class="scrollable-area" *ngIf="!isModalInitializing">
        <ng-container *ngIf="isServiceSelection">
          <app-import-source-select
            [sources]="issueSources"
            [selected]="source.id"
            (select)="selectIssueSource($event)"
            >
          </app-import-source-select>
        </ng-container>

        <ng-container *ngIf="isJira">
          <ng-container *ngIf="isInstanceSelection">
            <app-jira-instance-select
              [selected]="instance.id"
              (reconnect)="connectJira()"
              (select)="selectJiraResource($event)"
              >
            </app-jira-instance-select>
          </ng-container>

          <ng-container *ngIf="isBoardSelection">
            <app-jira-board-select
              [instanceId]="instance.id"
              [selected]="board.id"
              (reconnect)="connectJira()"
              (select)="selectJiraBoard($event)"
              >
            </app-jira-board-select>
          </ng-container>

          <ng-container *ngIf="isSprintSelection">
            <app-jira-sprint-select
              mode="export"
              [instanceId]="instance.id"
              [boardId]="board.id"
              [selected]="sprint.id"
              [exportTasks]="tasksOfActiveGame"
              (reconnect)="connectJira()"
              (select)="selectJiraSprint($event)"
              >
            </app-jira-sprint-select>
          </ng-container>
        </ng-container>
      </div>
    </div>
</modal-dialog>

<ng-template #separator>
  <div class="separator">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="100%" fill="none" viewBox="0 0 8 40">
      <line x1="2" y1="-4" x2="6" y2="20" stroke="currentColor"/>
      <line x1="6" y1="20" x2="2" y2="44" stroke="currentColor"/>
    </svg>
  </div>
</ng-template>

<app-auth-modal #authModal>
</app-auth-modal>
