<div class="disclaimer-wrapper">
  <app-disclaimer icon="ai-support" viewBox="0 0 24 40">
    {{ "AiSupport.Description" | translate }}
  </app-disclaimer>
</div>

<app-button flavor="control" (click)="generateSubtasks()">
  <img src="assets/icon-check-square.white.svg" />
  {{ "Generate.Concept.Idea" | translate }}
</app-button>

<app-auth-modal #authModal></app-auth-modal>
