<div class="control-wrapper" *ngIf="false">
  <div class="expandable-head">
    <app-button flavor="control" (click)="toggleExpansion()">
      <span *ngIf="!expanded">{{ "Expand" | translate }}</span>
      <span *ngIf="expanded">{{ "Collapse" | translate }}</span>
    </app-button>
    {{ "Powered.By.Lotse" | translate }}
  </div>

  <div class="expandable-body" *ngIf="expanded">
    <app-ressource-allocation></app-ressource-allocation>

    <app-capacity-forecast [players]="players"></app-capacity-forecast>
  </div>
</div>

<div class="control-wrapper">
  <app-ai-subtasks></app-ai-subtasks>

  <app-ai-estimations></app-ai-estimations>
</div>
