@import "../shared";

:host {
  font-weight: var(--font-medium);
  font-size: var(--text-xxs);

  .expandable-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-panel-text);
    padding: var(--spacing-1);
  }

  .expandable-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }
}
