@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "assets/_mixins";
@import "assets/styles/button";
@import "assets/styles/tooltip";
@import "assets/styles/spacing";
@import "assets/styles/font";
@import "assets/styles/color";
@import "assets/styles/ngx-editor";
@import "assets/styles/z-index";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

app-root {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.Inline__Doc {
  p {
    margin-top: 0;
  }
}

/* spinner */

.spinner {
  display: inline-block;
  margin: 50px;
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid #157fed;
  border-right-color: transparent;
  border-radius: 50%;
}

.spinner.spinner--small {
  margin: 0px;
  height: 12px;
  width: 12px;
  border: 1px solid #157fed;
  margin-right: 5px;
}

.spinner.spinner--white {
  border-color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* layout */
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

html,
body {
  /* opt-in for selected text */
  user-select: none;
  cursor: default;
}

*[selectable] {
  user-select: text;
  cursor: text;
}

.clickable,
*[clickable] {
  cursor: pointer !important;
}
.clickable:hover,
*[clickable]:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.app-box-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.img-fill {
  background-size: cover;
  background-position: center;
}

.placeholder {
  display: block;
  height: 400px;
  overflow: hidden;
}

/* --- controls --- */
label.radio,
label.checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background: #e6e6e6;
  }
}

label.radio {
  input:checked + .indicator {
    background: var(--color-primary);

    &:before {
      position: absolute;
      top: 5px;
      left: 5px;
      height: 5px;
      width: 5px;
      background: #fff;
      border-radius: 50%;
      content: "";
    }
  }

  .indicator {
    border-radius: 50%;
  }
}

.__global_taskview_reset__ {
  *,
  strong,
  b,
  i,
  em,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p,
  ol,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: var(--spacing-1) 0;
  }
}
