@import "../../modal/shared.scss";

:host {
  app-disclaimer {
    background: var(--color-warning);
    color: var(--color-neutral-900);

    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-weight: var(--font-normal);
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    margin-top: 24px;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .mt-80 {
    margin-top: 80px;
  }

  .mt-24 {
    margin-top: 24px;
  }

  .mt-40 {
    margin-top: 40px;
  }

  .mb-80 {
    margin-bottom: 80px;
  }

  .label {
    font-weight: var(--font-extralight);
  }

  .extended-cards {
    &.hidden {
      display: none;
    }
  }

  .more-cards {
    font-family: var(--font-sans);
    font-size: var(--text-xxs);
    font-weight: var(--font-normal);
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;

    transition: display 150ms ease-in;

    .more-cards-icon {
      aspect-ratio: 1;
    }
  }
}
