<modal-dialog
  size="fixed-400"
  closeOnEscape
  closeOnOutsideClick
  confirmCloseWith="secondary"
  [showHeader]="true"
  title="{{ 'CustomCards.Switch' | translate }}"
  [showFooter]="true"
  [primaryButtonProps]="primaryButtonProps"
  [secondaryButtonProps]="secondaryButtonProps">

  <div class="mt-80 flex-column">
    <div>
      <app-dropdown
        [placeholder]="'CustomCards.Select' | translate"
        [options]="options"
        [(value)]="selected"
        (valueChange)="onSelectedChanged()"
        ></app-dropdown>
    </div>

  <div class="cards flex-row justify-content-space-between mt-24 basic-cards">
    <app-input
      *ngFor="let index of generateIndices(0, 8)"
      textAlign="center"
      px="1"
      [value]="getValue(index)"
      (change)="onValueChanged(index, $event)"
      [maxlength]="maxCardValueLength"
    />
  </div>

  <div
    class="cards flex-row justify-content-space-between mt-24 extended-cards"
    [class.hidden]="!extendedCardSlots"
    >
    <app-input
      *ngFor="let index of generateIndices(8, 8)"
      textAlign="center"
      px="1"
      [value]="getValue(index)"
      (change)="onValueChanged(index, $event)"
      [maxlength]="maxCardValueLength"
    />
  </div>

    <div class="mt-24 more-cards" (click)="onToggleExpandCards()">
      <img
      *ngIf="!extendedCardSlots"
      class="more-cards-icon"
      src="assets/icon-arrow-down.svg"
      />
      <span *ngIf="!extendedCardSlots">{{
        "CustomCards.More" | translate
        }}</span>
      <img
      *ngIf="extendedCardSlots"
      class="more-cards-icon"
      src="assets/icon-arrow-up.svg"
      />
      <span *ngIf="extendedCardSlots">{{
        "CustomCards.Fewer" | translate
        }}</span>
    </div>

    <app-disclaimer icon="information-line">
      {{ "CustomCards.Explanation" | translate }}
    </app-disclaimer>

    <div class="mt-40 mb-80">
      <span class="label">{{ "CustomCards.Toggle" | translate }}</span>
      <div class="flex-row justify-content-stretch flex-default-gap">
        <app-checkbox
          label="?"
          [(checked)]="unclear"
          (checkedChange)="onUnclearChanged()"
          ></app-checkbox>
        <app-checkbox
          [(checked)]="break_"
          (checkedChange)="onBreakChanged()"
          label="{{ 'CustumCards.Break' | translate }}"
          ></app-checkbox>
      </div>
    </div>
  </div>
</modal-dialog>

<app-confirmation-box #confirmationBox>
  {{ "CustomCardsConfirmation.Message" | translate }}
</app-confirmation-box>
