:host {
  user-select: none;

  .progress {
    box-sizing: border-box;
    border: solid var(--spacing-px) var(--border-color);
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .stage {
    display: flex;
    padding: var(--spacing-px);

    .stage-inner {
      padding: var(--spacing-2);
      border-bottom-style: solid;
      border-bottom-width: var(--spacing-px);
      border-color: transparent;

      display: grid;
      grid-template-columns: 1fr var(--spacing-4);
      column-gap: var(--spacing-6);
      row-gap: var(--spacing-1);
    }

    .heading {
      margin: 0;
      grid-row: 1;
      grid-column: 1;
      font-weight: var(--font-normal);
      font-size: var(--text-xs);
      line-height: 100%;
      white-space: nowrap;
    }

    .subheading {
      margin: 0;
      grid-row: 2;
      grid-column: 1;
      color: var(--subheading-color);
      font-weight: var(--font-normal);
      font-size: var(--text-xxs);
      line-height: 100%;
    }

    app-icon {
      place-self: center;
      grid-row: 1 / span 2;
      grid-column: 2;
      color: var(--active-color);
    }

    &.completed {
      cursor: pointer;

      .stage-inner {
        border-color: var(--completed-color);
      }

      app-icon {
        color: var(--completed-color);
      }
    }

    &.active {
      background-color: white;
      color: black;

      .stage-inner {
        border-color: var(--active-color);
      }

      app-icon {
        color: var(--active-color);
      }
    }

    &.done {
      cursor: pointer;

      app-icon {
        color: var(--completed-color);
      }
    }
  }

  .separator {
    color: var(--font-color);

    svg {
      height: 100%;
      width: var(--spacing-2);
    }
  }
}
