<div class="progress" *ngIf="steps">
  <ng-container *ngFor="let step of steps; index as index; trackBy: identifyStep">
    <div class="stage"
      [class.completed]="step.completed"
      [class.active]="step.active"
      [class.done]="step.done"
      (click)="handleClick(step)">
      <div class="stage-inner">
        <h3 class="heading">{{ step.heading | translate }}</h3>
        <h4 class="subheading">{{ step.subheading | translate }}</h4>
        <app-icon name="check" size="16px"></app-icon>
      </div>
    </div>
    <ng-container *ngIf="index < steps.length - 1 && !step.active && !steps[index+1]?.active">
      <ng-container *ngTemplateOutlet="separator"></ng-container>
    </ng-container>
    <ng-container *ngIf="index < steps.length - 1 && step.active">
      <ng-container *ngTemplateOutlet="separatorActiveL"></ng-container>
    </ng-container>
    <ng-container *ngIf="index < steps.length - 1 && steps[index+1]?.active">
      <ng-container *ngTemplateOutlet="separatorActiveR"></ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #separator>
  <div class="separator">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="100%" fill="none" viewBox="0 0 8 40">
      <line x1="2" y1="-4" x2="6" y2="20" stroke="currentColor"/>
      <line x1="6" y1="20" x2="2" y2="44" stroke="currentColor"/>
    </svg>
  </div>
</ng-template>

<ng-template #separatorActiveL>
  <div class="separator">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="100%" fill="none" viewBox="0 0 8 40">
      <path style="fill:#ffffff;stroke:none" d="M 2.0,44.0 H 0.0 l 0,-48.0 2.0,0 4.0,24.0 z" />
      <line x1="2" y1="-4" x2="6" y2="20" stroke="currentColor" id="line1" />
      <line x1="6" y1="20" x2="2" y2="44" stroke="currentColor" id="line2" />
    </svg>
  </div>
</ng-template>

<ng-template #separatorActiveR>
  <div class="separator">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="100%" fill="none" viewBox="0 0 8 40">
      <path style="fill:#ffffff;stroke:none" d="m 2.0,-4.0 h 7.0 V 44.0 H 2.00 L 6.0,20.0 Z" />
      <line x1="2" y1="-4" x2="6" y2="20" stroke="currentColor"/>
      <line x1="6" y1="20" x2="2" y2="44" stroke="currentColor"/>
    </svg>
  </div>
</ng-template>
