@import "../mixins";

.button {
  @include button-style;
  position: relative;
  background: #ccc;
  color: #000;
  border: 0;
  cursor: pointer;
  @media only screen and (max-height: 675px) {
    height: var(--spacing-10);
  }

  &.button-default {
    background: var(--color-primary);
    color: #fff;

    font-family: var(--font-sans);
    font-size: 17px;
    font-weight: var(--font-semibold);
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }

  &.button-orange {
    background: var(--color-warning);
    color: #fff;

    font-family: var(--font-sans);
    font-size: 17px;
    font-weight: var(--font-semibold);
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }

  &.button-danger {
    background: var(--color-danger);
    color: var(--color-gray-50);

    font-family: var(--font-sans);
    font-size: 17px;
    font-weight: var(--font-semibold);
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }

  &.button-squared {
    width: 3.5em;
    padding: initial;
  }

  &.medium-width {
    min-width: 160px;
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.busy {
    /* TODO: use `color-mix(in rgba, var(--color-gray-50) 60%, transparent)` once more widely supported */
    color: rgba($color: #ffffff, $alpha: 0.6);
    cursor: not-allowed;

    &:after {
      content: " ";
      position: absolute;
      background: var(--color-gray-50);
      width: 20px;
      height: 3px;
      left: calc(100% - 20px);
      bottom: 1px;
      animation: loading 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
    }
  }

  &.button-secondary {
    box-shadow: inset 0 0 0 2px var(--color-primary);
    background-color: transparent;
    color: #fff;

    font-family: var(--font-sans);
    font-size: 17px;
    font-weight: var(--font-normal);
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }

  &.button-small {
    padding: var(--spacing-2);
    height: var(--spacing-7);
  }

  &.button-narrow {
    padding: var(--spacing-4);
  }

  &.button-wide {
    padding: var(--spacing-4) var(--spacing-12);
  }
}

@keyframes loading {
  0%,
  100% {
    left: 0;
  }

  50% {
    left: calc(100% - 20px);
  }
}
