:root {
  --color-primary: #009fe4; // ~ sky-500
  --color-secondary: #32465f;
  --color-tertiary: #638596;
  --color-danger: #ff4d00; // ~ orange-600
  --color-critical: #FF1E1E; // ~ orange-600
  --color-danger-text: #472a1e;
  --color-warning: #ffb800; // ~ yellow-500
  --color-emphasis: #cc00ff;
  --color-warning-text: #433920;
  --color-success: #279600;
  --color-success-text: #26441b;
  --color-info: #0075ff;
  --color-info-text: #17283d;
  --color-secondary-2: #2e2e38; // TODO: duplicate name, but different color
  --color-tertiary: #4d6170;
  --color-tertiary-text: #41464d;
  --color-pm-button-background: #434752;
  --color-pm-button-text: #D3E3EC;

  --color-input-background: #ffffff;
  --color-input-border: #2c4b5a;
  --color-input-border-primary: #0094dc;
  --color-link: #0085ff;
  --color-modal-background: #292931;
  --color-card-label-background: var(--color-modal-background);
  --color-controls-background: var(--color-modal-background);
  --color-panel-background: #212129;
  --color-panel-text: var(--color-gray-50);
  --color-dark-background: #121218;
  --color-grey-text: #43434A;
  --color-light-grey-text: #959595;
  --color-secondary-background: #212129;

  /* tailwind color scheme */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  /* tailwind color scheme */
  --color-neutral-50:  #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  /* Kehrwasser gray tones */
  --color-default-10: #DFDFEA;
  --color-default-100: #302C30;
  --color-default-120: #212129;
  --color-default-130: #18181C;
}
