$error-label--font-color: #cb2f2f;
$error-label--background-color: #ff9393;

.form-error {
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 0px 2px;

  background-color: $error-label--background-color;
  border: solid 2px $error-label--font-color;
  color: $error-label--font-color;

  font-family: var(--font-sans);
  font-weight: var(--font-medium);
  font-size: var(--text-xxs);
  line-height: 13px;

  display: none;
  &:first-child {
    display: inherit;
  }
}
