.input {
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid var(--color-input-border);
  width: 100%;
  font-size: 1em;
  padding: 0.7em;
  outline: none;
  height: 48px;

  &:focus-visible {
    border-width: 2px;
    border: 2px solid var(--color-input-border-primary);
  }
}

.checkbox {
  vertical-align: middle;

  &:checked {
    accent-color: var(--color-warning);
  }
}
