ngx-editor-menu {
  .NgxEditor__MenuBar {
    box-sizing: border-box;
    padding: var(--spacing-2) var(--spacing-2);
    height: var(--spacing-10);
    border: 1px solid var(--color-gray-600);
    border-bottom-width: 0;
  }

  .NgxEditor__Popup {
    button {
      cursor: pointer;
      border: 1px solid var(--color-gray-50);
      background-color: transparent;
      color: var(--color-gray-50);
      padding: var(--spacing-1);
      font-size: var(--text-xs);
      line-height: 0.75rem;
      font-weight: var(--font-normal);

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }

    input {
      box-sizing: border-box;
      background: #ffffff;
      border: 2px solid var(--color-input-border);
      font-size: var(--text-xxs);
      outline: none;

      &:focus-visible {
        border-width: 2px;
        border: 2px solid var(--color-input-border-primary);
      }
    }
  }
}

ngx-editor {
  .NgxEditor {
    &:focus-within {
      border-color: var(--color-primary);
    }
  }

  .NgxEditor__Placeholder {
    font-color: var(--color-gray-600);
    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-style: normal;
    font-weight: var(--font-normal);
  }

  .NgxEditor__Content {
    cursor: text;
    padding: var(--spacing-3);
    overflow-x: auto;
    font-color: var(--color-gray-600);
    font-family: var(--font-sans);
    font-size: var(--text-xs);
    font-style: normal;
    font-weight: var(--font-normal);
  }
}
