.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: var(--z-index-tooltip);
  width: 150px;
  color: white;
  font-size: var(--text-xs);
  background-color: #151517;
  padding: var(--spacing-2);
  text-align: left;
  font-size: var(--text-xs);
  font-weight: var(--font-normal);
  line-height: 130%;

  &::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }

  &.tooltip-left {
    top: 50%;
    left: -10px;
    transform: translate(-100%,-50%);

    &::after {
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-color: transparent transparent transparent #151517;
    }
  }

  &.tooltip-top {
    top: -10px;
    left: 50%;
    transform: translate(-50%,-100%);

    &::after {
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-color: #151517 transparent transparent transparent;
    }
  }

  &.tooltip-bottom {
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 100%);

    &::after {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-color: transparent transparent #151517 transparent;
    }
  }

  &.tooltip-right {
    top: 50%;
    right: -10px;
    transform: translate(100%,-50%);

    &::after {
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-color: transparent #151517 transparent transparent;
    }
  }
}
