@mixin transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@mixin transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@mixin transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@mixin ease-linear {
  transition-timing-function: linear;
}

@mixin ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@mixin ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@mixin ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin duration-0 {
  transition-duration: 0s;
}

@mixin duration-75 {
  transition-duration: 75ms;
}

@mixin duration-100 {
  transition-duration: 100ms;
}

@mixin duration-150 {
  transition-duration: 150ms;
}

@mixin duration-200 {
  transition-duration: 200ms;
}

@mixin duration-300 {
  transition-duration: 300ms;
}

@mixin duration-500 {
  transition-duration: 500ms;
}

@mixin duration-700 {
  transition-duration: 700ms;
}

@mixin duration-1000 {
  transition-duration: 1000ms;
}

@mixin delay-0 {
  transition-delay: 0s;
}

@mixin delay-75 {
  transition-delay: 75ms;
}

@mixin delay-100 {
  transition-delay: 100ms;
}

@mixin delay-150 {
  transition-delay: 150ms;
}

@mixin delay-200 {
  transition-delay: 200ms;
}

@mixin delay-300 {
  transition-delay: 300ms;
}

@mixin delay-500 {
  transition-delay: 500ms;
}

@mixin delay-700 {
  transition-delay: 700ms;
}

@mixin delay-1000 {
  transition-delay: 1000ms;
}
