:root {
  --font-sans: IBM Plex Sans, sans;
  --font-serif: IBM Plex Serif, serif;

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --text-xxs: 0.625rem;   /* 10px */
  --text-xs: 0.75rem;   /* 12px */
  --line-xs: 1rem;
  --text-sm: 0.875rem;  /* 14px */
  --line-sm: 1.25rem;
  --text-base: 1rem;    /* 16px */
  --line-base: 1.5rem;
  --text-md: 1.0625rem;    /* 17px */
  --text-lg: 1.125rem;  /* 18px */
  --line-lg: 1.75rem;
  --text-xl: 1.25rem;   /* 20px */
  --line-xl: 1.75rem;
  --text-2xl: 1.5rem;   /* 24px */
  --line-2xl: 2rem;
  --text-3xl: 1.875rem; /* 30px */
  --line-3xl: 2.25rem;
  --text-4xl: 2.25rem;  /* 36px */
  --line-4xl: 2.5rem;
  --text-5xl: 3rem;     /* 48px */
  --line-5xl: 1;
  --text-6xl: 3.75rem;  /* 60px */
  --line-6xl: 1;
  --text-7xl: 4.5rem;   /* 72px */
  --line-7xl: 1;
  --text-8xl: 6rem;     /* 96px */
  --line-8xl: 1;
  --text-9xl: 8rem;     /* 128px */
  --line-9xl: 1;
}
