:root {
  --z-index-snackbar: 5000;
  --z-index-float: 999;
  --z-index-small-device-disclaimer: 100;
  --z-index-panel: 100;
  --z-index-context-menu: 10;
  --z-index-tooltip: 1;
  --z-index-burger: 50;
}
