:host {
  --font-color: var(--color-gray-50);
  --border-color: var(--color-gray-50);
  --background-color: var(--color-modal-background);
  --active-color: var(--color-tertiary);
  --hover-color: var(--color-tertiary);
  --completed-color: var(--color-success);
  --selected-color: var(--color-emphasis);
  --subheading-color: #9A9CAA;
  --disabled-color: var(--color-gray-600);
  --issue-source-button-background: var(--color-panel-background);
  --sprint-list-item-background: var(--color-default-130);
  --modal-button-background: var(--color-panel-background);
  --panel-background: var(--color-panel-background);

  span {
    user-select: none;
    font-size: var(--text-xs);
    line-height: 100%;
  }

  .description {
    font-weight: var(--font-light);
    line-height: 130%;
  }

  .scrollable-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    overflow: visible;
    height: 28rem;
  }
}
