:host {
  user-select: none;

  padding: var(--spacing-3);
  color: var(--font-color);
  background-color: var(--sprint-list-item-background);
  border: solid var(--spacing-px) transparent;

  font-size: var(--text-xs);
  line-height: 100%;

  &.disabled {
    opacity: 20%;
  }
}
