:host {
  min-height: var(--spacing-32);
  background-color: var(--sprint-list-item-background);
  width: 100%;
  height: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
