<div class="choice" [class.selected]="selected">
  <div class="choice-inner">
    <div class="image-wrapper" *ngIf="icon || img">
      <app-icon [name]="icon" size="32px" *ngIf="icon"/>
      <img class="image" [src]="img" *ngIf="img"/>
    </div>
    <div class="headline-wrapper">
      <span class="headline">{{ headline }}</span>
      <span class="status">{{ status }}</span>
    </div>
  </div>
</div>
