:host {
  display: flex;
  width: 100%;
  height: fit-content;

  user-select: none;

  .choice {
    display: flex;
    cursor: pointer;
    height: var(--spacing-20);
    width: 100%;
    padding: var(--spacing-1);

    color: var(--font-color);
    background: var(--issue-source-button-background);
    border: solid var(--spacing-px) transparent;

    .choice-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: var(--spacing-2);

      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      padding: var(--spacing-5) var(--spacing-6);

      border-bottom-style: solid;
      border-bottom-width: var(--spacing-px);
      border-color: transparent;

      &:hover {
        border-color: var(--hover-color);
      }
    }

    &:hover {
      border-color: var(--font-color);

      .choice-inner {
        border-color: var(--hover-color);
      }
    }


    &.disabled {
      cursor: default;
      color: var(--color-gray-500);
      .choice-inner {
        &:hover {
          border-color: transparent;
        }
      }
    }

    &.selected {
      background-color: var(--font-color);
      color: var(--background-color);
      .choice-inner {
        border-color: var(--selected-color);
      }
    }

    .image {
      height: var(--spacing-8);
      aspect-ratio: 1;
    }

    .headline-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .headline {
        font-size: var(--text-xs);
      }

      .status {
        font-size: var(--text-xs);
      }
    }
  }
}

