<div class="rounded-box">
  <div class="list-header">
    <div class="left">
      <div role="button" class="back-button" (click)="handleBackClicked()" *ngIf="backLabel">
        <app-icon name="arrowhead-left"/>
        {{ backLabel }}
      </div>
    </div>

    <div class="center">
      <div class="title">
        <span>{{ title }}</span>
      </div>
    </div>

    <div class="right">
    </div>
  </div>
  <div class="list-content">
    <ng-content></ng-content>
  </div>
</div>
