:host {
  --title-color: white;

  .rounded-box {
    border-radius: var(--spacing-2);
    overflow: clip;
    background: var(--color-default-120);
    outline: var(--spacing-px) var(--color-default-100) solid;
    margin-bottom: var(--spacing-px);
  }

  .list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: var(--spacing-2_5) var(--spacing-3);
  }

  .title,
  .back-button {
    color: var(--title-color);
    font-weight: var(--font-semibold);
    font-size: var(--text-xxs);
    line-height: normal;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--spacing-0_5);
  }

  .title {
    justify-content: center;
  }

  .back-button {
    cursor: pointer;
  }

  .list-content {
    border-radius: var(--spacing-2);
    overflow: clip;
  }
}
