:host {
  user-select: none;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-2_5);

  .headline {
    font-weight: var(--font-medium);
    font-size: var(--text-xs);
    line-height: 130%;
  }

  p {
    font-weight: var(--font-light);
    font-size: var(--text-xs);
    line-height: 130%;
    margin: 0;
  }

  .width-constraint {
    max-width: 22rem;
  }
}
