<div class="control-wrapper" *ngIf="taskFeatureEnabled">
  <button *ngIf="showControlButtons" class="button" (click)="createTaskModal?.showModal()">
    <app-icon name='add-box-fill'></app-icon>
    {{ "CreateTask" | translate }}
  </button>

  <app-tasks-session-header title="{{ 'Tasks' | translate }}"/>
  <div class="scrolling-outer" *ngIf="tasks && tasks.length > 0" cdkScrollable>
    <div
      class="scrolling-inner"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <app-task-item
        [task]="task.task"
        (click)="edit(task)"
        [selected]="selectedId == task.task.id"
        [draggable]="isReorderingAllowed"
        *ngFor="let task of tasks"
        cdkDrag
        [cdkDragStartDelay]="dragStartDelay"
        [cdkDragDisabled]="!isReorderingAllowed"
      ></app-task-item>
    </div>
  </div>
  <app-disclaimer size="medium" *ngIf="!tasks || tasks.length == 0" icon="information-fill">
    {{ "Tasks.EmptyList" | translate }}
  </app-disclaimer>
</div>

<div class="disclaimer-wrapper" *ngIf="!taskFeatureEnabled">
  <app-disclaimer icon="chat-smile-3">
    {{ "Tasks.NotYet" | translate }}
  </app-disclaimer>
</div>
<div class="button" (click)="onImport.emit()" *ngIf="!taskFeatureEnabled">
  <img src="assets/icon-plug.ffffff.svg" />
  {{ "Tasks.ImportExternal" | translate }}
</div>

<app-edit-task-modal #editTaskModal
  *ngIf="roomId && selectedTask"
  [roomId]="roomId"
  [task]="selectedTask"
  [isSignedIn]="isSignedIn"
></app-edit-task-modal>

<app-create-task-modal #createTaskModal
  *ngIf="roomId"
  [roomId]="roomId">
</app-create-task-modal>

