@import "../shared";

:host {
  height: 100%;

  .disclaimer-wrapper {
    margin-bottom: 8px;
  }

  app-disclaimer {
    font-family: var(--font-sans);
    font-size: var(--text-xxs);
    font-weight: var(--font-normal);
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }

  .scrolling-outer {
    position: relative;
    overflow: auto;
    flex-grow: 1;
  }

  .scrolling-inner {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
