<app-button flavor="control-small" gap="2" (click)="unlockImportRestriction()">
  <span>{{ "Import.ImportAll" | translate }}</span>
  <app-feature-lock [unlocked]="false" />
</app-button>

<app-auth-modal #authModal>
</app-auth-modal>
