@import "../../../assets/styles/_color.scss";
@import "../../../assets/styles/_transition.scss";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  font-size: var(--text-sm);
  line-height: var(--line-sm);
  color: var(--color-gray-50);

  .interaction {
    margin-top: var(--spacing-4);
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: var(--spacing-1);
  }

  .close-button {
    height: var(--spacing-4);
    aspect-ratio: 1;
    cursor: pointer;
  }

  .interaction-box {
    border: var(--spacing-px) solid var(--color-gray-50);
    display: flex;
    justify-content: space-between;
  }

  .feedback .interaction-box,
  .email .interaction-box {
    min-height: calc(var(--spacing-16) + var(--spacing-1));
  }

  .interaction-content {
    display: flex;
    width: 100%;

    input,
    textarea {
      margin: var(--spacing-2);
      outline: none;
      border: none;
      background: transparent;
      color: inherit;
      font-size: var(--text-xs);
      font-family: inherit;
    }
    textarea {
      width: calc(100% - 2 * var(--spacing-2));
      height: calc(100% - 2 * var(--spacing-2));
      resize: none;
    }
  }

  .feedback {
    .interaction-content {
      min-width: var(--spacing-24);
    }
  }

  .interaction-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--spacing-14);
    flex-shrink: 0;
    background-color: white;
    border: none;
    position: relative;

    span {
      position: absolute;
      display: none;
    }

    &.busy {
      span {
        display: initial;
      }
    }
  }

  .invite input {
    cursor: pointer;
  }

  .overlay-wrapper {
    width: 100%;
    position: relative;
  }

  .interaction-status-overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    color: var(--color-modal-background);
    pointer-events: none;
    @include transition-all;
    @include duration-500;
    opacity: 0;
    text-align: center;

    &.visible {
      @include duration-0;
      opacity: 1;
    }
  }

  .icon {
    aspect-ratio: 1;
    height: var(--spacing-6);
  }

  @media only screen and (max-height: 700px) {
    &.feedback {
      display: none;
    }
  }

  .feedback-wrapper {
    position: relative;
    height: 112px;
    overflow: hidden;
  }

  .interaction.feedback {
    position: absolute;
    transition: 400ms all;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    &.animate {
      transition: 400ms all;
      left: -150%;
      top: 0;
    }
  }

  .interaction.email {
    position: absolute;
    transition: left 400ms;
    width: 100%;
    height: 100%;
    left: 150%;
    top: 0;

    &.animate {
      transition: left 400ms;
      left: 0;
      top: 0;
    }
  }
}
