<div class="interaction invite">
  <div class="label">
    {{ "InteractionBox.InviteLink" | translate }}
  </div>
  <div class="interaction-box">
    <div class="interaction-content">
      <div class="overlay-wrapper">
        <input
          #inviteLinkInput
          selectable
          value="{{ inviteLink }}"
          readonly
          (click)="copyToClipboard()"
        />
        <span
          class="interaction-status-overlay"
          [class.visible]="inviteLinkCopied"
          >{{ "InteractionBox.Clipboard" | translate }}</span
        >
      </div>
    </div>
    <button
      class="interaction-button"
      [class.busy]="inviteLinkCopied"
      clickable
      (click)="copyToClipboard()"
    >
      <img
        class="icon"
        src="assets/icon-clipboard-line.black.svg"
        *ngIf="!inviteLinkCopied"
      />
      <img
        class="icon"
        src="assets/icon-check.black.svg"
        *ngIf="inviteLinkCopied"
      />
    </button>
  </div>
</div>

<div class="feedback-wrapper">
  <form
    class="interaction feedback"
    [class.animate]="showEmailForm"
    (ngSubmit)="submitFeedback()"
  >
    <div class="label">
      {{ "InteractionBox.MakeBetter" | translate }}
    </div>
    <div class="interaction-box">
      <div class="interaction-content">
        <div class="overlay-wrapper">
          <textarea
            #feedbackInput
            name="content"
            [placeholder]="'InteractionBox.Feedback' | translate"
            [formControl]="feedbackControl"
          ></textarea>
          <span
            class="interaction-status-overlay"
            [class.visible]="busy"
            >{{ output }}</span
          >
        </div>
      </div>
      <button
        class="interaction-button"
        [class.busy]="busy"
        clickable
        type="submit"
      >
        <img
          class="icon"
          src="assets/icon-mail-send-line.black.svg"
          *ngIf="!busy || !feedbackControl.value"
        />
        <img
          class="icon"
          src="assets/icon-check.black.svg"
          *ngIf="busy && feedbackControl.value"
        />
      </button>
    </div>
  </form>

  <form
    class="interaction email"
    [class.animate]="showEmailForm"
    (submit)="submitEmail()"
  >
    <div class="label">
      {{ "InteractionBox.NotifyMe.Label" | translate }}
      <img
        class="close-button"
        src="assets/icon-close-circle.ffffff.svg"
        alt="Close"
        (click)="cancelEmailForm()"
      />
    </div>
    <div class="interaction-box">
      <div class="interaction-content">
        <div class="overlay-wrapper">
          <textarea
            [formControl]="emailControl"
            [placeholder]="'InteractionBox.NotifyMe.Placeholder' | translate"
          ></textarea>
          <span
            class="interaction-status-overlay"
            [class.visible]="busy"
            >{{ output }}</span
          >
        </div>
      </div>
      <button
        class="interaction-button"
        [class.busy]="busy"
        clickable
        type="submit"
      >
        <img
          class="icon"
          src="assets/icon-notification-3-line.black.svg"
          *ngIf="!busy || !emailControl.value"
        />
        <img
          class="icon"
          src="assets/icon-check.black.svg"
          *ngIf="busy && emailControl.value"
        />
      </button>
    </div>
  </form>
</div>
