@import "../../../../assets/_mixins.scss";
@import "../../../../assets/styles/_transition.scss";

:host {
  .hand {
    .card.revealed {
      cursor: not-allowed;
    }

    .card:not(.revealed):not(.placed) {
      &:hover {
        background: #47596f;
      }

      &.chosen {
        background: var(--color-primary);
        border-color: var(--color-primary);

        .value {
          color: #fff;
        }
      }
    }

    .card {
      position: absolute;
      transition:
        top 300ms ease-in,
        opacity 200ms ease-in,
        background 300ms linear,
        border-color 300ms linear,
        visibility 0ms ease-in 0ms;

      &.placed {
        transition:
          top 300ms ease-out,
          opacity 200ms ease-out,
          background 300ms linear,
          border-color 300ms linear,
          visibility 300ms ease-out 300ms;
      }

      &.card-break {
        cursor: pointer;
      }
    }
  }

  .card {
    background: #32465f;
    border: 2px solid #495971;
    border-radius: 10px;
    width: 100px;
    height: 176px;
    padding: 0.6em;
    transform-origin: bottom;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    transition:
      left,
      top,
      transform 200ms ease-in;

    img {
      pointer-events: none;
    }

    .back {
      display: none;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        width: 40%;
      }
    }

    .front {
      display: flex;
      justify-content: center;
      align-items: center;

      .value {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform-origin: top;
        transform: translate(50%, 0%) rotate(45deg);
        padding: 8px 0 2px 0;
        background: var(--color-card-label-background);
        color: var(--color-gray-50);
        font-family: var(--font-sans);
        font-size: 0.8em;
        font-weight: var(--font-medium);
        line-height: 12px;
        letter-spacing: 0em;
        text-align: center;

        img {
          height: 1em;
        }
      }
    }

    &.covered {
      .back {
        display: flex;
      }
      .front {
        display: none;
      }
    }

    &.unplayed .name-label {
      color: #4d5c71;
      text-shadow: none;
    }
  }

  .cards-wrapper {
    position: absolute;
    left: calc(50% - 123.2px / 2);
  }
}
