<div class="hand" *ngIf="player && player.type !== 'inspector'">
  <div class="cards-wrapper">
    <div
      class="card card-break"
      *ngIf="containsBreakCard"
      [class.chosen]="isBreakCardChosen()"
      [class.placed]="isBreakCardPlaced()"
      [style]="getStyle(numCards() - 1)"
      (click)="onBreakCardClicked.emit()"
    >
      <div class="front">
        <div class="value">
          <img src="../../../../assets/icon-cup.svg" class="icon" />
        </div>

        <img
          *ngIf="player?.avatar"
          src="assets/player-{{ player.avatar }}.svg"
        />
      </div>
    </div>
    <ng-container *ngFor="let card of seriesReversed; let i = index">
      <div
        *ngIf="card.value"
        class="card"
        [class.revealed]="isCardsRevealed()"
        [class.chosen]="isCardChosen(card.value)"
        [class.placed]="isCardPlaced(card.value)"
        [style]="getStyle(card.cardIndex)"
        (click)="onCardClicked.emit(card.value)"
      >
        <div class="front">
          <div class="value">{{ card.value }}</div>
          <img
            *ngIf="player?.avatar"
            src="assets/player-{{ player.avatar }}.svg"
          />
        </div>
      </div>
    </ng-container>
  </div>
</div>
