:host {
  --color-border: var(--color-gray-50);
  --color-switch-background: var(--color-gray-50);
  --color-switch-on: var(--color-primary);
  --color-switch-off: var(--color-modal-background);

  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--color-border);
  padding: var(--spacing-4);
  margin: var(--spacing-4) 0;
  width: 100%;

  .checkbox {
    width: 2.5rem;
    height: 1.75rem;
    border: solid 1px white;
    position: relative;
    margin-left: 1em;

    transition: background 150ms ease-in-out;

    &.on {
      background: var(--color-switch-on);
    }

    &.off {
      background: var(--color-switch-off);
    }
  }

  .switch {
    box-sizing: border-box;
    width: 1.25rem;
    height: 1.75rem;
    background: var(--color-switch-background);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in-out;

    &.on {
      top: 0;
      left: 1.25rem;
      border: solid 1px var(--color-switch-on);
      color: var(--color-switch-on);
    }

    &.off {
      top: 0;
      left: 0;
      border: solid 1px var(--color-switch-off);
      color: var(--color-switch-off);
    }
  }

  .label {
    font-weight: var(--font-extralight);
  }
}
