<div class="label">{{ label }}</div>

<div class="checkbox" [class.on]="checked" [class.off]="!checked">
  <div class="switch" [class.on]="checked" [class.off]="!checked">
    <svg
      *ngIf="!checked"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="9"
      height="9"
    >
      <circle
        style="
          fill: none;
          stroke: currentColor;
          stroke-width: 3;
          stroke-dasharray: none;
        "
        id="path250"
        cx="12"
        cy="12"
        r="9.0"
      />
    </svg>
    <svg
      *ngIf="checked"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="9"
      height="9"
    >
      <path
        style="
          fill: none;
          stroke: currentColor;
          stroke-width: 3;
          stroke-dasharray: none;
        "
        d="M 12,0.8796958 V 23.120304"
        id="path3178"
      />
    </svg>
  </div>
</div>
