<div class="drag-wrapper">
<div class="drag-handle" [class.selected]="selected" cdkDragHandle *ngIf="draggable">
  <img src="assets/icon-draggable-black.svg"/>
</div>
<div class="wrapper" [class.selected]="selected">
  <h1 class="subject">
    {{ task.subject }}
  </h1>
  <div class="description" [class.selected]="selected">
    <app-rich-text-view [content]="plainTaskDescription"></app-rich-text-view>
  </div>
  <div class="estimate" [class.selected]="selected">
    <span *ngIf="task.estimate !== ''">{{ task.estimate }}</span>
    <span *ngIf="task.estimate === '' && selected"><img src="assets/icon-scales-3-fill.svg" alt=""/></span>
    <span *ngIf="task.estimate === '' && !selected">{{ "\u2014" }}</span>
  </div>
  <div *ngIf="selectable && !selected">
    <app-button [busy]="busy" flavor="control-small" px="2" (click)="select($event)">{{ "Vote" | translate }}</app-button>
  </div>
</div>
</div>
