@import "../../../assets/styles/color";

:host {
  font-family: var(--font-sans);

  --selected-color: #fbbf24;

  .drag-wrapper {
    display: flex;
    flex-direction: row;
  }

  .drag-handle {
    width: var(--spacing-3);
    display: grid;

    cursor: grab;

    background: var(--color-gray-100);

    &.selected {
      background: var(--selected-color);
    }

    img {
      place-self: center;
    }
  }


  h1,
  p {
    margin: 0;
  }

  &.cdk-drag-placeholder {
    visibility: hidden;
  }

  &.cdk-drag-preview {
    padding: 0;
    border: solid var(--spacing-0_5) var(--color-primary);
  }

  .wrapper {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 64px;
    gap: 4px;

    background-color: var(--panel-background-color, rgb(33, 33, 41));
    color: var(--color-gray-100);
    border: 1px solid var(--color-gray-100);

    cursor: pointer;
  }

  .wrapper.selected {
    border-color: var(--selected-color);
  }

  .subject {
    grid-row: 1;
    grid-column: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--text-xs);
    font-weight: var(--font-semibold);
    line-height: normal;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .description {
    grid-row: 2;
    grid-column: 1;
    height: var(--spacing-8);

    font-size: var(--text-xs);
    font-weight: var(--font-normal);
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .description.selected {
    grid-row: 2 / span 2;
    height: var(--spacing-16);
    -webkit-line-clamp: 4;
  }

  .estimate {
    grid-row: 1 / span 3;
    grid-column: 2;

    color: var(--color-gray-900);
    background: var(--color-gray-100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 64px;
    min-width: 64px;

    gap: 10px;
    align-self: stretch;

    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    line-height: normal;

    img {
      height: var(--spacing-6);
      aspect-ratio: 1;
    }
  }

  .estimate.selected {
    background-color: var(--selected-color);
  }

  app-button {
    display: block;
    width: fit-content;
    height: var(--spacing-7);
  }

  .invisible {
    visibility: hidden;
  }
}
