:host {
  .circular-progress {
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
  }

  .circular-progress::before {
    content: "";
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: var(--color-modal-background);
  }

  .progress-value {
    position: relative;
    font-size: 8px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    transform: rotate(90deg);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
