:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  position: absolute;
  z-index: var(--z-index-snackbar);
  bottom: var(--spacing-6);
  right: var(--spacing-6);

  app-notification {
    width: fit-content;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.17));
  }
}
